﻿@model NVIDev.Models.RoleViewModel
    @{
        ViewBag.Title = "Edit Role";
    }

    @{
        var deets = (NVIDev.Models.ApplicationUser)ViewBag.User;
    }

    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="col-md-12">
        <div class="form-horizontal">

            <div class="ibox-title">
                <h2>Change Role</h2>
            </div>


            <div class="ibox-content col-md-12">

                <div class="col-md-6">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <dl class="col-md-12 dl-horizontal ">

                            <dt>
                                @Html.Label(" User Name:")
                            </dt>
                            <dd>
                                @Html.DisplayFor(m => m.UserName)
                            </dd>

                            <dt>@Html.Label("Roles:", new { @class = "control-label" })</dt>
                            <dd>
                                <div class=" duties-droplist  clearfix">
                                    Select Roles
                                    <ul class=" duties-droplist-list">
                                        @{
        foreach (var role in Model.Roles)
        {

                                    @Html.Partial("UseRole", role)

        }
                                        }

                                    </ul>
                                </div>
                            </dd>

                        </dl>
                    </div>

                    @Html.HiddenFor(m => m.UserID)



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4>Admin</h4>
                        <div>
                            <p>Admins have full access to the tool. The can create and manage projects as well as users.</p>

                        </div>
                    </div>
                    <div class="col-md-6">

                        <h4>Users</h4>
                        <div>
                            <p>Admins have limited access to the tool. The can create and manage projects.</p>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>

   
          

     

    }

@section Scripts {
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/duties.js")
}
