﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Company";

    List<NVIDev.Models.CompanyProjView> companyProjects = (List<NVIDev.Models.CompanyProjView>)ViewBag.CompanyProjects;
    List<NVIDev.Models.CompanyUserView> companyUser = (List<NVIDev.Models.CompanyUserView>)ViewBag.CompanyUsers;
    List<NVIDev.Models.Audit> audits = (List<NVIDev.Models.Audit>)ViewBag.Audits;

    int count = 0;

}

<div class="form-horizontal row">
    <h4 class="ibox-title">Company | <b></b>@ViewBag.Company</h4>


    <hr />

    <ul class="nav nav-tabs">
        <li class="active" id="link1"><a href="#" onclick="MoveTo(1)">Projects</a></li>
        <li id="link2"><a href="#" onclick="MoveTo(2)">Employees</a></li>
        <li id="link3"><a href="#" onclick="MoveTo(3)">Audits</a></li>


    </ul>

    <div class="tab-content active" id="tab1">

        <div class="panel">
            <h4><span class="label label-primary">@companyProjects.Count</span> Projects</h4>

            <table class="table">
                <tr>

                    <th>
                        Client
                    </th>


                    <th>
                        Country
                    </th>
                    <th>
                        Plan
                    </th>


                    <th>Status</th>

                    <th>Current User</th>
                    <th></th>
                </tr>

                @foreach (var item in companyProjects)
                {
                    <tr>
                        <td>
                            @item.Client
                        </td>
                        <td>@item.Country</td>

                        @{
                    if (string.IsNullOrWhiteSpace(item.Type))
                    {
                        <td>Not Assigned</td>
                    }

                    else
                    {
                        <td>@item.Type</td>
                    }
                        }

                        @{
                    if (item.Status == "Ready")
                    {
                        <td class="text-success">@item.Status</td>

                    }

                    else
                    {
                        <td class="text-danger">@item.Status</td>

                    }
                        }

                        <td>@item.CurrentUser</td>
                        <td>@Ajax.ActionLink("Transfer", "TransferProject", new { id = item.id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Popper" })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="tab-content hidden" id="tab2">
        <div class="panel">
            <h4><span class="label label-primary">@companyUser.Count</span> Users</h4>

            <table class="table">
                <tr>

                    <th>
                        Fullname
                    </th>


                    <th>
                        Username
                    </th>
                    <th>
                        Roles
                    </th>



                    <th></th>
                </tr>

                @foreach (var item in companyUser)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Username</td>
                        <td>@item.Roles</td>



                        <td>@Html.ActionLink("Edit Roles", "Edit", new { id = item.id })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="tab-content hidden" id="tab3">
        <div class="panel">
            <h4><span class="label label-warning">@audits.Count</span> Audits</h4>

            <table class="table table-condensed">
                <tr>

                    <th>
                        #
                    </th>


                    <th>
                        Content
                    </th>
                    <th>
                        Date
                    </th>



                </tr>

                @foreach (var item in audits)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Content</td>
                        <td>@item.Time</td>



                    </tr>
                }
            </table>
        </div>
    </div>


</div>

<div id="Popper"></div>
@section Scripts
{
    @Scripts.Render("~/Scripts/Tabs.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")




}