﻿



/* Set padding to keep content from hitting the edges */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.Item-Ready {
    border-bottom: 2px solid green;
}

.Item-Notready {
    border-bottom: 2px solid red;
}


/*Loading Spinner Styles*/
#loading {
    display: normal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 1000;
}

#loadingcontent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#loadingspinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 80px;
}


.Table-Input2 {
    width: 50px;
}

.Logo-Pic {
    max-height: 150px;
    max-width: 300px;
}

@media screen and (max-width:300px) {
    .project-summary {
        visibility: collapse;
    }
}

.project-summary {
    position: fixed;
    top: 100px;
    right: 0;
    padding-right: 100px;
    z-index: 1000;
    text-align: right;
    background-color: white;
}

#summary-table td {
    width: 100px;
    border: 4px solid white;
}

#summary-table th {
    text-align: right;
}

#summary-table td:first-of-type {
    width: auto;
    background-color: #bddadd;
    /*189 218 221*/
}


.tbox {
    /*display:inline-block;*/
    padding-left: 20px;
}



.duties-droplist {
    border: 1px solid silver;
    cursor: pointer; /* use correct mouse pointer when hovering over the dropdown */
    width: 185px;
    position: relative;
    /*margin: 0 auto;*/
    z-index: 1000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*background-color:lightgray;*/
}

    /* Display CSS arrow to the right of the dropdown text */
    .duties-droplist :after {
        /*content:'';*/
        height: 0;
        position: absolute;
        width: 0;
        border: 6px solid transparent;
        border-top-color: #000;
        top: 50%;
        right: 10px;
        margin-top: -3px;
    }

    /* Reverse the CSS arrow when the dropdown is active */
    .duties-droplist .is-active:after {
        border-bottom-color: #000;
        border-top-color: #fff;
        margin-top: -9px;
    }

.duties-droplist-list {
    /*z-index:1001;*/
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
    opacity: 0; /* hide the dropdown */
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
}

.is-active .duties-droplist-list {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.duties-droplist-list li {
    z-index: 1500;
    background-color: white;
    height: 30px;
    /*border-bottom: 2px solid silver;*/
}

    .duties-droplist-list li label {
        display: block;
        padding: 10px;
        padding-top: 0;
        z-index: 1230;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .duties-droplist-list li label:hover {
            background-color: #3959c1;
            color: white;
        }
/*
    The dropdown list is a set of rendered partials
    --Each has a check box and name
    It needs to look and feel like a drop down box

    Each item needs to be style as well as the parent dropdown
*/


.COO {
    position: fixed;
    top: 40%;
    right: 40%;
    visibility: visible;
    background-color: white;
    border-radius: 5px;
    border: 3px solid gray;
    width: 350px;
    padding: 10px;
}

.Currency {
    position: fixed;
    top: 40%;
    right: 30%;
    visibility: visible;
    background-color: white;
    border-radius: 5px;
    border: 3px solid gray;
    width: 550px;
    padding: 10px;
}



.COO2 {
    /*position:absolute;
    top:250px;
      left:700px;*/
    width: 100%;
    align-self: center;
    visibility: visible;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 50px;
    /*min-height:560px;*/
    z-index: 300;
    padding: 10px;
}

#TaxTable tr {
    border: 1px solid white;
    padding: 2px;
}

#map-canvas {
    height: 360px;
    width: 100%;
    z-index: 300;
}

#address1 {
    width: 200px;
}

.text-readonly {
    padding-top: 5px;
}

.proposal-input-header {
    background-color: #506e94;
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.table2 {
    width: 100%;
}

    .table2 tr {
        width: 200px;
    }


#nviColorPallet {
    /*color: #e3e4e6; R: 227 G: 228 B: 230  background*/
    /*color:#3c536f;R: 60 G: 83 B: 111 text*/
}


.nav-pills.nav-wizard {
}


    .nav-pills.nav-wizard > li {
        position: relative;
        overflow: visible;
        border-right: 15px solid #fff;
        border-left: 15px solid #fff;
        margin-top: 10px;
    }

        .nav-pills.nav-wizard > li:first-child {
            border-left: 0;
        }

            .nav-pills.nav-wizard > li:first-child a {
                border-radius: 5px 0 0 5px;
            }

        .nav-pills.nav-wizard > li:last-child {
            border-right: 0;
        }

            .nav-pills.nav-wizard > li:last-child a {
                border-radius: 0 5px 5px 0;
            }

        .nav-pills.nav-wizard > li a {
            border-radius: 0;
            background-color: #6A737B;
            color: white;
        }

        .nav-pills.nav-wizard > li .nav-arrow {
            position: absolute;
            top: 0px;
            right: -20px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 20px 0 20px 20px;
            border-color: transparent transparent transparent #6A737B;
            z-index: 120;
        }

        .nav-pills.nav-wizard > li .nav-wedge {
            position: absolute;
            top: 0px;
            left: -20px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 20px 0 20px 20px;
            border-color: #6A737B #6A737B #6A737B transparent;
            z-index: 150;
        }

        .nav-pills.nav-wizard > li:hover .nav-arrow {
            border-color: transparent transparent transparent #aaa;
        }

        .nav-pills.nav-wizard > li:hover .nav-wedge {
            border-color: #aaa #aaa #aaa transparent;
        }

        .nav-pills.nav-wizard > li:hover a {
            background-color: #aaa;
            color: #fff;
        }

        .nav-pills.nav-wizard > li.active .nav-arrow {
            border-color: transparent transparent transparent #77A140;
        }

        .nav-pills.nav-wizard > li.active .nav-wedge {
            border-color: #77A140 #77A140 #77A140 transparent;
        }

        .nav-pills.nav-wizard > li.active a {
            background-color: #77A140;
        }


.mtab {
    background-color: #1ab394;
    opacity: 1;
    padding: 10px;
    color: white;
}

    .mtab:hover {
        opacity: 0.7;
    }


.offer {
    text-align: center;
    width: 200px;
    height: 400px;
    font-size: 9px;
    padding: 5px;
    margin: 5px;
    color: white;
    position: relative;
    border: 2px solid lightgrey;
    float: left;
    border-radius: 3px;
    background-color: #aaa;
}


    .offer p {
        text-align: left;
    }

    .offer h5 {
        color: white;
    }

    .offer:hover {
    font-size: 9px;
        width: 210px;
        height: 410px;
    }


    .offer input
    {
        color:black;
    }

    .offer .input-group-addon{
        color:black;
    }

    .offer .offer-on {
        width: 250px;
        height: 430px;
            border: 3px solid black;

    }



.offer-on {
    font-size: 9px;
    width: 250px;
    height: 430px;
    border: 3px solid black;
}

    .offer-on:hover {
    font-size: 9px;
        width: 250px;
        height: 430px;
    }

.offer .glyphicon {
    position: absolute;
    top: 3px;
    right: 2px;
}


.lower-text{
   padding-top:6px;
   margin-top:0px;
}

.popup{
       position: fixed;
    top: 20px;
    right: 30%;
    visibility: visible;
    background-color: white;
    border-radius: 5px;
    border: 3px solid gray;
   
    padding: 10px;
}

.cost-popup{
  
    width: 550px;
}

