﻿
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                        Variables <span class="caret"></span>
                    </a>

                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("Variables", "Variables", "Admin")</li>
                        <li>@Html.ActionLink("Currencies", "Currencies", "Admin")</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                        Projects <span class="caret"></span>
                    </a>

                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("All Projects", "Projects", "Admin")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                        Equipment <span class="caret"></span>
                    </a>

                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("Equipment", "EquipmentList", "Admin")</li>
                        <li>@Html.ActionLink("Categories", "Categories", "Admin")</li>
                        <li>@Html.ActionLink("Countries of Origin", "COO", "Admin")</li>
                        <li>@Html.ActionLink("Ports", "Ports", "Admin")</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                        Fees <span class="caret"></span>
                    </a>

                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("Fees", "Fees", "Admin")</li>
                        <li>@Html.ActionLink("Duties", "Duties", "Admin")</li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                        Document <span class="caret"></span>
                    </a>

                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("TP Information", "Index", "Document")</li>
                        <li>@Html.ActionLink("Document", "ApprovedDocument", "Document")</li>


                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Audits", "Audits", "Admin")

                    @*<ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("All Audits", "Audits")</li>


                        </ul>*@
                </li>

            </ul>
        </div>
    </nav>
</div>