﻿<div class="footer">
    <div class="pull-right">
    </div>
    <div>

        <strong>Copyright</strong> &copy; @DateTime.Now.Year - NVI Energy Solutions || Powered By : <a href="http://www.jmlabs.co.za/">JMLabs</a>
    </div>
</div>

