﻿@*<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S4A -@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Content/Images/Fav.ico" type="image/ico" />

</head>




<body > 


    <div >
        <div id="loading">
            <div id="loadingcontent">
                <p id="loadingspinner">Loading...</p>
            </div>
        </div>

        <div >
            <nav class="navbar navbar-static-top white-bg" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Solar  Africa", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("My Projects", "Index", "Project")</li>

                            @{
                                if (User.IsInRole("NVIAdmin"))
                                {
                                    <li>@Html.ActionLink("Company", "Index", "Company")</li>

                                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>

                                }
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>


            <div class="wrapper-content">
                @RenderSection("Submenu", false)
            </div>
        </div>

        @RenderSection("ProjectSum", false)
        <div class="wrapper-content white-bg">
            @RenderBody()

            <footer class="footer">
                <p class="center-block">&copy; @DateTime.Now.Year - NVI Energy Solutions || Powered By : <a href="http://www.jmlabs.co.za/">JMLabs</a></p>
            </footer>

        </div>
            <hr />
            


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/Loader.js")


        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Scripts/spin.min.js")

    </div>
</body>
</html>*@


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>S4A -@ViewBag.Title</title>
    @{
        var oApp = System.Configuration.ConfigurationManager.AppSettings["ProjectName"].ToString(System.Globalization.CultureInfo.InvariantCulture);

    }
    <script type="text/javascript">
        var oApp = '@oApp';
    </script>
    <link rel="shortcut icon" href="~/Content/Images/Fav.ico" type="image/ico" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")


</head>
<body class="top-navigation pace-done">
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">Loading...</p>
        </div>
    </div>
    <!-- Wrapper-->
    <div id="wrapper" >

        <!-- Navigation -->
        @*@Html.Partial("_Navigation")*@

        <!-- Page wraper -->
        <div id="page-wrapper" class=" gray-bg" >

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")
            @RenderSection("Submenu", required: false)

            <!-- Main view  -->
            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>
           

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/metsiMenu")
    @*@Scripts.Render("~/plugins/pace")*@
    @Scripts.Render("~/plugins/slimScroll")
    @*@Scripts.Render("~/bundles/inspinia")*@
    @Scripts.Render("~/Scripts/Loader.js")


    @Scripts.Render("~/Scripts/spin.min.js")


    @RenderSection("scripts", required: false)
</body>
</html>
