﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-top-links navbar-right">
        <li>User : 
            @{
        if (Session["LoginName"] != null)
        {
            @Html.Label(Session["LoginName"].ToString(), new { @class = "label " });
        }
            }
        </li>
        <li>
            @Html.ActionLink("My Account", "ManageDetails", "Manage", routeValues: null, htmlAttributes: new { title = "Account Settings" })
        </li>
        <li>
            @Html.ActionLink("Help", "About", "Home", routeValues: null, htmlAttributes: new { title = "Account Settings" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
