﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="glyphicon glyphicon-cog"></span>
                </button>
                @Html.ActionLink("SolarAfrica", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.IsInRole("NVIAdmin"))
                        {
                            <li>@Html.ActionLink("My Projects", "Index", "Project")</li>

                            <li>@Html.ActionLink("Company", "Index", "Company")</li>

                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>

                           @*<li>@Html.ActionLink("Document", "ApprovedDocument", "Document")</li>*@

                        }
                        else if (User.IsInRole("TPAdmin") || User.IsInRole("TPUser"))
                        {
                            <li>@Html.ActionLink("My Projects", "Index", "Project")</li>

                            <li>@Html.ActionLink("Attach Documents", "AttachDocument", "Document")</li>
                        }

}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
    </nav>
</div>


