
div.pq-grid {
    background: url("") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
}
div.pq-grid-top {
    background: none repeat scroll 0 0 #eee;
    color: #666;
}
div.pq-grid-bottom {
    background: none repeat scroll 0 0 #eee;
    color: #333;
}
.pq-grid div.pq-header-outer {
    background: none repeat scroll 0 0 #eee;
    border-bottom: 1px solid #c5c5c5;
}
.pq-grid span.pq-grid-header {
    background: -moz-linear-gradient(center top , #fefefe, #e6e6e6) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.pq-grid-header td.pq-col-sort-asc, .pq-grid-header td.pq-col-sort-desc {
    background: url("images/column-header-over-bg.gif") repeat-x scroll 0 top #ebf3fd;
}
.pq-grid td.pq-grid-col {
    border-bottom-width: 0;
    border-left-width: 0;
    color: #666;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}
div.pq-cont {
    background: none repeat scroll 0 0 #fff;
}
div.pq-cont * {
    font-weight: normal;
}
td.pq-grid-cell {
    background: none repeat scroll 0 0 #fff;
    color: #333;
}
tr.pq-grid-oddRow td {
    background: none repeat scroll 0 0 #fafafa;
}
div.pq-hvscroll-square {
    background: none repeat scroll 0 0 #eee;
}
tr.pq-grid-row-hover td {
    background-color: #d8e8fa;
}
tr.pq-row-select td {
    background-color: #6699cc;
    color: #fff;
}
div.pq-grid tr td.pq-grid-cell-hover {
    background: none repeat scroll 0 0 #d8e8fa;
    border-width: 0;
}
.pq-grid tr td.pq-grid-number-cell {
    background: none repeat scroll 0 0 #e4ecf7;
    color: #333;
}
div.pq-grid tr td.pq-cell-select {
    background: none repeat scroll 0 0 #88bbdd;
    color: #fff;
}
.pq-grid div.pq-loading-mask {
    background: none repeat scroll 0 0 #dae5f3;
    border: 1px solid steelblue;
    color: #333;
    font-weight: normal;
}
div.pq-loading-mask div {
    background: none repeat scroll 0 0 #ddd;
    border: 1px solid #999;
}
