/**
* ParamQuery Grid a.k.a. pqGrid v1.1.3
*
* Copyright (c) 2012-2013 Paramvir Dhindsa
* Released under GPL v3 license
* http://paramquery.com/license
*
*/
div.pq-grid{
font-family: Tahoma;
font-size: 11px;
overflow:hidden;
position:relative;
}
div.pq-grid *{
font-family: Tahoma;
font-size:11px;	
margin: 0px;
padding: 0px;
line-height:normal;	
}
div.pq-grid *:focus{
outline:1px dotted gray;
}
div.pq-grid-top{
border-width:0px;
}
div.pq-grid-title{
border-bottom:1px solid #c5c5c5;
zoom:1;
padding:5px;	
overflow:hidden;	
}
div.pq-grid-toolbar{	
border-top:1px solid #fff;	
border-bottom:1px solid #c5c5c5;	
padding:3px 5px 4px;	
zoom:1;
overflow:hidden;	
}
div.pq-grid-toolbar .ui-button
{
margin:0px 4px;
}
div.pq-grid div.draggable{
cursor:move;
}
div.pq-grid-bottom{
border-top:1px solid #c5c5c5;
border-top-width:0px;
position:relative;
}
div.pq-grid-footer{
border-top:1px solid #fff;
padding:2px 5px 2px;
overflow:hidden;	
position:relative;
}	
div.pq-grid-inner{
position:relative;
width:100%;
overflow-x:hidden;
overflow-y:hidden;
}	
div.pq-grid-right{
position:relative;overflow:hidden;
display:block;
}
div.pq-header-outer{
position:relative;
border-width:0px;
overflow:hidden;
width:100%;
z-index:1
}
.pq-grid span.pq-grid-header{
position:absolute;
top:-2px;	
cursor:default;
display:inline-block;
overflow:hidden;	
border-width:0px;
}
.pq-grid-header td{
}
.pq-grid-header td.pq-col-sort-asc,.pq-grid-header td.pq-col-sort-desc{
}
.pq-grid-header .pq-col-sort-asc .pq-col-sort-icon{
padding-right:16px;
height:16px;width:16px;
BACKGROUND: url(images/sort_asc.gif) no-repeat right 6px;
}
.pq-grid-header .pq-col-sort-desc .pq-col-sort-icon{
padding-right:16px;
BACKGROUND: url(images/sort_desc.gif) no-repeat right 6px;
}
.pq-grid-col-resize-handle{	
cursor:w-resize;
display:block;	
width:20px;
height:22px;
background:;
z-index:2;
position:absolute;top:0px;
}
.pq-grid-drag-bar{
position:absolute;width:1px;z-index:100;top:0px;
background-color:#000;
}
div.pq-grid .pq-align-right{
text-align:right;
}
div.pq-grid .pq-align-right *{
text-align:right;
}
div.pq-grid .pq-align-center{
text-align:center;
}
div.pq-grid .pq-align-center *{
text-align:center;
}
div.pq-cont-right{
position:relative;
overflow:hidden;
border-width:0px;
}
div.pq-cont{	
overflow:hidden;
border-top:0px;
width:100%;	
position:relative;
}
.pq-grid .pq-cont .ui-state-hover{
font-weight:normal;
}
table.pq-grid-table{
border-spacing:0px;
table-layout:fixed;width:0px;
position:relative;
top:0px;
margin-top:-1px;	
}
table.pq-grid-header-table{
table-layout:fixed;width:0px;
border-spacing:0px;	
}
table.pq-grid-header-table div.pq-grid-header-table-div{
padding:5px;
}	
table.pq-grid-header-table td{
}
div.pq-grid-header_ddn_icon{
position:absolute;top:0;width:16px;height:100%;border-left:1px solid #fff;
background:url('images/ddn.png') no-repeat 40% 45%;	
}
div.pq-grid-header_ddn_icon_bg{
display:none;position:absolute;top:0;width:17px;height:100%;border-left:1px solid #ccc;
background: url('images/column-header-bg.png');
text-align:left !important;	
}
div.ui-resizable-handle{
z-index:1;
}
.pq-grid td.pq-grid-col{
overflow: hidden;
border-width:0px;
border-right:1px solid #cfcfcf;
border-top:1px solid #cfcfcf;
}
td.pq-grid-number-col{	
border-right:1px solid #cfcfcf;
}
.pq-grid .pq-col-drag-helper{
border:1px solid steelblue;background:#fff;padding:3px;
}
.pq-grid .pq-col-drag-helper .pq-drag-icon{
background:url("images/cross.png");
height:16px;
width:16px;
margin-right:5px;	
margin-bottom:-3px;
display:inline-block;
}
.pq-grid .pq-drag-accept .pq-drag-icon{
background:url("images/tick.png");
}
.pq-grid td.pq-drop-hover{
background:#fff;
background-image:url("");
}
div.pq-grid-col-resize-handle{
}
tr.pq-row-hidden{
visibility:hidden;
height:1px;
}
div.pq-grid tr{
}	
td.pq-grid-cell{
overflow:hidden;
padding:0px;
vertical-align:top;
}	
td div.pq-td-div{
padding:4px 5px;	
}
.pq-wrap-text{	
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}	
table.pq-grid-td-border-right td.pq-grid-cell{	
border-right:1px solid #d0d0d0;
}
table.pq-grid-td-border-bottom td.pq-grid-cell{	
border-bottom:1px solid #ededed;
}
tr td.pq-grid-td-border-right div{	
}	
div.pq-grid .pq-grid-oddRow{
}
tr.pq-grid-oddRow td{
}
div.pq-cell-selected-border{
border:2px solid #666;position:absolute;padding:0px;
}
div.pq-cell-selected-border-edit{
background:#fff;
color:#333;
}
div.pq-grid-editor-default{
background:#fff;padding:2px;
}
tr td.pq-grid-number-cell{	
border-right:1px solid #9eb6ce;
cursor:pointer;	
}
.pq-grid td.pq-grid-number-cell{	
border-top:0px;
border-left:0px;
}
tr td.pq-last-freeze-col{
border-right:1px solid steelblue;
}	
div.pq-grid-disable{
height:100%;width:100%;position:absolute;left:0px;top:0px;background:#ccc;
z-index:3;
}
div.pq-loading{
height:100%;width:100%;position:absolute;left:0px;top:0px;
display:none;
}
div.pq-loading div.pq-loading-bg{
background:#ccc;
height:100%;width:100%;position:absolute;left:0px;top:0px;
}
div.pq-loading-mask{
width:100px;height:25px;
padding:5px;	
position:absolute;left:50%;top:50%;	
margin-left:-50px;
margin-top:-13px;
}
.pq-grid div.pq-loading-mask div{
padding-top:0px;
padding-right:6px;
padding-left:29px;
line-height:23px;
background-image:url("images/loading.gif");
background-position:6px center;
background-repeat:no-repeat;
}
div.pq-vscroll{
height:150px;
width:17px;
border:0px solid blue;
position:absolute;
right:0px;
bottom:17px;
}	
div.pq-hscroll{
height:17px;
border:0px solid blue;
position:absolute;
right:17px;
bottom:0px;
}
div.pq-hvscroll-square{
height:17px;
width:17px;
border:0px solid blue;
position:absolute;
right:0px;
bottom:0px;
}	
.pq-tree-icon-container{
position:relative;float:left;height:16px;
}
.pq-tree-icon{
cursor:pointer;position:absolute;width:18px;height:16px;right:0px;top:-2px;
}
tr.pq-grid-row-hover td
{
}
tr.pq-row-select td
{
}
div.pq-grid tr td.pq-grid-cell-hover
{
border-width:0px;	
}
tr td.pq-grid-number-cell
{
}
div.pq-grid tr td.pq-cell-select
{
border-top-width:0px;
border-left-width:0px;
}
.pq-pager{
padding:2px 5px 13px;
overflow:hidden;
vertical-align:middle;
}	
.pq-pager *{
vertical-align:middle;
}	
.pq-grid span.pq-separator{
height:18px;
border-left:1px solid #ccc;
border-right:1px solid #fff;
display:inline-block;
margin-right:5px;
}
.pq-pager input{
padding:0px 1px;
text-align:center;
width:35px;
margin-right:5px;
height:16px;	
}
div.pq-pager span,div.pq-pager select{
margin-right:5px;
}
.pq-pager .pq-pageholder{
vertical-align:top;
}
.pq-grid button.ui-button-icon-only{
height:22px;width:22px;
margin-right:5px;
padding:0.2em 0.2em;
}
.pq-grid .pq-pager .pq-page-first{background:url('images/page-first-gray.gif');}
.pq-grid .pq-pager .pq-page-prev{background:url('images/page-prev-gray.gif');}
.pq-grid .pq-pager .pq-page-next{background:url('images/page-next-gray.gif');}
.pq-grid .pq-pager .pq-page-last{background:url('images/page-last-gray.gif');}
.pq-grid .pq-pager .pq-refresh{background:url('images/refresh.gif');}
.pq-scrollbar-vert{
display:block;
width:17px;
background:#efefef url(images/vert-bg.png);	
}
.pq-scrollbar-horiz{
display:block;
height:17px;
background:#efefef url(images/horiz-bg.png);
}
.pq-scrollbar-vert *{
padding:0px;
margin:0px;	
}
.pq-scrollbar-horiz *{
padding:0px;
margin:0px;
}
.pq-sb-btn{
width:17px;
height:17px;
position:absolute;
background-color:steelblue;	
}
.pq-scrollbar-vert div.top-btn{
left:0px;
top:0px;
background:url(images/sprite.png);	
}
.pq-scrollbar-horiz div.left-btn{
left:0px;
top:0px;
background:url(images/sprite.png) -34px;	
}
.pq-scrollbar-vert div.bottom-btn{
left:0px;
bottom:0px;
background:url(images/sprite.png) -17px;	
}
.pq-scrollbar-horiz div.right-btn{
top:0px;
right:0px;
background:url(images/sprite.png) -51px;	
}
.pq-sb-slider{
position:absolute;
}
.pq-sb-slider *{
background:url(images/sprite.png);
}
.pq-sb-slider-h{
position:absolute;
}
.pq-sb-slider-h *{
display:inline-block;
background:url(images/sprite.png);
}
.pq-sb-slider .vert-slider-top{
width:17px;
height:3px;	
overflow:hidden;
background-position: 17px -8px;	
}
.pq-sb-slider-h .horiz-slider-left{
height:17px;
width:3px;	
overflow:hidden;
background-position: -68px 0px;	
}
.pq-sb-slider .vert-slider-bg{
width:17px;
overflow:hidden;
background:#B6CEFB url(images/vert-slider-bg.png);	
}
.pq-sb-slider-h .horiz-slider-bg{
height:17px;
overflow:hidden;
background:#B6CEFB url(images/horiz-slider-bg.png);	
}
.pq-sb-slider .vert-slider-center{
width:17px;
height:8px;
overflow:hidden;
background-position: 17px 0px;	
}
.pq-sb-slider-h .horiz-slider-center{
height:17px;
width:8px;
overflow:hidden;
background-position: -74px 0px;
}
.pq-sb-slider .vert-slider-bottom{
width:17px;
height:3px;
overflow:hidden;
background-position: 17px -11px;
}
.pq-sb-slider-h .horiz-slider-right{
height:17px;
width:3px;
overflow:hidden;
background-position: -71px 0px;
}