﻿@{
    ViewBag.Title = "About";
}

<div class="ibox-title">
    <h2>About Us</h2>
</div>


<div class="ibox-content">

    <img class="col-md-3" src="~/Content/Images/s4a_logo.png" />
    <p class="col-md-8">
        Rising energy costs and a growing need to consider your environmental impact, means to stay ahead companies must plan for change. Solar energy can reduce costs and minimize your carbon emissions.


     <br/><br/>   Together with our partners, we provide a turnkey (hassle-free), low-cost, solar power solution for commercial power users like you.
<br /><br />

        We develop solar systems mounted on your roof or at your property, providing clean power directly to your load centre. Making onsite renewable energy generation possible!
</p>
    <div class="clearfix"></div>
</div>

