﻿@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>Head Office</h3>

<address>
    Suite 141 Block C<br />
    Junction Business Hub<br />
    Calebasses, Mauritius<br />
    <abbr title="Phone">P:</abbr>
    +230 243 1289
</address>

<address>
    <strong>NVI Energy:</strong>   <a href="http://www.nvienergy.com/">www.nvienergy.com</a><br />
    <strong>Support:</strong> <a href="mailto:info@jmlabs.co.za">info@jmlabs.co.za</a>
</address>