﻿@using NVIDev.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="had-bg col-md-12">

    <h1 class="col-md-12 text-center">SolarAfrica Online Costing Tool</h1>

</div>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="ibox-content">
    @{ if (Request.IsAuthenticated)
     {
        <h3>Dear @ViewBag.Salutation @ViewBag.Name, Welcome to the Solar Africa Tool!</h3>
        <h4>You application is being reviewed. Please check your email for the documents we require you to upload on the platform. A final approval will then be conducted."</h4>
        @*if (ViewBag.Image != null)
            {
                string imageBase64 = Convert.ToBase64String(ViewBag.Image);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);


             <div>

                 <img src="@imageSrc" class="Logo-Pic" />

             </div>
            }*@

        <ul class="list-group clear-list m-t">
            <li class="list-group-item">
                <p><span class="label label-primary">@Html.Action("Pronumbers", "Project")</span> Active Projects </p>

            </li>

            <li class="list-group-item"><p><span class="label label-primary">0</span> Notifications </p></li>
        </ul>



        @Html.ActionLink("My Projects >", "Index", "Project", null, new { @class = "btn btn-primary btn-lg" }) @Html.ActionLink("Create Proposal +", "Create", "Project", null, new { @class = "btn btn-primary btn-lg col-md-offset-1" })





     }

     else
     {
        <div style="background-color:gray; width:520px; height:280px; margin-top:40px; margin-left:100px;">
            <table>
                <tr>
                    <td>
                        <table style="width:380px;">
                            <tr><th colspan="2"><span style="color:white; font-size:18px; margin-left:50px;">Login</span></th></tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label",@Style="color:white", @placeholder = "Enter Email" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @Style="color:white" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe, new { @Style="color:white"})
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                            <input type="submit" value="Login" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td><table style="margin-top :40px;"><tr><th ><span style="color:white; font-size:18px; padding-bottom:10px;">Register</span></th></tr>
                        <tr><td><br /><p><b>Not part of <br /> Solar Africa yet?</b><br /> Apply to become an <br /> accredited partner <br /> today</p></td></tr>
                        <tr><td>@Html.ActionLink("Signup", "Register", "Account", null, new { @class = "btn btn-primary" }) </td></tr></table></td>
                </tr>
            </table>
        </div>


        @*<h3>Welcome, let's get started</h3>
        <p>Sign in or register to begin.</p>
        @Html.ActionLink("Register >", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })    @Html.ActionLink("Sign In >", "Login", "Account", null, new { @class = "btn btn-primary btn-lg col-md-offset-1" })
     *@}
    }
</div>
}