﻿@model NVIDev.Models.ApprovalDocumentModel


@using (Ajax.BeginForm("AddDocument", new AjaxOptions { HttpMethod = "POST", OnSuccess = "successCurrency" }))
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
    function hideAccAdmReg(idhide, idShow) {
        document.getElementById(idhide).style.display = "none";
        document.getElementById(idShow).style.display = "block";
    }

    </script>
    <div id="Document-form" class="Currency">
        <div class="form-horizontal">
            <h4>Add Document</h4>
            <hr />

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ApprovalDocumentId, new { id = "ApprovalDocumentId", @Value = "0" })
            @Html.LabelFor(model => model.TriggerOnLoadMessage)
            @Html.ValidationMessageFor(model => model.TriggerOnLoadMessage)

            <div id="myMessage1" class="text-danger"></div>
            
            <div class="raw"> 
                <div class="form-group">
                    @Html.LabelFor(model => model.ApprovalDocumentMenu, htmlAttributes: new { @class = "control-label  col-md-4 reqfield" })
                    @Html.RadioButtonFor(model => model.ApprovalDocumentMenu, "Country Specific", new { id = "CountrySpecific", @checked = "checked", onchange = "hideAccAdmReg('divOrganisationSpecific','divCountrySpecific');" })
                    @Html.Label("CountrySpecific", "Country Specific")

                    @Html.RadioButtonFor(model => model.ApprovalDocumentMenu, "Organisation Specific", new { id = "OrganisationSpecific", onchange = "hideAccAdmReg('divCountrySpecific','divOrganisationSpecific');" })
                    @Html.Label("OrganisationSpecific", "Organisation Specific")                                    
                </div>
                <div class="form-group" id="divCountrySpecific">
                    @Html.LabelFor(model => model.CounSpecificName, htmlAttributes: new { @class = "control-label  col-md-4 reqfield" })
                    @Html.DropDownListFor(m => m.CounSpecificName, (IEnumerable<SelectListItem>)ViewData["Countries"], new { id = "ddlCountryID", @class = "form-control" })                  
                    @Html.ValidationMessageFor(model => model.CounSpecificName)
                </div>
                <div class="form-group" style="display:none;" id="divOrganisationSpecific">
                    @Html.LabelFor(model => model.OrgSpecificName, htmlAttributes: new { @class = "control-label  col-md-4 reqfield" })
                    @Html.DropDownListFor(m => m.OrgSpecificName, (IEnumerable<SelectListItem>)ViewData["Organisation"], new { id = "ddlOrganisationID", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrgSpecificName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ApprovalDocumentSubMenu, htmlAttributes: new { @class = "control-label col-md-4 reqfield" })
                    @Html.EditorFor(model => model.ApprovalDocumentSubMenu, new { htmlAttributes = new { @class = "form-control col-md-7", @title = "Enter Document Menu Name" } })
                    @Html.ValidationMessageFor(model => model.ApprovalDocumentSubMenu)
                </div>
                <div class="form-group  ">
                    @Html.LabelFor(model => model.ApprovalDocumentDesc, htmlAttributes: new { @class = "control-label col-md-4 reqfield" })
                    @Html.TextAreaFor(model => model.ApprovalDocumentDesc, new { htmlAttributes = new { @class = "form-control col-md-7", @title = "Enter Document Description" } })
                    @Html.ValidationMessageFor(model => model.ApprovalDocumentDesc)
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <input type="button" value="Cancel" class="btn btn-warning" onclick="HideDocument()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}


