﻿@model NVIDev.Models.AttachDocModel
@{
    ViewBag.Title = "Approval Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

@*Very Important Note
This page contains some element with title please dont change its title name because they are used as JQuery selectors*@

<style>
    .td-aligncenter {
    text-align:center
    }
</style>

<div class="ibox-title">
    <h2>Approval Document</h2>
</div>

@using (Html.BeginForm("ApprovalDocument", "Document", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="ibox-content">
    <table class="table table-bordered table-hover" id="tblApprovaldocument">
        <tr>
            <th>

            </th>
            <th>
                Document Type
            </th>
            <th>
                Document Name
            </th>
            <th>
                View
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </tr>
        @*@foreach (var item in Model)
            {*@
        @foreach (var item in (List<NVIDev.Models.AttachDocModel>)ViewBag.DocDetails)
        {            
            <tr>
                <td>
                    <input type="hidden" value="@item.CompanyID" id="hdnCompanyid" />                    
                    @*<input type="checkbox" checked="@item.IsActive" disabled="disabled" />*@
                    @{
            count = count + 1;
                    }
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalDocumentMenu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalDocumentSubMenu)
                </td>
                <td>
                    @{
                if (item.AttachedFile != null)
                {
                    <input type="submit" value="View" class="btn btn-default btn-sm" id="btnDwnload_@item.ApprovalDocumentId" onclick="return adddocidinhdnfield(this.id);">
                    <a class="btn btn-primary btn-xs">@item.Attachedfilename</a>                
                }
                    }
                </td>
                @if (item.IsApproved == null)
                {
                    <td>
                        <label id="lblStatus">No Attachment Found</label>
                    </td>
                    <td class="td-aligncenter">
                        <a id="btncomment_@item.ApprovalDocumentId" onclick="return adddocidinhdnfield(this.id);" title="Add Comments"><span class="glyphicon glyphicon-comment"></span></a>
                        |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                }
                else if (item.IsApproved == "0")
                {
                    <td>
                        <label id="lblStatus">Pending for approval</label>
                    </td>
                    <td class="td-aligncenter">
                        <a id="btnapprove_@item.ApprovalDocumentId" onclick="adddocidinhdnfield(this.id);" title="Approve"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                        |<a id="btnreject_@item.ApprovalDocumentId" onclick="adddocidinhdnfield(this.id);" title="Approve"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                        @*<input type="button" value="Approved" title="approve" id="btnapprove_@item.ApprovalDocumentId" onclick="adddocidinhdnfield(this.id)" class="btn btn-success btn-sm">
                        <input type="button" value="Reject" id="btnreject_@item.ApprovalDocumentId" onclick="adddocidinhdnfield(this.id)" class="btn btn-primary btn-sm">*@
                        |<a id="btncomment_@item.ApprovalDocumentId" onclick="return adddocidinhdnfield(this.id);" title="Add Comments"><span class="glyphicon glyphicon-comment"></span></a>
                        |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                }
                else if (item.IsApproved == "2")
                {
                    <td>
                        <label id="lblStatus">Rejected</label>
                    </td>
                    <td class="td-aligncenter">
                        <a id="btncomment_@item.ApprovalDocumentId" onclick="return adddocidinhdnfield(this.id);" title="Add Comments"><span class="glyphicon glyphicon-comment"></span></a>
                        |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                }
                else
                {
                    <td>
                        <label id="lblStatus">Approved</label>
                    </td>
                    <td class="td-aligncenter">
                        <a id="btncomment_@item.ApprovalDocumentId" onclick="return adddocidinhdnfield(this.id);" title="Add Comments"><span class="glyphicon glyphicon-comment"></span></a>
                        |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                }
            </tr>
        }
    </table>
    <div id="divQtipComment" style="display: none">
      <p>
          <textarea rows="2" name="txtComment" id="txtComment" cols="30" onkeyup="setAdminComments(this)"></textarea>
      </p>
        <p>
            <input type="button" value=">>" id="btnsavecoments" class="btn btn-primary btn-sm" onclick="AddCommentForDocument(); HideQtip(this);">
        </p>          
    </div>

    <div id="divQtipDocApproval" style="display: none">
        <p>
            <span>Comments:</span>
            <textarea rows="2" name="txtComment" id="txtComment" cols="35" onkeyup="setAdminComments(this)"></textarea>
        </p>
        <p>
            <input type="button" value="Yes" class="btn btn-primary btn-sm" onclick="Approverejectdoc();">
        </p>
    </div>

        @Html.HiddenFor(model => model.ApprovalDocumentId, new { @id = "hdnApprovalDocumentId" })
    <input type="hidden" id="hdnAdminComments" />  
    <input type="hidden" id="hdnApprovalType" /> 
    </div>
}
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/plugins/Qtip/jquery.qtip.min.css" rel="stylesheet" />
<script src="~/Content/plugins/Qtip/jquery.qtip.min.js"></script>

    <script type="text/javascript">
        var $j = jQuery.noConflict();

        var user = sessionStorage["TPSn"];
        console.log(user)

        ///Added for Approval or Rejection 
        function Approverejectdoc() {
            try {
                $('#loading').show();

                AddCommentForDocument();

                var apprtype = document.getElementById('hdnApprovalType').value;
                var compnyid = document.getElementById('hdnCompanyid').value;
                var docid = document.getElementById('hdnApprovalDocumentId').value;

                var isapproved = apprtype == "btnapprove" ? "1" : "2";

                $.ajax({
                    url: oApp + "/Document/ApproveRejectDocument",
                    dataType: "json",
                    mtype: 'POST',
                    type: 'POST',
                    data: { 'companyid': compnyid, 'docid': docid, 'isapproved': isapproved },
                    success: function (result) {
                        $('#loading').hide();
                        window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (xhr && thrownError) {
                            alert('Status: ' + xhr.status + ' Error: ' + thrownError);
                        }
                        $('#loading').hide();
                    }
                });
            }
            catch (ex) {
                console.log(ex);
            }
        }

        ///Added to set document id in hidden field
        function adddocidinhdnfield(id) {
            try {
                var docid = [];
                docid = id.split('_')
                document.getElementById('hdnApprovalDocumentId').value = docid[1];
                return true;
            }
            catch (ex) {
                console.log(ex);
                return false;
            }
        }

        var myApprovalContent = jQuery('#divQtipDocApproval').html();
        jQuery("[title*='Approve']").qtip({
            content: {
                text: myApprovalContent,
                title: function (event, api) {
                    var sender = [];
                    sender = (api.target[0].id).split('_')
                    if (sender[0] == "btnapprove") {
                        return "Are you sure, you want to approve this?";
                    }
                    else
                    {
                        return "Are you sure, you want to reject this?";
                    }
                }
            },
            events: {
                show: function (event, api) {
                    //console.log(event);
                    //console.log(api.target[0].id);
                    var docid = [];
                    docid = (api.target[0].id).split('_')
                    document.getElementById('hdnApprovalDocumentId').value = docid[1];
                    document.getElementById('hdnApprovalType').value = docid[0];
                }
            },
            hide: 'unfocus',
            show: {
                event: 'click',
                delay: 100,
                solo: true,
                ready: false
            },
            position: {
                my: 'top right',  // Position my top left...
                at: 'bottom right' // at the bottom right of...
            },
            style: {
                classes: 'qtip-light',
                width: 1000
            }
        })

        function setAdminComments(sender) {
            var currentID = sender.parentNode;
            //.parentNode.parentNode.parentNode.parentNode.parentNode;
            //console.log(sender);
            //console.log(currentID);
            //console.log($(currentID).find('textarea[id=txtComment]'));
            console.log($(currentID).find('textarea[id=txtComment]').val())
            document.getElementById('hdnAdminComments').value = $(currentID).find('textarea[id=txtComment]').val();
        }

        function AddCommentForDocument()
        {           
            $('#loading').show();
            var compnyid = document.getElementById('hdnCompanyid').value;
            var docid = document.getElementById('hdnApprovalDocumentId').value;
            var comment = document.getElementById('hdnAdminComments').value;
            if (comment != "") {
                $.ajax({
                    url: oApp + "/Document/AddCommentsForDocument",
                    dataType: "json",
                    mtype: 'POST',
                    type: 'POST',
                    data: { 'companyid': compnyid, 'docid': docid, 'comment': comment, 'commentType': "Admin" },
                    success: function (result) {
                        $('#loading').hide();
                        //window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (xhr && thrownError) {
                            alert('Status: ' + xhr.status + ' Error: ' + thrownError);
                        }                        
                    }
                });
            }
            $('#loading').hide();
        }

        function ShowAllComments(btnid) {
            var docid = [];
            docid = btnid.split('_')
            var docid = docid[1];
            var compnyid = document.getElementById('hdnCompanyid').value;            
            $.fancybox({
                'autoScale': true,
                'type': 'iframe',
                'width': 800,
                'height': 400,
                overlayOpacity: '0.8',
                href: oApp + '/Document/ShowAllComments?docid=' + docid + '&companyid=' + compnyid,
                'onCleanup': function () {
                    try {

                    } catch (err) {
                        console.log(err);
                    }
                }
            });
        }

        ///Added to add comments
        var myContent = jQuery('#divQtipComment').html();
        jQuery("[title*='Add Comments']").qtip({
            content: {
                text: myContent,
                title: {
                    text: 'Add Comments',
                    button: true
                }
            },
            hide: 'unfocus',
            show: {
                event: 'click',
                delay: 100,
                solo: true,
                ready: false
            },
            position: {
                my: 'top right',  // Position my top left...
                at: 'bottom right' // at the bottom right of...
            },
            style: {
                classes: 'qtip-light',
                width: 1000
            }
            //events: {
            //    render: function (event, api) {
            //        alert('dfd');
            //    }
            //}
        })

        function HideQtip(sender)
        {
            var qtipdiv = sender.parentNode.parentNode.parentNode;
            $(qtipdiv).hide();
        }
    </script>
