﻿@model IEnumerable<NVIDev.Models.ApprovalDocument>
 
@{
    ViewBag.Title = "ApprovedDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

 
 @section Submenu{

    @Html.Partial("_AdminNav")

}

<div class="ibox-title">
    <h2>Application Requirements</h2>
    <p>
        @Ajax.ActionLink("Add Requirement", "AddDocument", null, new AjaxOptions
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace, 
         UpdateTargetId = "AddDocument" }, 
        new { @class = "btn btn-primary btn-xs" })
    </p>
</div>
 <hr>
<div id="AddDocument"></div>
<div class="ibox-content">
    <div class="row">
        <div class="form-group col-md-3 col-sm-3">
            @Html.Label("lblCompany", "Select Company", new { @class = " " })

            @Html.DropDownList("CompanyList", ViewBag.CompanyList as IEnumerable<SelectListItem>, "--Select Company--", new { @class = "form-control", @onchange = "GetUsersByCompanyName();" })
        </div>
        <div class="form-group col-md-3 col-sm-3">
            @Html.Label("lblUser", "Select User/TP name", new { @class = " " })
            <select name="UserList" id="UserList" class="form-control"></select>
           @*@Html.DropDownList("UserList", ViewBag.UserList as List<SelectListItem>, "--Select User--", new { @class = "form-control" })*@
        </div>
    </div>
</div>

<table class="table table-bordered table-condensed table-striped" id="tblApprovaldocument">
    <tr>
        <th>
           Sn.
        </th>
        <th>
           Document Type
        </th>
        <th>
            Document Name
        </th>

        <th>
            
            <input type="checkbox" onchange="selectAll(this)" class="" />
            Tick
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
        count = count + 1;
                }
                @count
                @Html.HiddenFor(model => item.ApprovalDocumentId, new { @id = "ApprovalDocumentId" + count.ToString() })
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ApprovalDocumentMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDocumentSubMenu)
            </td>

            <td>
                <input type="checkbox" id="cbDoc_@item.ApprovalDocumentSubMenu" />
            </td>
        </tr>
    }
</table>

<div class="ibox-content">
    <div class="row">
        <div class="form-group  text-right col-md-11">
            <input type="button" value="Save" onclick="SaveUserDocument();" class="btn btn-success btn-sm ">
        </div>
      
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var $j = jQuery.noConflict();

    // Save User verses document list on Database using this function
    function SaveUserDocument() {
        //setTimeout(function () { $('#loading').hide(); }, 1000);
        $('#loading').show();
        var tr = new Array();
        var company = $('#CompanyList').val();
        var user = $('#UserList').val();
        var count = 0;

        if (company != "" && (user != "0" && user != null)) {

            $('#tblApprovaldocument tr>td').find(':checkbox:checked').each(function () {
                var td = new Object();
                td['CompanyID'] = company;
                td['UserID'] = user;
                td['DocumentId'] = $(this).parent().parent().find('input[type=hidden] :first').val();
                tr.push(td);
                count += 1;
            });

            console.log($('#tblApprovaldocument').find(':checkbox:checked').length);
            console.log(count);

            if ($('#tblApprovaldocument tr>td').find(':checkbox:checked').length != 0) {
                console.log(tr);
                $.ajax({
                    url: oApp + "/Document/SaveUserDocument",
                    dataType: "json",
                    mtype: 'POST',
                    type: 'POST',
                    data: { 'oUserDocumentModel': JSON.stringify(tr) },
                    success: function (result) {
                        CheckUncheckDocsByUser();
                        $('#loading').hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (xhr && thrownError) {
                            alert('Status: ' + xhr.status + ' Error: ' + thrownError);
                        }
                        $('#loading').hide();
                    }
                });
            }
            else
            {
                alert("You have to select atleast one document");
                $('#loading').hide();
            }
        }

        else {
            alert("Please Select Company and User");
            $('#loading').hide();
        }
        console.log(tr);

        //$('#loading').show();
    }

    // Select/Unselect checkbox using this function
    function selectAll(t) {        
        if (t.checked) {
            $('#tblApprovaldocument input[type=checkbox]').each(function () {
                this.checked = true;
            });
        } else {
            $('#tblApprovaldocument input[type=checkbox]').each(function () {
                this.checked = false;
            });
        }
    }

    function successCurrency(data) {
        if (data == "Success") {
            HideDocument();
            location.reload();
        }

        else if (data == "Already Exists") {
            $('#myMessage1').show();
            $('#myMessage1').text("Document Already Registered!")
        }

        else if (data == "Fail") {
            $('#myMessage1').show();
            $('#myMessage1').text("Document must be a letters only abbreviation, e.g EUR = euro")
        }

    }

    function HideDocument() {
        $('#Document-form').toggle()
        $('#id').text("")
        $('#ValueInDollars').text("")
    }

    function GetUsersByCompanyName()
    {
        CheckUncheckDocsByUser();

        var compname = $("#CompanyList :selected").text();
        $('#UserList').empty();
        $('#UserList').append($('<option></option>').val(0).html('--Select--'));

        $.ajax({
            type: "POST",
            url: oApp + "/Document/GetUserByCompanyname",
            data: { "CompName": compname },
            success: function (data) {
                d = data;
                for (var i = 0; i < d.raw.length; i++) {
                    $('#UserList').append($('<option></option>').val(d.raw[i]['Value']).html(d.raw[i]['Text']));
                }
            }
        });
    }

    function CheckUncheckDocsByUser()
    {
        var compid = $("#CompanyList :selected").val();
        $('#tblApprovaldocument input[type=checkbox]').each(function () { this.checked = false; });
        $.ajax({
            type: "POST",
            url: oApp + "/Document/GetRequiredDocuments",
            data: { "CompId": compid },
            success: function (data) {
                d = data;
                for (var i = 0; i < d.raw.length; i++) {

                    $('#tblApprovaldocument input[type=checkbox]').each(function () {
                        var docid = $(this).parent().parent().find('input[type=hidden] :first').val();
                        console.log(docid);
                        if(docid == d.raw[i]['DocumentID'])
                            this.checked = true;
                    });

                }
            }
        });        
    }

    //$j('#UserList').bind("change", function (e) {
    //    //console.log($(e.target).val())
    //    var user = $(e.target).val()
    //    $('#tblApprovaldocument input[type=checkbox]').each(function (ee, t) {
    //        $(t)[0].checked = false;
    //        if (ee == 0 && (user == 1 || user == 3 || user == 4 || user == 5)) {
    //            console.log($(t)[0])
    //            $(t)[0].checked = true;
    //        }
    //        if (ee == 1 && (user == 1 || user == 3 || user == 4 || user == 5)) {
    //            $(t)[0].checked = true;
    //        }
    //        if (ee == 3 && (user == 2 || user == 3  || user == 5)) {
    //            $(t)[0].checked = true;
    //        }
    //        if (ee == 4 && (user == 3 || user == 3 || user == 4 || user == 5)) {
    //            $(t)[0].checked = true;
    //        }
    //        if (ee == 5 && (user == 4 || user == 3 || user == 4 || user == 5)) {
    //            $(t)[0].checked = true;
    //        }            
    //    });
    //    //console.log($('#tblApprovaldocument input[type=checkbox]'))
    //});
</script>
