﻿@model NVIDev.Models.AttachDocModel

@{
    ViewBag.Title = "Attach Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<style>
    .upload-remove {
        width:224px;
        text-align: center;
    }
</style>

<div class="ibox-title">
    <h2>Attach Document</h2>
</div>

@using (Html.BeginForm("AttachDocument", "Document", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="ibox-content">
        <table class="table table-bordered table-condensed table-striped" id="tblApprovaldocument">
            <tr>
                <th>
                    Sn.
                </th>
                <th>
                    Document Type
                </th>
                <th>
                    Document Name
                </th>

                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>

            @*@foreach (var item in Model)*@

            @foreach (var item in (List<NVIDev.Models.AttachDocModel>)ViewBag.DocDetails)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@item.CompanyID" id="hdnCompanyid" />

                        @{
                count = count + 1;
                        }
                        @count
                    </td>
                    <td>
                        @item.ApprovalDocumentMenu
                    </td>
                    <td>
                        @item.ApprovalDocumentSubMenu
                    </td>
                    <td>
                        <label>@item.ApprovalDocumentDesc</label>   
                    </td>
                    @if (item.IsApproved == null)
                    {
                       
                        <td>
                            <label>Document not attached</label>                            
                        </td>
                        <td class="upload-remove">                    
                            <a id="btnUpload_@item.ApprovalDocumentId" onclick="return UploadDocument(this.id);" title="Upload document"><span class="glyphicon glyphicon-cloud-upload"></span></a>
                            |<a id="btncomment_@item.ApprovalDocumentId" href="javascript;" onclick="return adddocidinhdnfield(this.id);" title="Add Comment"><span class="glyphicon glyphicon-comment"></span></a>
                            |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                    }
                    else if (item.IsApproved == "0")
                    {
                        @*<td>
                            @item.Attachedfilename
                        </td>*@
                        <td>
                            <label>Pending for approval</label>                           
                        </td>
                        <td class="upload-remove">                            
                            <a type="submit" href="javascript:void(0)" value="remove" name="Command" id="btnRemove_@item.ApprovalDocumentId" onclick="return UploadDocument(this.id);" title="Remove document"><span class="glyphicon glyphicon-remove"></span></a>
                            |<a id="btncomment_@item.ApprovalDocumentId" href="javascript;" onclick="return adddocidinhdnfield(this.id);" title="Add Comment"><span class="glyphicon glyphicon-comment"></span></a>
                            |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                    }
                    else if (item.IsApproved == "2")
                    {
                        @*<td>                            
                            @item.Attachedfilename
                        </td>*@
                        <td>
                            <label>Rejected</label>
                        </td>
                        <td class="upload-remove">
                            <a id="btnUpload_@item.ApprovalDocumentId" onclick="return UploadDocument(this.id);" title="Upload document"><span class="glyphicon glyphicon-cloud-upload"></span></a>
                            |<a id="btncomment_@item.ApprovalDocumentId" href="javascript;" onclick="return adddocidinhdnfield(this.id);" title="Add comment"><span class="glyphicon glyphicon-comment"></span></a>
                            |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                    }
                    else
                    {
                        @*<td>
                            @item.Attachedfilename
                        </td>*@
                        <td>
                            <label>Approved</label>
                        </td>
                        <td class="upload-remove">
                            <a id="btncomment_@item.ApprovalDocumentId" href="javascript;" onclick="return adddocidinhdnfield(this.id);" title="Add Comments"><span class="glyphicon glyphicon-comment"></span></a>
                            |<a id="btnviewcomment_@item.ApprovalDocumentId" onclick="return ShowAllComments(this.id);" title="View All Comments"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                    }
                </tr>
            }          
        </table>

        <div id="divQtipComment" style="display: none">
            <p>
                <textarea rows="2" name="txtComment" id="txtComment" cols="30" onkeyup="setAdminComments(this)"></textarea>
            </p>
            <p>
                <input type="button" id="btnsavecomment" value=">>" class="btn btn-primary btn-sm" onclick="AddCommentForDocument(this);">
            </p>
        </div>
        @Html.HiddenFor(model => model.ApprovalDocumentId, new { @id = "hdnApprovalDocumentId" })
        <input type="hidden" id="hdnUserComments" />
    </div>


}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/plugins/Qtip/jquery.qtip.min.css" rel="stylesheet" />
<script src="~/Content/plugins/Qtip/jquery.qtip.min.js"></script>

<script type="text/javascript">
    var $j = jQuery.noConflict();

    function UploadDocument(id) {
        try {            
            var docid = [];
            docid = id.split('_')
            document.getElementById('hdnApprovalDocumentId').value = docid[1];
            var documentID = document.getElementById('hdnApprovalDocumentId').value
            var compnyid = document.getElementById('hdnCompanyid').value;
            
            if (docid[0] == "btnRemove") {
                flag = confirm('Are you sure, you want to remove this attachment');
               
                if (flag) {
                    $.ajax({
                        url: oApp + '/Document/SetCommandToDelete',
                        dataType: "json",
                        mtype: 'POST',
                        type: 'POST',
                        data: {},
                        success: function (result) {                           
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (xhr && thrownError) {                              
                              
                            }
                        }
                    });
                    $('form').submit();
                }
                else
                {
                    return false;
                }
            }
            //else if (document.getElementById('fuAttachment').value == "") {
            //    alert('Please attach file before upload');
            //    return false;
            //}
            else {
                $.fancybox({
                    'autoScale': true,
                    'type': 'iframe',
                    'width': 400,
                    'height': 200,
                    overlayOpacity: '0.8',
                    href: oApp + '/Document/PopupUploadDoc?docid=' + docid[1],
                    'onCleanup': function () {
                        try {

                        } catch (err) {
                            console.log(err);
                        }
                    },
                    'onClosed': function () {
                        window.location.reload();
                    }
                });
                return false;
            }
        }
        catch (ex) {
            console.log(ex);
            return false;
        }
    }

    ///Start of Comment functionality
    function adddocidinhdnfield(btnid) {
        var docid = [];
        docid = btnid.split('_')
        document.getElementById("hdnApprovalDocumentId").value = docid[1];
        return false;
    }

    var myContent = jQuery('#divQtipComment').html();
    jQuery("[title*='Add Comments']").qtip({
        content: {
            text: myContent,
            title: {
                text: 'Add Comments',
                button: true
            }
        },
        hide: 'unfocus',
        show: {
            event: 'click',
            delay: 100,
            solo: true,
            ready: false
        },
        position: {
            my: 'top right',  // Position my top left...
            at: 'bottom right' // at the bottom right of...
        },
        style: {
            classes: 'qtip-light',
            width: 1000
        }
    })

    function setAdminComments(sender) {
        var currentID = sender.parentNode;
        console.log($(currentID).find('textarea[id=txtComment]').val())
        document.getElementById('hdnUserComments').value = $(currentID).find('textarea[id=txtComment]').val();
    }

    function AddCommentForDocument(sender) {
        $('#loading').show();
        var compnyid = document.getElementById('hdnCompanyid').value;
        var docid = document.getElementById('hdnApprovalDocumentId').value;
        var comment = document.getElementById('hdnUserComments').value;
        if (comment != "") {
            $.ajax({
                url: oApp + "/Document/AddCommentsForDocument",
                dataType: "json",
                mtype: 'POST',
                type: 'POST',
                data: { 'companyid': compnyid, 'docid': docid, 'comment': comment, 'commentType': "TPuser" },
                success: function (result) {
                    $('#loading').hide();
                    //window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr && thrownError) {
                        alert('Status: ' + xhr.status + ' Error: ' + thrownError);
                    }                    
                }
            });
        }
        var qtipdiv = sender.parentNode.parentNode.parentNode;
        $(qtipdiv).hide();

        $('#loading').hide();
    }

    function ShowAllComments(btnid) {
        var docid = [];
        docid = btnid.split('_')
        var docid = docid[1];
        var compnyid = document.getElementById('hdnCompanyid').value;
        $.fancybox({
            'autoScale': true,
            'type': 'iframe',
            'width': 800,
            'height': 400,
            overlayOpacity: '0.8',
            href: oApp + '/Document/ShowAllComments?docid=' + docid + '&companyid=' + compnyid,
            'onCleanup': function () {
                try {

                } catch (err) {
                    console.log(err);
                }
            }
        });
    }
</script>





