﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 


@section Submenu{

    @Html.Partial("_AdminNav")

}

<div class="ibox-title">
    <h2>TP INFORMATION</h2>

    <table id="grdUser"></table>
    <table id="grdPager"></table>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqGrid")
    @Scripts.Render("~/bundles/Admin")


