﻿@model NVIDev.Models.AttachDocModel

@{
    ViewBag.Title = "Company Detail";
    Layout = "~/Views/Shared/_PartialView.cshtml";
}

<h2>Attachments</h2>

@using (Html.BeginForm("PopupUploadDoc", "Document", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="ibox-content">
    <table>
        <tr>
            <td>@Html.TextBoxFor(model => model.AttachmentName, new { @id = "fuAttachment", type = "file", @class = "form-control", @accept = ".jpg,.jpeg,.gif,.png,.bmp,.PNG,.JPG,.JPEG,.GIF,.BMP,.xls,.xlsx,.pdf,.docx,.txt" })</td>
            <td><input type="submit" class="btn btn-success" value="Attach" id="btnUpload" /></td>
        </tr>
    </table>
</div>
}