﻿@model NVIDev.Models.AttachDocModel

@{
    ViewBag.Title = "Company Detail";
    Layout = "~/Views/Shared/_PartialView.cshtml";
}

<h2>Comments</h2>

<div class="ibox-content">

    <table class="table table-bordered table-hover" id="tblApprovaldocument">
    <tr>
        <th>
            Admin Comments
        </th>
        <th>
            TP-User Comments 
        </th>
    </tr>
@foreach (var item in (List<NVIDev.Models.AttachDocModel>)ViewBag.DocDetails)
{
    string[] admincomments = new string[0];
    string[] tpcomments = new string[0];
    if (!string.IsNullOrEmpty(item.AdminComment))
    {
        admincomments = item.AdminComment.Split(';');
    }
    if (!string.IsNullOrEmpty(item.TPUserComment))
    {
        tpcomments = item.TPUserComment.Split(';');
    }
        <tr>
            <td>
                <table>
                    @foreach (string adcom in admincomments) 
                    {
                    <tr>
                        <td>
                            @adcom
                        </td>
                    </tr>
                    }
                </table>
            </td>
            <td>
                <table>
                    @foreach (string tpcom in tpcomments)
                    {
                    <tr>
                        <td>
                            @tpcom
                        </td>
                    </tr>
                    }
                </table>
            </td>
        </tr>
}
    </table>

</div>