﻿@model NVIDev.Models.QuotingCost

<div  class="popup cost-popup">
@using (Ajax.BeginForm("AddCostLine", new AjaxOptions { AllowCache = false ,OnSuccess= "OnSuccessCost"}))
{
 <div class="form-horizontal">


     <h3>Add Line Item</h3>
     <hr/>
     @Html.HiddenFor(m => m.Main)
     @Html.HiddenFor(m => m.Supplier)




     <div class="form-group">
         @Html.Label("Items", new { @class="control-label col-md-3"})
         <div class="col-md-9">
             @Html.DropDownList("Previous",new SelectList(ViewBag.UserCosts), new { @id="previous",@class="form-control" ,@onchange= "findCostInfo(this)" })
         </div>
     </div>

     <div class="form-group">
         @Html.Label("Name", new { @class = "control-label col-md-3" })
         <div class="col-md-9">
            @Html.TextBoxFor( m => m.Name,new {@class="form-control" })
             @Html.ValidationMessageFor(m => m.Name)
         </div>
     </div>
     <div class="form-group">
         @Html.Label("Cost", new { @class = "control-label col-md-3" })
         <div class="col-md-9">
             @Html.HiddenFor(m => m.Cost, new { @class = "form-control" ,oninput= "updateSellPrice()"})
             @Html.ValidationMessageFor(m => m.Cost)
         </div>
     </div>

     <div class="form-group">
         @Html.Label("Markup", new { @class = "control-label col-md-3" })
         <div class="col-md-9">
             @Html.HiddenFor(m => m.Markup, new { @class = "form-control",oninput= "updateSellPrice()" })
             @Html.ValidationMessageFor(m => m.Markup)
         </div>
     </div>

     <div class="form-group">
         @Html.Label("Sell Price", new { @class = "control-label col-md-3" })
         <div class="col-md-9 lower-text">
             <p id="sellprice">@Model.SellPrice @ViewBag.Currency</p> 
         </div>
     </div>

     <div class="form-group">
         @Html.Label("Fixed", new { @class = "control-label col-md-3" })
         <div class="col-md-9">
             @Html.CheckBoxFor(m => m.Fixed, new { @class = "checkbox" })
         </div>
     </div>
        
     <div class="col-md-2 col-md-offset-3">
         <input type="submit" value="Add" class="btn btn-primary"/>
     </div>
     <div class="col-md-7">
         <input type="button" value="Cancel" class="btn btn-warning" onclick="HidePopup()"/>
     </div>
 </div>
}
    
</div >

