﻿<div id="megaMap" class="COO2">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQc3toxaL3vMLZI3jUkNgMvUDd9b-TI-o" type="text/javascript"></script>

    <script type="text/javascript">
        var firstLoad = true;
        var map;
        var bounds = new google.maps.LatLngBounds();
        var center = {
            lat: -22.967062,
            lng: 18.4929994
        };
        var renderOptions = {
            draggable: true
        };

        var geocoder = new google.maps.Geocoder();
        var directionService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer(renderOptions);
        var distanceService = new google.maps.DistanceMatrixService();
        var origin, destin; //origin is the port, destination is the site

        function initialize() {
            var mapOptions = {
                zoom: 7,
                center: center
            }

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            directionsDisplay.setMap(map);

            google.maps.event.addListener(directionsDisplay, 'directions_changed', function () {

                computeTotalDistance(directionsDisplay.getDirections());

            })

            google.maps.event.addListener(map, "dblclick", function (event) {

                dlblClick(event.latLng);

            });
            calcRoute();
        }

        function dlblClick(latlng) {

            if (document.getElementById('gpscoords').value == '') {

                //origin = document.getElementById('portList').value;
                destin = latlng;
                origin = NearestPort(destin)
                var request = {

                    origin: origin,
                    destination: destin,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                directionService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response)
                        ZoomMarker(response)
                    }
                })

            }
        }

        function NearestPort(destination) {
            var ports = document.getElementById('portList').options;
            var portVals = new Array;
            var portDistances = new Array;
            var closestPort;
            for (var a = 0; a < ports.length; a++) {
                portVals[a] = ports[a].text;
            }

            if (portVals.length <= 1) {
                //1 or less port
                closestPort = portVals[0];
                return closestPort;
            }

            var request = {
                origins: portVals,
                destinations: destination,
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }

            //get valid destination

            distanceService.getDistanceMatrix(request, function (result, status) {
                if (status == google.maps.DistanceMatrixStatus.OK) {
                    for (var c = 0; c < result.rows[0].elements.length; c++) {

                        portDistances[c] = parseInt(result.rows[0].elements[c].distance.value);
                    }

                    var smallestPortDistance = Array.min(portDistances);
                    var smallestIndex = portDistances.indexOf(smallestPortDistance);

                    closestPort = portVals[smallestIndex];

                    return closestPort;

                }

            })

            return portVals[0];

        }

        Array.min = function (array) {
            return Math.min.apply(null, array);
        }

        function ZoomMarker(response) {
            var myRoute = response.routes[0].legs[0];

            setTimeout(function () {
                map.setZoom(22);
                map.panTo(myRoute.end_location);
                map.setMapTypeId(google.maps.MapTypeId.SATELLITE)
            }, 10)

        }

        function calcRoute() {

            destin = document.getElementById('destinationStreet').value + document.getElementById('destinationCity').value;

            if (document.getElementById('gpscoords').value != '') //use gps first
            {
                destin = document.getElementById('gpscoords').value
            }

            origin = NearestPort(destin)

            var request = {

                origin: origin,
                destination: destin,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response)
                    ZoomMarker(response)

                }
            })
        }

        function computeTotalDistance(result) {
            var total = 0;
            var myroute = result.routes[0];
            for (var i = 0; i < myroute.legs.length; i++) {
                total += myroute.legs[i].distance.value;
            }
            total = total / 1000.0;
            document.getElementById('result').innerHTML = 'From ' + myroute.legs[0].start_address + ' to ' + myroute.legs[0].end_address;

            var gps = myroute.legs[0].end_location.toString();
            gps = gps.replace("(", " ")
            gps = gps.replace(")", " ")
            var split_gps = gps.split(',')

            //set gps
            var a = split_gps[0].substring(0, 9)
            var b = split_gps[1].substring(0, 9)
            $('#gpscoords').val(a + ' , ' + b)
            document.getElementById('distance').innerHTML = total + ' km';
            document.getElementById('DistanceValue').innerHTML = total;

            var end_address = myroute.legs[0].end_address.split(',')
            var c = end_address[0] //road
            var d = end_address[1] //city

            if (($('#destinationStreet').val() != " " || $('#destinationCity').val()) && !firstLoad) {
                //has value send confirm

                var gfe = "Change Address Details To: " + c + ", " + d;
                var cont = confirm(gfe);

                if (cont) {
                    $('#destinationStreet').val(c)

                    if (d == $("#countryList").text()) {
                        $('#destinationCity').val("")
                    }
                    else {
                        $('#destinationCity').val(d)

                    }

                    $('#DistanceValue').val(total)
                }
            }

            firstLoad = false;
        }

        setTimeout(initialize, 1000)
    </script>


    <div id="map-canvas"></div>
    <div id="result"></div>

    <p><input type="button" value="Hide" id="HideButton" class="btn btn-warning" onclick="HideMap()" /> Powered By Google Maps</p>

    <p id="descript" style="margin-top:5px">Double click or use the “+” button to zoom in on the site address. Once you cannot zoom in any further, click on the “Satellite” button to display the site as a satellite image on the map. This satellite image will then be used to show where panels and other equipment can be placed on site in the Equipment & Design tab. If the map does not show a building, this may be due to Google Maps being out-dated. Should this be the case, you can upload an aerial photograph or a site plan in the Equipment & Design tab as a substitute for the missing satellite image of the building.</p>
</div>
