﻿@model NVIDev.Models.QuotingCost

@using (Html.BeginCollectionItem("Costs"))
{
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Main)
    @Html.HiddenFor( m => m.Removeable)
    <tr>
        <td>@Model.Name </td>

        @{ 
            if(Model.Main)
            {
                <td>@Html.DropDownListFor( m => m.Supplier,new SelectList(ViewBag.Suppliers), new { @class="form-control" })</td>
            }

            else
            {
                <td></td>
            }


            <td><p class="lower-text cost-text">@ViewBag.Currency @Model.Cost.ToString("#,##0.00") @Html.HiddenFor(m => m.Cost)</p></td>
            <td>@Html.HiddenFor(m=> m.Markup,new {@class="form-control m-markup", @oninput = "updateLineSellPrice(this)" })</td>
            <td>@Html.CheckBoxFor(m => m.Fixed,new { @class = "checkbox" })</td>
            <td ><p class="lower-text line-item-amount">@ViewBag.Currency @Html.DisplayFor(m => m.FormattedSellprice) </p></td>

            if(Model.Removeable)
            {
                <td><a class="btn btn-xs btn-danger " title="Delete @Model.Name" style="width:20px;" onclick="deleteContainer(this)">-</a></td>
            }

           
        }
    </tr>
}
