﻿@model NVIDev.Models.PSubSection

@using (Html.BeginCollectionItem(Model.ParentName + ".SubSections"))
{
    <tr>

        @{
    if (Model.Standard == false)
    {
        <td class="col-md-2">
          @{  if (Model.Name != "MODULE DATA SHEETS" && Model.Name != "INVERTER DATA SHEETS" && Model.Name != "FRAMING DATA SHEETS")
            {
              <a class="btn btn-xs btn-danger" style="width:20px" onclick="deleteMe(this)" title="Remove Item">-</a>
          }
          }
        
        @Html.EditorFor(m => m.Name)</td>
            <td class="col-md-1">@Html.EditorFor(m => m.IncludeMe)</td>
            <td class="col-md-2 clearfix">@Html.TextBoxFor(m => m.PDF, new { type = "file", title = "Upload A PDF" })</td>
            @Html.HiddenFor(m => m.ParentName)
            @Html.HiddenFor(m => m.LetterCode)
            @Html.HiddenFor(m => m.Standard)
    }

    else
    {

        <td class="col-md-2">*@Model.Name </td>
            <td class="col-md-1 ">@Html.EditorFor(m => m.IncludeMe)</td>
            <td class="col-md-2 clearfix">SYSTEM GENERATED</td>
            @Html.HiddenFor(m => m.ParentName)
            @Html.HiddenFor(m => m.LetterCode)
            @Html.HiddenFor(m => m.Standard)
            @Html.HiddenFor(m => m.Name)
    }
        }

    </tr>

}
