﻿@model NVIDev.Models.Exclusion
@{
    
}
@using (Html.BeginCollectionItem("Exclusions"))
{
   <tr>
       <td class="col-md-1"><a class="btn btn-xs btn-danger" style="width:20px" onclick="deleteMe(this)" title="Add Item">-</a></td>
       <td class="col-md-3">@Html.TextAreaFor(m => m.Name, new { @class = "form-control ",title ="Delete Item", oninput = "change(this)", @placeholder = "Exclusion Header : Content" })  </td> 
     <td class="col-md-8"><p id="RandomID_@(Guid.NewGuid())"></p></td>
    </tr>
}
