﻿@model IEnumerable<NVIDev.Models.Audit>
@{
    ViewBag.Title = "Audits";


    int count = 0;
}


<div class="form-horizontal row">
    <h4 class="ibox-title">Audits</h4>



   


    <div class="tab-content" >
        <div class="panel">
            <h4><span class="label label-warning">@Model.Count()</span> Audits</h4>

            <table class="table table-condensed">
                <tr>

                    <th>
                        #
                    </th>


                    <th>
                        Content
                    </th>
                    <th>
                        Date
                    </th>



                </tr>

                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Content</td>
                        <td>@item.Time</td>



                    </tr>
                }
            </table>
        </div>
    </div>


</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")




}