﻿
@model NVIDev.Models.Basic

@using (Html.BeginCollectionItem("BalanceSystemList"))
{



    var products = (List<NVIDev.Models.BalanceSystem>)ViewBag.BalanceSystems;
    List<string> idList;
    try
    {
        var apex = from a in products where a.Type.Substring(0, 5) == Model.ParentList select a.Id;
        idList = apex.ToList();
     
    }
    catch
    {
        idList = new List<string>();
    }
    string watt = "usage";
    string price = "price";

    if (idList != null && idList.Count > 0)
    {
         <tr id="@DateTime.Now@Model.ParentList">
             <td class="col-md-2" id="RandomID_@(Guid.NewGuid())">@Model.Key</td>
             <td class="col-md-2">@Html.DropDownListFor(model => model.Id, new SelectList(idList), new { onchange = "Changer5(this)", @class = "form-control" })</td>
             <td class="col-md-3  ">@Html.HiddenFor(model => model.Amount, new { oninput = "Changer5(this)", onfocus = "Changer5(this)", @class = "form-control" })</td>
                 @*<td id="RandomID_@(Guid.NewGuid())@watt" class="col-md-2">0W</td>*@
             <td  class="col-md-2"><label id="RandomID_@(Guid.NewGuid())@price" class="control-label">@Model.totalCost.ToString("#,##0.00") @ViewBag.Currency</label></td>
             <td>  <a class="btn btn-danger btn-xs clearfix" onclick="deleteContainer(this)">-</a></td>
         </tr>

    @Html.HiddenFor(model => model.ParentList)

    }

}
