﻿@model NVIDev.Models.Basic

@using (Html.BeginCollectionItem("BatteryList"))
{



    var products = (List<NVIDev.Models.Batteries>)ViewBag.Batteries;

    if (products != null)
    {
        var apex = from a in products select a.Id;
        List<string> realApex;
        try
        {



            realApex = apex.ToList();
        }

        catch (Exception)
        {
            realApex = new List<string>();
        }

        string watt = "storage";
        string price = "price";


        if (realApex.Count > 0)
        {
            <tr id="@DateTime.Now">

                <td ><label id="RandomID_@(Guid.NewGuid())" class="control-label">@Model.Key</label></td>
                <td>@Html.DropDownListFor(model => model.Id, new SelectList(realApex), new { onchange = "Changer4(this)", @class = "form-control" })</td>
                <td ><label class="control-label" id="RandomID_@(Guid.NewGuid())@watt">@Model.Watt.ToString("#,##0.00") kW</label></td>
                <td>@Html.HiddenFor(model => model.Amount, new { oninput = "Changer4(this)", onfocus = "Changer4(this)", @class ="form-control" })</td>
             
                @{
            if (User.IsInRole("NVIAdmin"))
            {
                <td ><label id="RandomID_@(Guid.NewGuid())@price" class="control-label">@Model.totalCost.ToString("#,##0.00") @ViewBag.Currency</label></td>

            }
                }
                <td> <a class="btn btn-danger btn-xs clearfix" title="Delete Item" style="width:20px;" onclick="deleteContainer(this)">-</a></td>
            </tr>
        }
    }





}
