﻿@model NVIDev.Models.BiInverterSub

@using (Html.BeginCollectionItem(Model.ParentList))
{

    try
    {
        List<NVIDev.Models.BiInverters> currentBiInverters = (List<NVIDev.Models.BiInverters>)ViewBag.BiInverters;
        List<string> currentIDS = currentBiInverters.Select(a => a.Id.ToString()).ToList();
        List<string> realID = currentIDS.ToList();
        string price = "price";
        string watt = "watt";

        string bconfig = (Model.Id != null) ? currentBiInverters.Where(m => m.Id == Model.Id).Select(a => a.CommunicationList).FirstOrDefault().ToString() : currentBiInverters.FirstOrDefault().CommunicationList.ToString();
        List<string> bsplitCOnf = bconfig.Split(',').ToList();

        var cconfig = (Model.Id != null) ? currentBiInverters.Where(m => m.Id == Model.Id).Select(a => a.ApplicationList).FirstOrDefault().ToString() : currentBiInverters.FirstOrDefault().ApplicationList.ToString();
        List<string> csplitCOnf = cconfig.Split(',').ToList();

        var dconfig = (Model.Id != null) ? currentBiInverters.Where(m => m.Id == Model.Id).Select(a => a.InterfaceList).FirstOrDefault().ToString() : currentBiInverters.FirstOrDefault().InterfaceList.ToString();
        List<string> dsplitCOnf = dconfig.Split(',').ToList();

      
        if (realID.Count > 0)
        {
            <tr id="RandomID_@(Guid.NewGuid())">
                <td ><label id="RandomID_@(Guid.NewGuid())" class="control-label"> @Model.Key</label></td>
                <td>@Html.DropDownListFor(model => model.Id, new SelectList(realID), new { onchange = "Changer2(this)", @class = "form-control" })</td>
                <td>@Html.DropDownListFor(model => model.Communication, new SelectList(bsplitCOnf), new {@class ="form-control" })</td>
                <td>@Html.DropDownListFor(model => model.Interface, new SelectList(dsplitCOnf), new {@class ="form-control" })</td>

                  <td>@Html.DropDownListFor(model => model.Application, new SelectList(csplitCOnf), new { @class = "form-control" })</td>
                <td><label id="RandomID_@(Guid.NewGuid())" class="control-label">@Model.Watt.ToString("#,##0.00") kW</label></td>

                 <td> @Html.HiddenFor(model => model.Amount, new { oninput = "priceCheck2(this)", onfocus = "priceCheck2(this)" ,@class ="form-control" })</td>
                @{
            if (User.IsInRole("NVIAdmin"))
            {
                <td ><label id="RandomID_@(Guid.NewGuid())@price" class="control-label">@Model.totalCost.ToString("#,##0.00") @ViewBag.Currency</label></td>

            }
                }
                <td><a class="btn btn-danger btn-xs" title="Delete Item" style="width:20px;" onclick="deleteContainer(this)">-</a></td>
            </tr>


        }
    }


    catch (Exception)
    {

    }





}

