﻿@model NVIDev.Models.Project
@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Old</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CurrentUserID)
        @Html.HiddenFor(model => model.Costing)

        

        <div class="col-lg-6 ">
            <div class="tabs-containers ">
                test
                <ul class="nav nav-tabs">
                    <li class="active" id="head1"><a data-toggle="tab" href="#tab1">Customer</a></li>
                    <li class="" id="head2"><a data-toggle="tab" href="#tab2">Contact Person</a></li>
                </ul>

                <div class="tab-content">


                    <div class="tab-pane active" id="tab1">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Label("Company Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.CompanyName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.CompanyName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Project Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.ProjectName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.ProjectName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Abbreviation", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.Abbreviation, new { @class = "form-control", oninput = "abbr(this)" })
                                    @Html.ValidationMessageFor(model => model.Details.Abbreviation)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Site", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.P_Site, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.P_Site)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Country", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.Details.P_Country, new SelectList(ViewBag.Countries), new { @id = "countryList", @onchange = "GetPortData(this)", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.P_Country)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Port of Entry", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.Details.PortOfEntry, new SelectList(ViewBag.Ports), new { @id = "portList", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.PortOfEntry) @*@Ajax.ActionLink("Calculate Distance +", "ShowMap", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "MapHere" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Street", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.P_Road, new { @id = "destinationStreet", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.P_Road)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("City", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.P_City, new { @id = "destinationCity", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.P_City)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("GPS", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.GPSCoords, new { @id = "gpscoords", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.GPSCoords)
                                </div>
                            </div>

                            <div class="form-group hidden">
                                @Html.Label("Distance", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div id="distance" class="text-readonly">-</div>

                                    @Html.ValidationMessageFor(model => model.Details.Distance)
                                </div>
                            </div>


                            <div class="form-group ">
                                <div class="col-md-9 col-md-offset-3">
                                    <input type="button" onclick="calcRoute()" value="Find On Map" title="Calculate Distance from port." />
                                </div>

                            </div>
                            <div class="form-group ">
                                <div class="col-md-9 col-md-offset-3">
                                    <input type="button" value="Nexts" onclick="next()" class="btn btn-primary" />
                                </div>

                            </div>

                            <script type="text/javascript">
                                function next() {
                                    $("#head1").removeClass("active"); $("#tab1").removeClass("active");
                                    $("#head2").addClass("active"); $("#tab2").addClass("active");
                                    window.scrollTo(0, 40);
                                }
                            </script>
                        </div>

                        <div class="col-md-12">
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </div>
                    <div class="tab-pane" id="tab2">

                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Label("Title", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.Details.Title, new SelectList(ViewBag.Titles), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.Title)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Initial", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.Initial, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.Initial)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Surname", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.Surname, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.Surname)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Email Address", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.EmailAddress, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.EmailAddress)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Telephone", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Details.Telephone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Details.Telephone)
                                </div>
                            </div>


                            @Html.HiddenFor(model => model.Details.Distance, new { id = "DistanceValue" })
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>


                        </div>

                        <div class="col-md-12">
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-6 clearfix ">@Html.Partial("~/Views/Project/_Map.cshtml") </div>

    </div>



}



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/Ports.js")
    @Scripts.Render("~/Scripts/Maps.js")
    @Scripts.Render("~/Scripts/Details.js")


}
