﻿@model NVIDev.Models.Project

@{
    ViewBag.Title = "Details";
}
<div class="ibox-title">
    <h3>Energy Costs</h3>

    <h4>Project Code : @Model.Code</h4>
    <h4>Project Num  : @Model.Id</h4>
</div>
<hr />
    <div class="ibox-content">
        <hr />
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>
                    @Html.Label("Abbreviation")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.Abbreviation)
                </dd>

                <dt>
                    @Html.Label("Project Name")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.ProjectName)
                </dd>

                <dt><h4>Company Details</h4></dt>
                <dd></dd>
                <dt>
                    @Html.Label("Company Name")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.CompanyName)
                </dd>


                <dt><h4>Contact Person</h4></dt>
                <dt>
                    @Html.Label("Title")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Details.Title)
                </dd>

                <dt>
                    @Html.Label("Surname")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.Surname)
                </dd>

                <dt>
                    @Html.Label("Initial")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.Initial)
                </dd>

                <dt>
                    @Html.Label("Telephone")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.Telephone)
                </dd>

                <dt>
                    @Html.Label("Email Address")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.EmailAddress)
                </dd>
                <dt><h4>Project Details</h4></dt>
                <dd></dd>
                <dt>
                    @Html.Label("Site")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.P_Site)
                </dd>

                <dt>
                    @Html.Label("Country")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.P_Country)
                </dd>
                <dt>
                    @Html.Label("City")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.P_City)
                </dd>
                <dt>
                    @Html.Label("Road")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details.P_Road)
                </dd>


            </dl>

            <dl class="dl-horizontal col-md-6">


                <dt>
                    @Html.Label("Plan")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Plan)
                </dd>

                <dt>
                    @Html.Label("Term")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Term)
                </dd>





                <dt>
                    @Html.Label("Existing Source")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Source)
                </dd>

                <dt>
                    @Html.Label("Grid Tarrif")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Tarrif)
                </dd>

                <dt>
                    @Html.Label("Type")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Type)
                </dd>

                <dt>
                    @Html.Label("Use EPC?")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.UseEPC)
                </dd>

                <dt>
                    @Html.Label("EPC Price")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.EPCPrice)
                </dd>

                <dt>
                    @Html.Label("Install Fee")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.InstallFee)
                </dd>

                <dt>
                    @Html.Label("Design Fee")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.DesignFee)
                </dd>

                <dt>
                    @Html.Label("Storage Cost")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.StorageCost)
                </dd>

                <dt>
                    @Html.Label("Yield")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Yield)
                </dd>


                <dt>
                    @Html.Label("Diesel Consumed")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.DieselConsumer)
                </dd>

                <dt>
                    @Html.Label("Diesel Price")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.DieselPrice)
                </dd>
                <dt>
                    @Html.Label("Diesel Percent")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.DieselPercent)
                </dd>

                <dt>
                    @Html.Label("Electric Usage P/Year")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.ElectricUsagePYear)
                </dd>






                <dt>
                    @Html.Label("Generator Efficiency")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.GeneratorEfficiency)
                </dd>

                <dt>
                    @Html.Label("Client Demand")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.Demand)
                </dd>
                <dt>
                    @Html.Label("OM Rate")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costing.OMRate)
                </dd>

                <dt>
                    @Html.Label("Fixed Annual Payment")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.real_FixedAnualCharge)
                </dd>

                <dt>
                    @Html.Label("Upfront Fee")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.real_UpfrontFee)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
  