﻿@model NVIDev.Models.EquipmentSelectionViewModel

@{
    ViewBag.Title = "Equipment Selection";
}
@{

    List<string> bTypes = ViewBag.BOSTypes;
}

@section Submenu{



    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="margin-top:20px">
                <li>@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.Id })</li>
                <li>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.Id })</li>
                <li class="active"><b>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.Id })</b></li>
                <li>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.Id })</li>
                <li>@Html.ActionLink("FINANCE", "Finance", new { id = Model.Id })</li>
                <li>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.Id })</li>

            </ol>
        </div>

        <div class="col-lg-2"></div>
    </div>

}


<div class="ibox-title">

    <h4><b>Project Code : @Model.Code</b></h4>
    @*@using (Ajax.BeginForm("EditCosting", new AjaxOptions() { OnSuccess = "UpdateTarrif(data)" }))*@
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="ibox-content">
            <div>
                <h4 id="totalWatts">System Size: </h4>
                <h4 id="totalStorage">Total Storage :</h4>
                @{
    if (User.IsInRole("NVIAdmin"))
    {
        <h4 id="totalCost">Total Cost :$</h4>
                    <h4>Exchange Rate <span id="Curr">@ViewBag.Currency</span> / US $ : <span id="Exch">@ViewBag.Exch</span></h4>

    }
                }
            </div>
            @Html.ValidationSummary(true)


            @*<div class="form-group">
                    <h4 class="col-md-offset-0 col-md-12"><b><u></u></b></h4>

                </div>*@
        </div>
        <div class="ibox-title font-bold">Yield &amp; Project Type:</div>

        <div class="ibox-content">
            <div class="form-group form-group-xs">
                @Html.Label("Type", new { @class = "text-right col-md-1" })
                <div class="col-md-11">
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.Type, new SelectList(ViewBag.Types), new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Type)
                </div>
            </div>


            <div class="form-group form-group-xs">
                @Html.Label("Yield", new { @class = "text-right col-md-1" })
                <div class="col-md-3 clearfix">

                    <div class="input-group">


                        @Html.HiddenFor(model => model.Yield, new { @class = "form-control" })
                        <span class="input-group-addon">kWh</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Yield)
                </div>
            </div>

        </div>

        <div class="ibox-title font-bold">Project Equipment:</div>

        <div class="ibox-content">


            <h4 class="mtab" onclick="toggleTable('PVRows', 1)"><span id="r1" class="glyphicon glyphicon-plus-sign"></span> Modules</h4>
            <table id="PVRows" class="table hidden">


                <tr>
                    <th>Item No.</th>
                    <th>Item</th>
                    <th>Kilo Watt</th>

                    <th>Qty</th>
                    @{
    if (User.IsInRole("NVIAdmin"))
    {
        <th>Price</th>

    }
                    }
                    <th>@Ajax.ActionLink("+", "AddBasic", new { id = "PVModuleList" }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successCallPV" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" }) </th>
                </tr>






                @{
    foreach (var item in Model.PVModuleList)
    {
        item.Watt /= 1000;
        Html.RenderPartial("PVSub", item);
    }



                }

            </table>
            <h4 class="mtab" onclick="toggleTable('InverterRows', 2)"><span id="r2" class="glyphicon glyphicon-plus-sign"></span> Inverters</h4>

            <table id="InverterRows" class="table hidden">
                <tr>
                    <th>Item No.</th>
                    <th>Item</th>
                    <th>Communication</th>
                    <th>DC Overvoltage</th>
                    <th>DC Load disconnection</th>
                    <th>I/O Port Module</th>
                    <th>Country Specific Grid</th>
                    <th>kW</th>

                    <th>Qty</th>
                    @{
    if (User.IsInRole("NVIAdmin"))
    {
        <th>Price</th>

    }
                    }
                    <th>@Ajax.ActionLink("+", "AddInverter", new { id = "InverterRows" }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successCallINV" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" })   </th>
                </tr>
                @{
    foreach (var item in Model.InvertList)
    {
        item.Watt /= 1000;
        Html.RenderPartial("ISub", item);
    }
                }

            </table>






            <h4 class="mtab" onclick="toggleTable('BiInverterRows', 3)"><span id="r3" class="glyphicon glyphicon-plus-sign"></span> Bi-Inverters</h4>

            <table id="BiInverterRows" class="table hidden">
                <tr>
                    <th>Item No.</th>
                    <th>Item</th>
                    <th>Communication</th>
                    <th>Interface</th>
                    <th>Application</th>
                    <th>kW</th>

                    <th>Qty</th>
                    @{
    if (User.IsInRole("NVIAdmin"))
    {
        <th>Price</th>

    }
                    }
                    <th>@Ajax.ActionLink("+", "AddBiInverter", new { id = "BiInverters" }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successCallBINV" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" }) </th>
                </tr>


                @{
    foreach (var item in Model.BiInverterList)
    {
        item.Watt /= 1000;
        Html.RenderPartial("BiSub", item);
    }
                }

            </table>



            <h4 onclick="toggleTable('MountRows', 4)" class="mtab"><span id="r4" class="glyphicon glyphicon-plus-sign"></span> Mounting Structures</h4>

            <table id="MountRows" class="table table-condensed hidden">
                <tr>
                    <th>Cost In Dollars</th>
                    <th>Number of 20ft Containers</th>
                </tr>

                <tr>
                    <td>
                        @Html.HiddenFor(m => m.MountingCostInDollars, new { @class = "form-control", @id = "mounting", oninput = "Tally()" })
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.MountingContainers20ft, new { @class = "form-control" })
                    </td>
                </tr>
            </table>
            @*<h4>@Ajax.ActionLink("+", "AddBasic", new { id = "MountingStructureList" }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successCallMount" }, new { @class = "btn btn-xs btn-primary" , title="Add Item"})  Mounting Structures</h4>

                    <table id="MountingRows" class="table">
                        <tr>
                            <th>Item No.</th>
                            <th>Item</th>
                            <th>Watt</th>
                            <th>Qty</th>
                            @{
                if (User.IsInRole("NVIAdmin"))
                {
                    <th>Price</th>

                }
                            }
                                  <th></th>
                        </tr>


                        @{
                    foreach (var item in Model.MountingStructureList)
                {
                    Html.RenderPartial("MonSub", item);
                }
                        }

                    </table>*@









            <h4 class="mtab" onclick="toggleTable('BattRows',5)"><span id="r5" class="glyphicon glyphicon-plus-sign"></span> Batteries</h4>

            <table id="BattRows" class="table hidden">
                <tr>
                    <th>Item No.</th>
                    <th>Item</th>
                    <th>kWh</th>

                    <th>Qty</th>
                    @{
    if (User.IsInRole("NVIAdmin"))
    {
        <th>Price</th>

    }
                    }
                    <th>@Ajax.ActionLink("+", "AddBasic", new { id = "BatteryList" }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successCallBatt" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" }) </th>
                </tr>

                @{
    foreach (var item in Model.BatteryList)
    {
        item.Watt /= 1000;
        item.ParentList = "BatteryList";
        Html.RenderPartial("BatSub", item);
    }
                }
            </table>





            <h4 class="mtab" onclick="toggleTable('balance',6)"><span id="r6" class="glyphicon glyphicon-plus-sign"></span> Balance of System</h4>


            <div class="hidden" id="balance">

                @{
    foreach (var typo in bTypes)
    {


        <h5> @typo</h5>
                    <table class="table" id="@typo.Replace(" ", "_").Substring(0, 5)">
                        <tr>
                            <th>Item No.</th>
                            <th>Item</th>

                            <th>Qty</th>
                            @{
        if (User.IsInRole("NVIAdmin"))
        {
            <th>Price</th>

        }

        <th>@Ajax.ActionLink("+", "AddBalanceSystem", new { id = typo.Replace(" ", "_").Substring(0, 5) }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successBalance(data,'" + typo + "')" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" })</th>
                            }
                        </tr>
                        @{
        foreach (var item in Model.BalanceSystemList)
        {
            if (item.ParentList.Contains(typo.Substring(0, 5)))
            {
                item.Watt /= 1000;
                Html.RenderPartial("BalanceSub", item);
            }
        }

                        }
                    </table>

    }

                }

            </div>



            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" /> @{ if (Model.isEquipmentDone)
                     {
                        @Html.ActionLink("Next", "Quoting", new { id = Model.Id }, new { @class = "btn btn-success" })
                     }
                    }
                </div>
            </div>

        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Deleter.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/UpdateList.js")
    @Scripts.Render("~/Scripts/Thousands.js")




}

