﻿@model NVIDev.Models.Project

@{
    ViewBag.Title = "Customer Details";
}
@section Submenu{


    @*<div>
              <ul class="nav nav-pills nav-wizard">
                  <li class="active">@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.Id })<div class="nav-arrow"></div></li>
                  <li><div class="nav-wedge"></div>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.Id })<div class="nav-arrow"></div></li>
                  <li><div class="nav-wedge"></div>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.Id })<div class="nav-arrow"></div></li>
                  <li><div class="nav-wedge"></div>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.Id })<div class="nav-arrow"></div></li>
                  <li><div class="nav-wedge"></div>@Html.ActionLink("FINANCE", "Finance", new { id = Model.Id })<div class="nav-arrow"></div></li>
                  <li><div class="nav-wedge"></div>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.Id })</li>

              </ul>
        </div>*@


    @* <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Tabs</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a>UI Elements</a>
                    </li>
                    <li class="active">
                        <strong>Tabs</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div> *@

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="margin-top:20px">
                <li class="active"><b>@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.Id })</b></li>
                <li>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.Id })</li>
                <li>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.Id })</li>
                <li>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.Id })</li>
                <li>@Html.ActionLink("FINANCE", "Finance", new { id = Model.Id })</li>
                <li>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.Id })</li>

            </ol>
        </div>

        <div class="col-lg-2"></div>
    </div>
}

<div class="ibox-title">

    <h4><b>Project Code : @Model.Code</b></h4>
    @*@using (Ajax.BeginForm("EditCosting", new AjaxOptions() { OnSuccess = "UpdateTarrif(data)" }))*@

</div>
<div class="ibox-title font-bold">Customer Details</div>

<div class="ibox-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal row">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CurrentUserID)
            @Html.HiddenFor(model => model.Costing)



            <div class="col-lg-6 ">
                <div class="tabs-container ">

                    <ul class="nav nav-tabs">
                        <li class="active" id="head1"><a data-toggle="tab" href="#tab1">Customer</a></li>
                        <li class="" id="head2"><a data-toggle="tab" href="#tab2">Contact Person</a></li>
                    </ul>

                    <div class="tab-content">


                        <div class="tab-pane active" id="tab1">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.Label("Company Name", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.CompanyName, new { @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.CompanyName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Project Name", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.ProjectName, new { @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.ProjectName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Abbreviation", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.Abbreviation, new { @class = "form-control", oninput = "abbr(this)", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.Abbreviation)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Site", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.P_Site, new { @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.P_Site)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Country", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.Details.P_Country, new SelectList(ViewBag.Countries), new { @id = "countryList", @onchange = "GetPortData(this)", @onload = "GetPortData(this)", @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.P_Country)
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    @Html.Label("Port of Entry", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.Details.PortOfEntry, new SelectList(ViewBag.Ports), new { @id = "portList", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Details.PortOfEntry) @*@Ajax.ActionLink("Calculate Distance +", "ShowMap", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "MapHere" })*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Street", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.P_Road, new { @id = "destinationStreet", @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.P_Road)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("City", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.P_City, new { @id = "destinationCity", @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.P_City)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("GPS", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.GPSCoords, new { @id = "gpscoords", @class = "form-control", @style = "text-align:left;" })
                                        @Html.ValidationMessageFor(model => model.Details.GPSCoords)
                                    </div>
                                </div>

                                <div class="form-group hidden">
                                    @Html.Label("Distance", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <div id="distance" class="text-readonly">@Model.Details.Distance km</div>

                                        @Html.ValidationMessageFor(model => model.Details.Distance)
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <div class="col-md-9 col-md-offset-3">
                                        <input type="button" onclick="calcRoute()" value="Find On Map" title="Calculate Distance from port." />
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <div class="col-md-9 col-md-offset-3">
                                        <input type="button" value="Next" onclick="next()" class="btn btn-primary" />
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    function next() {
                                        $("#head1").removeClass("active"); $("#tab1").removeClass("active");
                                        $("#head2").addClass("active"); $("#tab2").addClass("active");
                                        window.scrollTo(0, 40);
                                    }
                                </script>
                            </div>

                            <div class="col-md-12">
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                        </div>
                        <div class="tab-pane" id="tab2">

                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.Label("Title", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.Details.Title, new SelectList(ViewBag.Titles), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Details.Title)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Initial", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.Initial, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Details.Initial)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Surname", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.Surname, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Details.Surname)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Email Address", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.EmailAddress, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Details.EmailAddress)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Telephone", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Details.Telephone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Details.Telephone)
                                    </div>
                                </div>


                                @Html.HiddenFor(model => model.Details.Distance, new { id = "DistanceValue" })
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Save" class="btn btn-primary" />

                                        @{ if (Model.isDetailsDone())
                                             {
                                            @Html.ActionLink("Next", "EditCosting", new { id = Model.Id }, new { @class = "btn btn-success" })
                                                 }
                                        }
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-12">
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-6 clearfix ">@Html.Partial("~/Views/Project/_Map.cshtml") </div>

        </div>



    }

</div>









@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/Details.js")

    @Scripts.Render("~/Scripts/Ports.js")
    @Scripts.Render("~/Scripts/Maps.js")

}