﻿@model NVIDev.Models.Project

@{
    ViewBag.Title = "Proposal Inputs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Submenu{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="margin-top:20px">
                <li>@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.Id })</li>
                <li class="active"><b>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.Id })</b></li>
                <li>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.Id })</li>
                <li>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.Id })</li>
                <li>@Html.ActionLink("FINANCE", "Finance", new { id = Model.Id })</li>
                <li>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.Id })</li>

            </ol>
        </div>

        <div class="col-lg-2"></div>
    </div>

}



<div class="ibox-title">

    <h4><b>Project Code : @Model.Code</b></h4>
    @*@using (Ajax.BeginForm("EditCosting", new AjaxOptions() { OnSuccess = "UpdateTarrif(data)" }))*@
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CurrentUserID)
            @Html.HiddenFor(model => model.Details)





            <div class="ibox-title font-bold">Current Energy Costs</div>
            <div class="ibox-content">


                <table class="table table-striped white-bg">
                    <thead>Enter clients monthly electricity usage (KWh):  Apply for All  @Html.CheckBoxFor(model => model.Costing.ApplyForAllMonths, new { @id = "ApplyAll", @onchange = "CheckDemandA()"}) </thead>
                    <tr>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>Aug</th>
                        <th>Sept</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>
                    <tr>


                        <td>

                            @Html.HiddenFor(model => model.Costing.ClientDemand1, new { @class = "form-control text-right", @oninput = "CheckDemand()" })


                        </td>
                        <td>

                            @Html.HiddenFor(model => model.Costing.ClientDemand2, new { @class = "form-control text-right", @oninput = "CheckDemand()" })


                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand3, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand4, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand5, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand6, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand7, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand8, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand9, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand10, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand11, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Costing.ClientDemand12, new { @class = "form-control text-right", @oninput = "CheckDemand()" })
                        </td>
                    </tr>
                </table>

                <div class="form-group form-group-xs">

                    @Html.Label("Plan", new { @class = "control-label  col-md-2" })
                    <div class="col-md-3 clearfix">
                        @Html.DropDownListFor(model => model.Costing.Plan, new SelectList(ViewBag.Plans), new {  @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Costing.Plan)
                    </div>
                </div>
                <div class="form-group form-group-xs">

                    @Html.Label("Energy Source", new { @class = "control-label  col-md-2" })
                    <div class="col-md-3 clearfix">
                        @Html.DropDownListFor(model => model.Costing.Source, new SelectList(ViewBag.Sources), new { id = "EnergySourceSelect", onchange = "CheckBoxes()", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Costing.Source)
                    </div>
                </div>

                <div id="mdTar" class="form-group form-group-xs">
                    @Html.Label("Grid Tariff Costs", new { @class = "control-label  col-md-2" })
                    <div class="col-md-3 clearfix">

                        <div class="input-group">
                            @Html.HiddenFor(model => model.Costing.Tarrif, new { @class = "form-control" , @id ="gridTarrif"})

                            <span class="input-group-addon">@ViewBag.Currency</span>
                            @* kWh *@

                        </div>

                        @Html.ValidationMessageFor(model => model.Costing.Tarrif)
                    </div>
                </div>

                <div id="mdEff" class="form-group form-group-xs">
                    @Html.Label("Generator Efficiency", new { @class = "control-label  col-md-2" })
                    <div class="col-md-3 clearfix">
                        <div class="input-group">

                            @Html.HiddenFor(model => model.Costing.GeneratorEfficiency, new { @class = "form-control" })
                            <span class="input-group-addon">kWh/ l</span>

                        </div>
                        @Html.ValidationMessageFor(model => model.Costing.GeneratorEfficiency)
                    </div>
                </div>

                <div id="mdUse" class="form-group  form-group-xs">
                    @Html.Label("Monthly Diesel Usage", new { @class = "control-label  col-md-2" })
                    <div class="col-md-3 clearfix">
                        <div class="input-group">


                            @Html.HiddenFor(model => model.Costing.DieselConsumer, new { @class = "form-control" })
                            <span class="input-group-addon"></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Costing.DieselConsumer)
                    </div>
                </div>

                <div id="mdPerc" class="form-group form-group-xs">
                    @Html.Label("Percent From Diesel", new { @class = "control-label  col-md-2" })
                    <div class="col-md-3 clearfix">
                        <div class="input-group">
                            @Html.HiddenFor(model => model.Costing.DieselPercent, new { @class = "form-control" })
                            <span class="input-group-addon">%</span>
                        </div>


                        @Html.ValidationMessageFor(model => model.Costing.DieselPercent)
                    </div>
                </div>


                <div id="mdPrice" class="form-group form-group-xs">
                    @Html.Label("Diesel Price", new { @class = "control-label col-md-2" })
                    <div class="col-md-3 clearfix">
                        <div class="input-group">

                            @Html.HiddenFor(model => model.Costing.DieselPrice, new { @class = "form-control" })
                            <span class="input-group-addon">@ViewBag.Currency /l</span>

                        </div>
                        @Html.ValidationMessageFor(model => model.Costing.DieselPrice)
                    </div>
                </div>

                @*<div class="form-group form-group-xs">
                            @Html.Label("Use EPC?", new { @id = "EPCBlock", @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.RadioButtonFor(model => model.Costing.UseEPC, true, new { @onclick = "EPCCHECK(1)", @onload = "EPCCHECK(1)" }) Yes
                                @Html.RadioButtonFor(model => model.Costing.UseEPC, false, new { @id = "Costing_UseEPC2", @onclick = "EPCCHECK(1)", @onload = "EPCCHECK(1)" }) No

                                @Html.ValidationMessageFor(model => model.Costing.UseEPC)
                            </div>
                        </div>

                        @{
                    if (Model.Costing.UseEPC)
                    {
                        <div class="form-group form-group-xs">
                            @Html.Label("EPC Price", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Costing.EPCPrice) @ViewBag.Currency
                                @Html.ValidationMessageFor(model => model.Costing.EPCPrice)
                            </div>
                        </div>

                    }

                    else
                    {
                        <div class="form-group form-group-xs">
                            @Html.Label("EPC Price", new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.HiddenFor(model => model.Costing.EPCPrice, null, new { @disabled = "disabled" }) @ViewBag.Currency
                                @Html.ValidationMessageFor(model => model.Costing.EPCPrice)
                            </div>
                        </div>
                    }
                        }*@


                @*<h4 class="col-md-offset-1 col-md-11"><b><u>Technical Partner Costs</u></b></h4>


                    <div class="form-group form-group-xs">
                        @Html.Label("Technical Partner", new { @class = "control-label col-md-3 " })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Costing.TechnicalPartner)
                            @Html.ValidationMessageFor(model => model.Costing.TechnicalPartner)
                        </div>
                    </div>

                    <div class="form-group form-group-xs">
                        @Html.Label("Design Fee", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Costing.DesignFee)@ViewBag.Currency
                            @Html.ValidationMessageFor(model => model.Costing.DesignFee)
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        @Html.Label("Install Fee", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Costing.InstallFee)@ViewBag.Currency
                            @Html.ValidationMessageFor(model => model.Costing.InstallFee)
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        @Html.Label("O & M Works", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Costing.OMWorks) @ViewBag.Currency
                            @Html.ValidationMessageFor(model => model.Costing.OMWorks)
                        </div>
                    </div>

                    <div class="form-group form-group-xs">
                        @Html.Label("Technical Partner Share", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Costing.TPShare)
                            @Html.ValidationMessageFor(model => model.Costing.TPShare)
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        @Html.Label("Fixed Annual Charge", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.real_FixedAnualCharge) @ViewBag.Currency
                            @Html.ValidationMessageFor(model => model.real_FixedAnualCharge)
                        </div>
                    </div>

                    <div class="form-group form-group-xs">
                        @Html.Label("Incl O & M in Tarrif?", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.RadioButtonFor(model => model.OMYN, true) Yes
                            @Html.RadioButtonFor(model => model.OMYN, false) No
                        </div>

                    </div>

                    <div class="form-group form-group-xs">
                        @Html.Label("Incl Insurance in Tarrif?", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.RadioButtonFor(model => model.InsureYN, true) Yes
                            @Html.RadioButtonFor(model => model.InsureYN, false) No


                        </div>

                    </div>*@








                <div class="form-group form-group-xs">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />


                        @{ if (Model.isEnergyDone())
                            {
                                @Html.ActionLink("Next", "EditEquipment", new { id = Model.Id }, new { @class = "btn btn-success" })
                            }
                        }
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>


        </div>



    }




    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/Costing.js")
        @Scripts.Render("~/Scripts/Thousands.js")
    }




    <script type="text/javascript">

        //$(document).ready(function () {
        //    EPCCHECK(1);
        //});


        function EPCCHECK(int) {
            var box;
            var elem;
            switch (int) {
                case 1: box = document.getElementById("Costing_UseEPC");
                    elem = document.getElementById("Costing_EPCPrice");
                    break;

                default: break;
            }

            if (box.checked == true) {
                elem.disabled = false;

            }


            else {

                elem.disabled = true;
                elem.innerHTML = "0.00";


            }
        }
    </script>


