﻿@model NVIDev.Models.Project

@{
    ViewBag.Title = "Finance";
    string c = ViewBag.Currency;
    NVIDev.Models.SuperProject super = (NVIDev.Models.SuperProject)ViewBag.Super;

    string plan = string.IsNullOrWhiteSpace(Model.Costing.Plan) ? "Cash Offer" : Model.Costing.Plan;


    NVIDev.Models.SuperProject PBS = (NVIDev.Models.SuperProject)ViewBag.PBS;
    NVIDev.Models.SuperProject PPA = (NVIDev.Models.SuperProject)ViewBag.PPA;
    NVIDev.Models.SuperProject CSH = (NVIDev.Models.SuperProject)ViewBag.CSH;


    string firstYearSavingsPBS = doubler((PBS.ExistingPower * (1 + PBS.Country.UtilityInflation / 100)) * PBS.SolarProduction20[0], "#,##");
    string firstYearSavingsPPA = doubler((PPA.ExistingPower * (1 + PPA.Country.UtilityInflation / 100)) * PPA.SolarProduction20[0], "#,##");
    string firstYearSavingsCSH = doubler((CSH.ExistingPower * (1 + super.Country.UtilityInflation / 100)) * CSH.SolarProduction20[0], "#,##");

}





@functions{

    static string doubler(double content, string format)
    {
        string a = double.IsNaN(content) || content == 0.00 ? "-" : content.ToString(format);
        return a;
    }
}






@section Submenu{

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="margin-top:20px">
                <li>@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.Id })</li>
                <li>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.Id })</li>
                <li>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.Id })</li>
                <li>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.Id })</li>
                <li class="active"><b>@Html.ActionLink("FINANCE", "Finance", new { id = Model.Id })</b></li>
                <li>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.Id })</li>

            </ol>
        </div>

        <div class="col-lg-2"></div>
    </div>

}
<div class="ibox-title">

    <h4><b>Project Code : @Model.Code</b></h4>
    @*@using (Ajax.BeginForm("EditCosting", new AjaxOptions() { OnSuccess = "UpdateTarrif(data)" }))*@
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Costing.Plan, new { id = "mplan" })

    <div class="form-horizontal">
        <div class="ibox-content">



            <div id="leftrow" class="col-lg-4">

                <div>
                    <div class="form-group">
                        <h4><b><u>Financing Options:</u></b></h4>

                    </div>
                    @*<div class="form-group form-group-xs">


                        @Html.Label("Term:", new { @class = "text-right  col-md-6" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Costing.Term, new SelectList(ViewBag.Terms), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Costing.Term)
                        </div>
                    </div>*@
                    
                    <div >




                        <div class="form-group form-group-xs">

                            @Html.Label("Plan:", new { @class = "text-right  col-md-6" })
                            <div class="col-md-6" id="txtplan">

                                Pay-By-Solar
                            </div>
                        </div>


                        <div class="form-group ">
                            @Html.Label("Indicative Tariff:", new { @id = "EPCBlock", @class = "text-right col-md-6" })
                            <div class="col-md-6">
                                @{ <span id="indicativeTarrif">@doubler(PBS.TFR, "0.00")</span>  } @c / kWp
                            </div>
                        </div>

                        <div class="form-group ">
                            @Html.Label("Fixed Payment:", new { @class = "text-right col-md-6" })
                            <div class="col-md-6">
                                @{ <span id="fixedPayment">@doubler(PBS.Project.real_FixedAnualCharge, "#,##0.00")</span>  } @c
                            </div>
                        </div>

                        <div class="form-group ">
                            @Html.Label("Upfront Payment:", new { @class = "text-right col-md-6" })
                            <div class="col-md-6">
                                @{ <span id="upfrontPayment">@doubler(PBS.Project.real_UpfrontFee, "#,##0.00")</span>  } @c
                            </div>
                        </div>


                        <div class="form-group ">
                            @Html.Label("Minimum Term:", new { @class = "text-right col-md-6" })
                            <div class="col-md-6">
                                @{ <span id="term">- </span>   }  Years
                            </div>
                        </div>


                        <div class="form-group ">
                            <i>   @Html.Label("Monthly Saving(Yr 1)", new { @class = "text-right col-md-6" })</i>
                            <div class="col-md-6">
                                @{ <span id="firstYearSaving">@firstYearSavingsPBS</span>  } @c
                            </div>
                        </div>


                        <div class="form-group ">
                            <i>   @Html.Label("Payback Period", new { @class = "text-right col-md-6" })</i>
                            <div class="col-md-6">
                                @{ <span id="paybackperiod">@PBS.Project.Costing.Term</span>  } Years
                            </div>
                        </div>

                    </div>


                 
                </div>

                @Html.HiddenFor(model => model.Id)



            </div>

            <div id="rightrow" class="col-lg-8">
                <div class="form-group">
                    <h4><b><u>Choose Your Plan:</u></b></h4>
                </div>
                <div class="">
                    <div class="offer offer-on" id="cash" onclick="ChangePlan('Cash Offer')">
                        <h5><span class="glyphicon glyphicon-usd"></span><b>Cash Offer</b></h5>
                        <p>A full payment of all the solar assets.</p>
                    </div>
                    <div class="offer" id="pbs" style="background-color:#77A140" onclick="ChangePlan('Pay-By-Solar')">
                        <h5><span class="glyphicon glyphicon-plus"></span><b> Pay-By-Solar </b></h5>
                        <p>A rent-to-own offer, that allows our customers to pay off the system by making payments based on the energy produced, over an agreed period. A downpayment is required.</p>

                        <div id="pbsfields">
                            <div class="form-group form-group-xs">
                                @Html.Label("Term:", new { @class = "control-label  col-md-3" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model.Costing.Term, new SelectList(ViewBag.Terms), new { @class = "form-control", @style = "color:black" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-xs">
                                @Html.Label("Upfront Client:", new { @class = "control-label  col-md-3" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.real_UpfrontClient, new { @class = "form-control" }) <span class="input-group-addon">@c</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                @Html.Label("Fixed Annual Charge:", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.real_FixedAnualCharge, new { @class = "form-control" }) <span class="input-group-addon">@c</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-xs">
                                @Html.Label("Incl O & M?", new { @class = "text-right col-md-3" })
                                <div class="col-md-9">
                                    @Html.RadioButtonFor(model => model.OMYN, true) Yes
                                    @Html.RadioButtonFor(model => model.OMYN, false) No
                                </div>

                            </div>

                            <div class="form-group form-group-xs">
                                @Html.Label("Incl Insurance?", new { @class = "text-right col-md-3" })
                                <div class="col-md-9">
                                    @Html.RadioButtonFor(model => model.InsureYN, true) Yes
                                    @Html.RadioButtonFor(model => model.InsureYN, false) No


                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="offer" id="ppa" style="background-color:#0094ff" onclick="ChangePlan('Power Purchase Agreement')">
                        <h5><span class="glyphicon glyphicon-plus"></span><b> Power Purchase</b></h5>
                        <p>An agreement where system ownership is retained by us and energy is supplied and paid for on a unit cost basis directly to your site.</p>
                        <div id="ppafields">
                            <div class="form-group form-group-xs">
                                @Html.Label("Term:", new { @class = "control-label  col-md-3" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model.Costing.Term, new SelectList(ViewBag.Terms), new { @class = "form-control", @style ="color:black" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                @Html.Label("Upfront Client:", new { @class = "ontrol-label col-md-3" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.real_UpfrontClient, new { @class = "form-control" }) <span class="input-group-addon">@c</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                @Html.Label("Fixed Annual Charge:", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.real_FixedAnualCharge, new { @class = "form-control" }) <span class="input-group-addon">@c</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div id="cashvals" class="hidden">

                @{ <span id="indicativeTarrifcash">-</span>  }


                @{ <span id="fixedPaymentcash">-</span>  }



                @{ <span id="upfrontPaymentcash">-</span>  }



                @{ <span id="termcash">- </span>   }



                @{ <span id="firstYearSavingcash">@firstYearSavingsCSH</span>  }




                @{ <span id="paybackperiodcash">-</span>  } 
            </div>
            <div id="ppavals" class="hidden">

                @{ <span id="indicativeTarrifppa">@doubler(PPA.TFR, "0.00")</span>  }


                @{ <span id="fixedPaymentppa">@doubler(PPA.Project.real_FixedAnualCharge, "#,##0.00")</span>  }



                @{ <span id="upfrontPaymentppa">@doubler(PPA.Project.real_UpfrontFee, "#,##0.00")</span>  }



                @{ <span id="termppa">3 </span>   }



                @{ <span id="firstYearSavingppa">@firstYearSavingsPPA</span>  }




                @{ <span id="paybackperiodppa">@PPA.Project.Costing.Term</span>  } 
            </div>

            <div id="pbsvals" class="hidden">

              
                                @{ <span id="indicativeTarrifpbs">@doubler(PBS.TFR, "0.00")</span>  } 
                  
                 
                                @{ <span id="fixedPaymentpbs">@doubler(PBS.Project.real_FixedAnualCharge, "#,##0.00")</span>  } 
                   

                  
                                @{ <span id="upfrontPaymentpbs">@doubler(PBS.Project.real_UpfrontFee, "#,##0.00")</span>  } 
                      


                                @{ <span id="termpbs">3 </span>   }  
                  

                   
                                @{ <span id="firstYearSavingpbs">@firstYearSavingsPBS</span>  } 
                       


                      
                                @{ <span id="paybackperiodpbs">@PBS.Project.Costing.Term</span>  } 
                         
            </div>

            @*<table class="table-condensed table  col-md-12 clearfix">
                <tr>
                    <th class="col-md-3">Adjustments:</th>
                    <th class="col-md-3">Initial (@c)</th>
                    <th class="col-md-3">Adjustment</th>
                    <th class="col-md-3">Adjusted (@c)</th>
                </tr>
                <tr>
                    <td class="col-md-3">Solar Capex</td>
                    <td class="col-md-3" id="OldSolarCap">@Model.in_SolarCapexFee.ToString("#,##0.00")</td>
                    <td class="col-md-3" >
                        <div class="input-group">@Html.TextBoxFor(m => m.adj_SolarCapexFee, new { oninput = "ChangeSolarCap(this)", @class = "form-control" })<span class="input-group-addon">%</span></div>
                    </td>
                    <td class="col-md-3" id="NewSolarCap">@Model.real_SolarCapexFee.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="col-md-3">Our Upfront Fee</td>
                    <td class="col-md-3" id="OldUpfrontFee">@Model.in_UpfrontFee.ToString("#,##0.00")</td>
                    <td class="col-md-3" >
                        <div class="input-group">@Html.TextBoxFor(m => m.UpAdj, new { oninput = "ChangeUpfront(this)", @class = "form-control" })<span class="input-group-addon">%</span></div>
                    </td>
                    <td class="col-md-3" id="NewUpfrontFee">@Model.real_UpfrontFee.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="col-md-3">Admin Fee</td>
                    <td class="col-md-3" id="OldAdminFee">@Model.in_AdminFee.ToString("#,##0.00")</td>
                    <td class="col-md-3" >
                        <div class="input-group">@Html.TextBoxFor(m => m.FAdmin, new { oninput = "ChangeAdmin(this)", @class = "form-control" })<span class="input-group-addon">%</span></div>
                    </td>
                    <td class="col-md-3" id="NewAdminFee">@Model.real_AdminFee.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="col-md-3">Real Return (Ri)</td>
                    <td class="col-md-3" id="OldRI">@Model.In_Ri.ToString("#,##0.00")</td>
                    <td class="col-md-3" >
                        <div class="input-group">@Html.TextBoxFor(m => m.RIAdjustment, new { oninput = "ChangeRI(this)", @class = "form-control" })<span class="input-group-addon">%</span></div>
                    </td>
                    <td class="col-md-3" id="NewRI">@Model.real_RI.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="col-md-3">Upfront Client</td>
                    <td class="col-md-3" id="OldUpfrontClient">@Model.in_UpfrontClient.ToString("#,##0.00")</td>
                    <td class="col-md-3" >
                        <div class="input-group">@Html.TextBoxFor(m => m.UpAdj, new { oninput = "ChangeUpfrontClient(this)", @class = "form-control" })<span class="input-group-addon">@c</span></div>
                    </td>
                    <td class="col-md-3" id="NewUpfrontClient">@Model.real_UpfrontClient.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="col-md-3">Fixed Annual Charge</td>
                    <td class="col-md-3"></td>
                    <td class="col-md-3" >
                        <div class="input-group">@Html.TextBoxFor(m => m.real_FixedAnualCharge, new { oninput = "ChangeFixedAnnual(this)", @class = "form-control" })    <span class="input-group-addon">@c</span></div>

                    </td>
                    <td class="col-md-3" id="NewFixedAnnual">@Model.real_FixedAnualCharge.ToString("#,##0.00") </td>
                </tr>
                @Html.HiddenFor(model => model.Id)
            </table>*@

            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @{ if (Model.isFinanceDone())
                        {
                            @Html.ActionLink("Next", "ProposalGeneration", new { id = Model.Id }, new { @class = "btn btn-success" })
                        }
                    }
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>

    </div>
}






@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/Costing.js")


    @Scripts.Render("~/Scripts/PPACheck.js")
    @Scripts.Render("~/Scripts/AdminInputs.js")
    @Scripts.Render("~/Scripts/Finances.js")



}




