﻿@model IEnumerable<NVIDev.Models.Project>

@{
    ViewBag.Title = "Index";
}
@{
    bool phase01 = true;
    bool phase02 = false;
    bool phase03 = false;
}

<div class="ibox-content">
    <h2>My Projects | @Html.ActionLink("New Project +", "Create", "Project",null, new{ @class ="btn btn-primary" })</h2>



    <table class="table table-mail">
        <tr>

            <th>
                Code
            </th>
         
            <th>
                Rev
            </th>
            <th>
                Company
            </th>

            <th>
                Country
            </th>
            <th>
                Plan
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)


                </td>
             
                <td>
                    @item.Revision.ToString("0.##")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details.CompanyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Details.P_Country)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Costing.Plan)
                </td>

                <td></td>
                <td>
                    @Html.ActionLink("Proposal Info", "EditDetails", new { id = item.Id }, new { @class = "Item-Ready" }) |



                    @{

        if (item.isEnergyDone())
        {
            @Html.ActionLink("Energy Costs", "EditCosting", new { id = item.Id }, new { @class = "Item-Ready" });
                                                                                                                    phase02 = true;
        }

        else
        {
            @Html.ActionLink("Energy Costs", "EditCosting", new { id = item.Id }, new { @class = "Item-Notready" });

        }

                    }
                    |




                    @{
        if (item.isEquipmentDone())
        {
            @Html.ActionLink("Equipment & Design", "EditEquipment", new { id = item.Id }, new { @class = "Item-Ready" });
                                                                                                                    phase03 = true;
        }

        else
        {
            @Html.ActionLink("Equipment & Design", "EditEquipment", new { id = item.Id }, new { @class = "Item-Notready" }); phase03 = false;

        }
                    }
                    |


                    @{

        if (item.isQuotingDone())
        {
            @Html.ActionLink("Quoting", "Quoting", new { id = item.Id }, new { @class = "Item-Ready" });


        }

        else
        {
            @Html.ActionLink("Quoting", "Quoting", new { id = item.Id }, new { @class = "Item-Notready" });


        }

                    }

                    |


                    @{

        if (item.isFinanceDone())
        {
            @Html.ActionLink("Finance", "Finance", new { id = item.Id }, new { @class = "Item-Ready" });

                                                                                                       phase03 = true;
        }

        else
        {
            @Html.ActionLink("Finance", "Finance", new { id = item.Id }, new { @class = "Item-Notready" });

                                                                                                          phase03 = false;

        }

                    }

                    


                    @{
        if (phase01 && phase02 && phase03 )
        {

            if (!item.isReviewDone())
            {
                <span class="text-warning">Needs Review </span>
            }




        }



        else
        {
            <span class="text-danger">Not Complete </span>

        }
                    }

                    

                    <div class="dropdown" style="float:left; margin-right:5px">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Action <span class="glyphicon  glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">@Html.ActionLink("Audits", "Audits", new { id = item.Id })</li>
                            <li role="presentation">@Html.ActionLink("Summary", "Details", new { id = item.Id })</li>
                            <li role="presentation">@Ajax.ActionLink("Transfer", "TransferProject", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Popper" })</li>
                            <li role="presentation">@Html.ActionLink("Test 1", "Test", new { id = item.Id })</li>
                            <li role="presentation">@Html.ActionLink("Test 2", "Test2", new { id = item.Id })</li>



                            @{
        if (User.IsInRole("NVIAdmin") || User.IsInRole("TPAdmin"))
        {
            <li role="presentation">  @Html.ActionLink("Review", "Review", "Project", new { id = item.Id }, null)</li>

        }
                            }
                            @{
        if (phase01 && phase02 && phase03)
        {
            @*<li role="presentation">  @Html.ActionLink("Test", "Test", new { id = item.Id })</li>
                                <li role="presentation">  @Html.ActionLink("Test 2", "Test2", new { id = item.Id })</li>*@


            if (item.isEquipmentDone() && item.isQuotingDone() && item.isReviewDone() && item.isEnergyDone())
            {
                <li role="presentation"> @Html.ActionLink("Generate Proposal", "ProposalGeneration", new { id = item.Id })</li>
                                <li role="presentation"> @Html.ActionLink("Quick Quote", "QuoteAsPDF", new { id = item.Id })</li>

            }

        }

                            }

                            <li role="presentation">  @Html.ActionLink("Delete", "DeleteProject", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete?')" })</li>

                        </ul>
                    </div>





                </td>
            </tr>
    }

    </table>

</div>

@*<div class="hidden">@Html.Action("updateAllProjectCodes", "Project", null)</div>*@

<div id="Popper"></div>

@section Scripts
{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-1.10.2.js"></script>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


}
