﻿@model NVIDev.Models.InverterSub



@using (Html.BeginCollectionItem(Model.ParentList))
{
    try
    {
        List<NVIDev.Models.Inverters> currentInverters = (List<NVIDev.Models.Inverters>)ViewBag.Inverters;
        List<string> currentIDS = currentInverters.Select(a => a.Id.ToString()).ToList();
        List<string> realIDS = currentIDS.ToList();
        string price = "price";
        string watt = "watt";


        string config = (Model.Id != null) ? currentInverters.Where(m => m.Id == Model.Id).Select(a => a.ConfigurationList).FirstOrDefault().ToString() : currentInverters.FirstOrDefault().ConfigurationList.ToString();

        List<string> splitCOnf = config.Split(',').ToList();


        string aconfig = (Model.Id != null) ? currentInverters.Where(m => m.Id == Model.Id).Select(a => a.DCOverVoltageList).FirstOrDefault().ToString() : currentInverters.FirstOrDefault().DCOverVoltageList.ToString();

        List<string> asplitCOnf = aconfig.Split(',').ToList();

        string bconfig = (Model.Id != null) ? currentInverters.Where(m => m.Id == Model.Id).Select(a => a.DCLoadDisconnectList).FirstOrDefault().ToString() : currentInverters.FirstOrDefault().DCLoadDisconnectList.ToString();
        List<string> bsplitCOnf = bconfig.Split(',').ToList();


        string cconfig = (Model.Id != null) ? currentInverters.Where(m => m.Id == Model.Id).Select(a => a.IOPortModulesList).FirstOrDefault().ToString() : currentInverters.FirstOrDefault().IOPortModulesList.ToString();
        List<string> csplitCOnf = cconfig.Split(',').ToList();

        string dconfig = (Model.Id != null) ? currentInverters.Where(m => m.Id == Model.Id).Select(a => a.CountrySpecificGridList).FirstOrDefault().ToString() : currentInverters.FirstOrDefault().CountrySpecificGridList.ToString();
        List<string> dsplitCOnf = dconfig.Split(',').ToList();

        if (realIDS != null && realIDS.Count > 0)
        {
      
            <tr id="@DateTime.Now">


                <td ><label  id="RandomID_@(Guid.NewGuid())"class="control-label">@Model.Key</label> </td>
                <td> @Html.DropDownListFor(model => model.Id, new SelectList(realIDS), new { onchange = "Changer(this)", @class = "form-control" })</td>
                <td>@Html.DropDownListFor(model => model.Configurations, new SelectList(splitCOnf), new { @class ="form-control" })</td>
                <td>@Html.DropDownListFor(model => model.DCOverVoltage, new SelectList(asplitCOnf), new { @class = "form-control" })</td>
                <td>@Html.DropDownListFor(model => model.DCLoadDisconnect, new SelectList(bsplitCOnf), new { @class = "form-control" })</td>
                <td>@Html.DropDownListFor(model => model.IOPortModules, new SelectList(csplitCOnf), new { @class = "form-control" })</td>
                <td >@Html.DropDownListFor(model => model.CountrySpecificGrid, new SelectList(dsplitCOnf), new { @class = "form-control" })</td>
                <td > <label id="RandomID_@(Guid.NewGuid())" class="control-label">@Model.Watt.ToString("#,##0.00") kW</label> </td>

                <td >@Html.HiddenFor(model => model.Amount, new {  oninput = "priceCheck(this)", onfocus = "priceCheck(this)" , @class ="form-control"})</td>
             
                @{
            if (User.IsInRole("NVIAdmin"))
            {
                <td  onloadstart="priceCheck(this)"><label id="RandomID_@(Guid.NewGuid())@price" class="control-label">@Model.totalCost.ToString("#,##0.00") @ViewBag.Currency </label></td>

            }
                }
                <td>  <a class="btn btn-xs btn-danger " title="Delete Item" style="width:20px;" onclick="deleteContainer(this)">-</a></td>
               
            </tr>
  
        }
    }

    catch (Exception)
    {

    }




}


