﻿ <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQc3toxaL3vMLZI3jUkNgMvUDd9b-TI-o" type="text/javascript"></script>
 
  


    

  <div id="map-canvas"></div>
  <button onclick="CalculateDistance()">Search</button>
    <input id="origin" type="text" placeholder="origin"/>
<input id="destination"  type="text" placeholder="destination"/>
<div id="result">Total Distance :</div>
@section Scripts{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

<script type="text/javascript">


   
    var geocoder;
    var map;
    var markers = [];
    var bounds = new google.maps.LatLngBounds()
  
    function initialize() {
        var mapOptions = {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        };
         map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

         geocoder = new google.maps.Geocoder();


    }

    function CalculateDistance()
    {
        var origin, destin; //origin is the port, destination is the site

        origin = document.getElementById('origin').value;
        destin = document.getElementById('destination').value;
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
            {
                origins: [origin],
                destinations: [destin],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            },
            callback);

           
    }


    function callback(response,status) //this will handle the response from the distance matrix
    {
        if(status != google.maps.DistanceMatrixStatus.OK) //something went wrong
        {
            alert('Error was :' + status);
        }

        else    //succeed
        { 
            var origins = response.originAddresses;
            var destinations = response.destinationAddresses;
            var outputdiv = document.getElementById('result');
            outputdiv.innerHTML = '';
            deleteoverlays();


            for (var i = 0; i < origins.length; i++)
            {
                var results = response.rows[i].elements;
                addMarker(origins[i], false);
                for(var j = 0; j < results.length;j++)
                {
                    addMarker(destinations[j], true);
                    outputdiv.innerHTML = origins[i] + ' to ' + destinations[j] + ': ' + results[j].distance.text + ' in ' + results[j].duration.text + '<br>';

                }

            }
        }
    }

    function addMarker(location,isDestination)
    {
       
     

        geocoder.geocode({'address' : location}, function(results,status) //geocode the location returned from the distance matrix
        {
            if(status == google.maps.GeocoderStatus.OK)
            {
                bounds.extend(results[0].geometry.location);
                map.fitBounds(bounds);


                var marker = new google.maps.Marker({

                    map: map,
                    position: results[0].geometry.location,
                });

                markers.push(marker);
            }

            else {
                alert('Geocode was unsuccessful for this reason :' + status);
            }
        })
    }

    function deleteoverlays()
    {
        for(var i = 0; i < markers.length; i++)
        {
            markers[i].setMap(null); //set the map of the object to null, deleting it
            markers = []; //reset the array
        }
    }
  

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
}