﻿@model NVIDev.Models.Basic

@using (Html.BeginCollectionItem(Model.ParentList))
{



    var products = (List<NVIDev.Models.MountingStructures>)ViewBag.MountingStructure;

    try
    {
        var apex = from a in products select a.Id;

        List<string> realApex = apex.ToList();
        string price = "price";
        string watt = "watt";

        if (realApex.Count > 0)
        {
            <tr id="RandomID_@(Guid.NewGuid())">

                <td id="RandomID_@(Guid.NewGuid())">@Model.Key</td>
                <td>@Html.DropDownListFor(model => model.Id, new SelectList(apex), new { onchange = "Changer3(this)" })</td>
                <td id="RandomID_@(Guid.NewGuid())">kW</td>

                <td >@Html.TextBoxFor(model => model.Amount, new { oninput = "Changer3(this)", onfocus = "Changer3(this)" ,@class ="Table-Input"})</td>
                  @{
            if (User.IsInRole("NVIAdmin"))
            {
                <td id="RandomID_@(Guid.NewGuid())@price">0$</td>

            }
                }
                <td><a onload="Changer3(this)"  title="Delete Item" style="width:20px;" class="btn btn-danger btn-xs clearfix" onclick="deleteContainer(this)">-</a></td>
            </tr>



        }
    }

    catch (Exception)
    { }




}
