﻿
@{
    ViewBag.Title = "PictoTest";
}

<h2>PictoTest</h2>


<img src="@Url.Action("ChartTest")" alt="Drawing chart with HTML Helper" />

<img src="@Server.MapPath("~/Project/ChartTest")" alt="Drawing chart with HTML Helper" />
