﻿@model NVIDev.Models.ProposalInputModel

@{
    ViewBag.Title = "ProposalGeneration";
}


@* I still need to add table functionality for the data sheets and supplementary data with testing
*@


@section Submenu{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="margin-top:20px">
                <li>@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.ProjectID })</li>
                <li>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.ProjectID })</li>
                <li>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.ProjectID })</li>
                <li>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.ProjectID })</li>
                <li>@Html.ActionLink("FINANCE", "Finance", new { id = Model.ProjectID })</li>
                <li class="active"><b>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.ProjectID })</b></li>

            </ol>
        </div>

        <div class="col-lg-2"></div>
    </div>

}


@using (Html.BeginForm("ProposalGeneration", "Project", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
<div class="ibox-title">
    <h4><b>Project Code : @Model.project.Code</b>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.Label("Generate:")
    @Html.DropDownListFor(m => m.ProposalType, new SelectList(ViewBag.GenerateProposalType), new { @id = "ddlGenerateType", @onchange = "HideNonFinancialTabs();" })
        @Html.HiddenFor(m => m.ProposalType)
    </h4>
    @*@using (Ajax.BeginForm("EditCosting", new AjaxOptions() { OnSuccess = "UpdateTarrif(data)" }))*@
    @Html.HiddenFor(m => m.project.Code)
    @Html.HiddenFor(m => m.ProjectID)
</div>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="ibox-content">
            
            @*--------LOGO--------*@
            @*<h4 class="mtab" id="hLogo" onclick="toggleTable('logoTab', 1)"><span span id="r1" class="glyphicon glyphicon-plus-sign"></span>UPLOAD LOGO</h4>
            <div id="coverTab" class="row hidden">
                <div class="col-md-6">Select An Alternate TP Logo (If not selected the tool will use the default logo)</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.tpLogo, new { @type = "file", @accept = ".jpg,.jpeg,.gif,.png,.bmp,.PNG,.JPG,.JPEG,.GIF,.BMP" })
                    @Html.ValidationMessageFor(m => m.tpLogo, "Must be a valid Image file.")
                </div>
            </div>*@

            @*--------COVER--------*@
            <h4 class="mtab" id="hCover" onclick="toggleTable('coverTab', 1)"><span span id="r1" class="glyphicon glyphicon-plus-sign"></span> COVER</h4>
            <div id="coverTab" class="row hidden">
                <div class="col-md-6">Title of the Cover Page</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.CoverPageHeader, new { @class = "form-control", @Value = "SOLAR PV PROPOSAL" })
                    @Html.ValidationMessageFor(model => model.CoverPageHeader, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">Select An Alternate Cover Page (If not selected the tool will use the default cover page)</div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.alterCover, new { @type = "file", @accept="application/pdf" })
                    @Html.ValidationMessageFor(m => m.alterCover, "Must be a valid PDF file.")
                </div>          
                <div class="col-md-3">
                    <a style="font-size:12px; color:red;" onclick="return Clear();">X remove</a>
                </div> 
            </div>

            @*--------COMMERCIAL OFFER--------*@
           
            <h4 class="mtab" id="hCommercialOffer" onclick="toggleTable('commerceTab', 2)"><span span id="r2" class="glyphicon glyphicon-plus-sign"></span> COMMERCIAL OFFER</h4>

            <div id="commerceTab" class="row hidden">
                @*<div class="col-md-6">
                    Write An Alternate Cover Overview (If not then the tool will use the default one)
                    </div>*@
                    <div class=" col-md-12">
                        <h4>Overview</h4>
                        @*<p>
                    We are pleased to present our offer for the engineering, procurement, installation and commissioning of a solar photovoltaic system based on the speciﬁcations detailed below.<br /> <br />
                    The contract price (the “Contract Price”) quoted is for the works described in the general scope of works document. We have also taken the opportunity to include our ﬁnanced and alternative energy supply offers for your consideration below.
                </p>*@
                        @Html.TextAreaFor(m => m.CommercialOffer, new { @rows = 2, @cols = 20, @class = "form-control" })

                        <h4><u>Select The Following</u></h4>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.Label("Include Price", htmlAttributes: new { @class = "" })
                            </dt>
                            <dd>
                                @Html.CheckBoxFor(model => model.IncludePrice, new { htmlAttributes = new { @id = "incPrice" } })
                            </dd>
                        </dl>
                        @Html.Label("About Company", htmlAttributes: new { @class = "" })
                        @Html.TextAreaFor(m => m.AboutCompany, new { @rows = 2, @cols = 20, @class = "form-control" })
                    </div>
                </div>

            @*--------FINANCING OPTIONS--------*@
            <h4 class="mtab" onclick="toggleTable('financeTab', 3)"><span span id="r3" class="glyphicon glyphicon-plus-sign"></span> FINANCING OPTIONS</h4>

            <div id="financeTab" class="row hidden">

                <div class=" col-md-12">


                    <h4>Financing &amp; Alternative Energy Offers:</h4>
                    <p>
                        We are conﬁdent in the positive impact a solar system can have on energy consumption costs. Because of that we offer to invest in every proposal we present. Our standard ﬁnanced offers require some or no capital outlay and means you only pay for energy actually delivered. Please see individual terms and pricing for our ﬁnanced solutions for this project:

                    </p>
                    <h4><u>Select The Following</u></h4>
                    <dl class="dl-horizontal">


                        <dt>
                            @Html.Label(" Type")
                        </dt>
                        <dd>
                            @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.Types), new { @id = "PropType", @onchange = "toggleFinance()", @onload = "toggleFinance()" })
                        </dd>
                        <dt>
                            @Html.Label("Solar Services Offer", htmlAttributes: new { @class = "" })
                        </dt>
                        <dd>
                            @Html.CheckBoxFor(model => model.IncludePPA, new { htmlAttributes = new { @id = "incPBS" } })
                        </dd>
                        <dt>
                            @Html.Label("PBS Lease Offer", htmlAttributes: new { @class = "" })
                        </dt>
                        <dd>
                            @Html.CheckBoxFor(model => model.IncludePBS, new { htmlAttributes = new { @id = "incPBS" } })
                        </dd>


                    </dl>

                </div>
            </div>

            @*--------DESIGN--------*@
            <h4 class="mtab" id="hDesign" onclick="toggleTable('designTab', 4)"><span span id="r4" class="glyphicon glyphicon-plus-sign"></span> DESIGN</h4>
            <div id="designTab" class="row hidden">


                <div class="col-md-6"><b>Site Layout</b>: Select An Alternate Site Layout <br /> (If not selected the tool will use the default site layout from Google Maps)</div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.siteLayout, new { @type = "file", @accept = "application/pdf" })
                    @Html.ValidationMessageFor(m => m.siteLayout, "Must be a valid PDF file.")
                </div>

            </div>

            @*--------TECHNICAL DATA--------*@
            <h4 class="mtab" id="hTechnicalData" onclick="toggleTable('techTab', 5)"><span span id="r5" class="glyphicon glyphicon-plus-sign"></span> TECHNICAL DATA</h4>
            <div id="techTab" class="row hidden">
                <div class="col-md-12">
                    <h4>Technical Data</h4>
                    <table class="table" id="@Model.TechData.Letter">
                        @Html.HiddenFor(m => m.TechData.Name)
                        <tr>
                            <th>@Ajax.ActionLink("+", "AddSubsection", new { id = Model.TechData.Letter }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successSUB(data,'" + Model.TechData.Letter + "')" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" }) Add Section </th>
                            <th>Tick to Include</th>
                            <th>Click "Choose File" to upload a PDF into that section.</th>
                        </tr>

                        @{
                            foreach (var subsection in Model.TechData.SubSections)
                            {
                                
                                @Html.Partial("~/Views/Project/_subsection.cshtml", subsection)
                            }
                        }
                    </table>
                    <h4>Data Sheets</h4>
                    <table class="table" id="@Model.DataSheets.Letter">

                        @Html.HiddenFor(m => m.DataSheets.Name)
                        <tr>
                            <th>@Ajax.ActionLink("+", "AddSubsection", new { id = Model.DataSheets.Letter }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successSUB(data,'" + Model.DataSheets.Letter + "')" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" }) Add Section</th>
                            <th>Tick to Include</th>
                            <th>Click "Choose File" to upload a PDF into that section.</th>

                        </tr>

                        @{
                            foreach (var subsection in Model.DataSheets.SubSections)
                            {
                                
                                @Html.Partial("~/Views/Project/_subsection.cshtml", subsection)
                            }
                        }

                    </table>
                </div>
            </div>

            @*--------SUPPLEMENTARY INFORMATION--------*@
            <h4 class="mtab" id="hSupplementaryInfo" onclick="toggleTable('supplmentTab', 6)"><span span id="r6" class="glyphicon glyphicon-plus-sign"></span> SUPPLEMENTARY INFORMATION</h4>
            <div id="supplmentTab" class="row hidden">



                <div class="col-md-12">
                    <h4>Supplementary Information</h4>



                        <table class="table" id="@Model.SupplemData.Letter">
                            @Html.HiddenFor(m => m.SupplemData.Name)




                            <tr>
                                <th>@Ajax.ActionLink("+", "AddSubsection", new { id = Model.SupplemData.Letter }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successSUB(data,'" + Model.SupplemData.Letter + "')" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" }) Add Section</th>
                                <th>Tick to Include</th>
                                <th>Click "Choose File" to upload a PDF into that section.</th>


                            </tr>

                            @{
                                foreach (var subsection in Model.SupplemData.SubSections)
                                {
                                    
                                    @Html.Partial("~/Views/Project/_subsection.cshtml", subsection)
                                }
                            }

                        </table>         
                               
                </div>
            </div>

            @*--------TERMS & CONDITIONS--------*@
            <h4 class="mtab" id="hTermsCondition" onclick="toggleTable('exclTab', 7)"><span span id="r7" class="glyphicon glyphicon-plus-sign"></span> TERMS &amp; CONDITIONS</h4>
            <div id="exclTab" class="row hidden">

                <div class="col-md-12">
                    <h5>Add Additional Terms &amp; Conditions</h5>
                    <h6>Format.   Exclusion Header : exclusion content.</h6>
                    <h6>Generates   <b>Exclusion Header :</b>  exclusion content.</h6>
                    <table id="Exclusions" class="table">
                        <thead>Exclusions</thead>
                        <tr>
                            <th class="col-md-1">
                                @Ajax.ActionLink("+", "AddExclusion", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "successCallExclusion" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" })
                            </th>
                            <th class="col-md-3">Content</th>
                            <th class="col-md-8">Display</th>
                        </tr>

                    </table>
                </div>

            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.preparerID)
            @Html.HiddenFor(model => model.ProjectID)

            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" value="Generate" class="btn btn-primary" />
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>  
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/Sections.js")
    @Scripts.Render("~/Scripts/Deleter.js")
    @Scripts.Render("~/Scripts/ProposalGeneration.js")
    @Scripts.Render("~/Scripts/Tabs.js")
}

<script type="text/javascript">
    function HideNonFinancialTabs()
    {
        var generateType = document.getElementById('ddlGenerateType').value;
        document.getElementById("ProposalType").value = "Finance Only";
        if (generateType == "Complete Proposal") {
            //document.getElementById("hLogo").className = "mtab";
            document.getElementById("hCover").className = "mtab";
            document.getElementById("hCommercialOffer").className = "mtab";
            document.getElementById("hDesign").className = "mtab";
            document.getElementById("hTechnicalData").className = "mtab";
            document.getElementById("hSupplementaryInfo").className = "mtab";
            document.getElementById("hTermsCondition").className = "mtab";
        }
        else
        {
            //document.getElementById("hLogo").className = "row hidden";
            document.getElementById("hCover").className = "row hidden";
            document.getElementById("hCommercialOffer").className = "row hidden";
            document.getElementById("hDesign").className = "row hidden";
            document.getElementById("hTechnicalData").className = "row hidden";
            document.getElementById("hSupplementaryInfo").className = "row hidden";
            document.getElementById("hTermsCondition").className = "row hidden";
        }
    }
</script>

<script type="text/javascript">
    //clear file of file uploader control
    function Clear() {
        //Reference the FileUpload and get its Id and Name.
        var fileUpload = document.getElementById("alterCover");
        var id = fileUpload.id;
        var name = fileUpload.name;

        //Create a new FileUpload element.
        var newFileUpload = document.createElement("INPUT");
        newFileUpload.type = "FILE";

        //Append it next to the original FileUpload.
        fileUpload.parentNode.insertBefore(newFileUpload, fileUpload.nextSibling);

        //Remove the original FileUpload.
        fileUpload.parentNode.removeChild(fileUpload);

        //Set the Id and Name to the new FileUpload.
        newFileUpload.id = id;
        newFileUpload.name = name;
        return false;
    }
</script>
