﻿@model NVIDev.Models.Basic

@using (Html.BeginCollectionItem("PVModuleList"))
{

    try
    {
        var products = (List<NVIDev.Models.PVModules>)ViewBag.PVModules;


        var apex = from a in products select a.Id;
        List<string> realApex = apex.ToList();
        string watt = "watt";
        string price = "price";
  
        if (realApex.Count > 0)
        {
            <tr id="RandomID_@(Guid.NewGuid())">

                <td > <label id="RandomID_@(Guid.NewGuid())" class="control-label">@Model.Key</label> </td>
                <td>@Html.DropDownListFor(model => model.Id, new SelectList(realApex), new { onchange = "Changer6(this)" , @class="form-control" })</td>
                <td ><label id="RandomID_@(Guid.NewGuid())@watt" class="control-label">@Model.Watt.ToString("#,##0.00") kW</label></td>

                <td>@Html.HiddenFor(model => model.Amount, new { onload = "Changer6(this)", oninput = "Changer6(this)", onfocus = "Changer6(this)" ,@class ="form-control" })</td>
                @{
            if (User.IsInRole("NVIAdmin"))
            {
                <td ><label id="RandomID_@(Guid.NewGuid())@price" class="control-label">@Model.totalCost.ToString("#,##0.00") @ViewBag.Currency</label> </td>

            }
                }
                <td><a class="btn btn-danger btn-xs" title="Delete Item" style="width:20px;" onclick="deleteContainer(this)">-</a></td>
            </tr>

        }

    }


    catch (Exception)
    {

    }

}


