﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/PDF/PDFStyle.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>



<body>
    @model NVIDev.Models.QuoteModel

    @{
        ViewBag.Title = "Quote";
        Layout = null;
    }


    <div class="PDF">
        <div class="content-holder">


            <div class="Quote">


                @{
                    if (Model.ProjectType == "PBS")
                    {
                        <h1>Pay-By-Solar Agreement (@Model.ProjectType)</h1>
                    }
                    else
                    {
                        <h1>Power Purchase Agreement</h1>
                    }
                }

                <h2 style="font-weight:lighter;text-align:center; margin-bottom:20px;">< Pre-Proposal Quote ></h2>
                <h3>Quoted Tariff</h3>
                <img id="logo-image" src="~/Content/Images/s4a_logo.png" />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.Label("Plan")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProjectType)
                    </dd>

                    <dt>
                        @Html.Label("Tariff")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tariff) <div class="dd-lab">US$ / kWh</div>
                    </dd>

                    <dt>
                        @Html.Label("Technical Partner Costs", new { @class = "QSmall" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TPCosts) <div class="dd-lab">US$</div>
                    </dd>

                    <dt>
                        @Html.Label("O & M Rate", new { @class = "QSmall" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OMRate) <div class="dd-lab"></div>
                    </dd>

                    <dt>
                        @Html.Label("Technical Partner Rebate", new { @class = "QSmall" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TPRebate)
                    </dd>

                    <dt>
                        @Html.Label("Upfront Payment")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UpfrontPay)<div class="dd-lab">US$</div>
                    </dd>

                    <dt>
                        @Html.Label("Energy Storage Charge")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StorageCharge)<div class="dd-lab">US$/Month</div>
                    </dd>
                </dl>

                <div class="dl-container">
                    <h2 class="QuoteHeader2">Your Project Indicators</h2>

                    <dl class="dl-left">
                        <dt>
                            @Html.Label("System Size")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SystemSize) <div class="dd-lab">kWp</div>
                        </dd>

                        <dt>
                            @Html.Label("Installation Type")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.InstallType)
                        </dd>

                        <dt>
                            @Html.Label("Expected Energy Yield")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExpEnergyYield)<div class="dd-lab">kWh/KWp</div>
                        </dd>

                        <dt>
                            @Html.Label("Term")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Term) <div class="dd-lab">Years</div>
                        </dd>

                        <dt>
                            @Html.Label("Exchange Rate")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExchangeRate)<div class="dd-lab">US$ / US$</div>
                        </dd>
                    </dl>

                    <dl class="dl-right">
                        <dt>
                            @Html.Label("Installation Quote")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.InstallationQuote)<div class="dd-lab"> US$</div>
                        </dd>

                        <dt>
                            @Html.Label("Design Quote")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DesignQuote) <div class="dd-lab">US$</div>
                        </dd>

                        <dt>
                            @Html.Label("Battery Size")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BatterySize)<div class="dd-lab">kWH</div>
                        </dd>

                        <dt>
                            @Html.Label("Sunny Island Capacity")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SunnyIslandCap) <div class="dd-lab">kWp</div>
                        </dd>

                        <dt>
                            @Html.Label("Country")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Country)
                        </dd>

                    </dl>

                </div>



                <h2 class="QuoteHeader2">Specific Terms & Exclusions</h2>
                <ul class="TermsConditions">
                    <li>All project quotes are subject to our standard terms and project conditions.</li>
                    <li>Pricing is valid for current exchange rate only.</li>
                    <li>Pricing is based on standard equipment sizing.</li>

                </ul>
                <hr />
                <h4 style="text-align:center;">This is a non-binding indicative quotation based on information provided.</h4>
            </div>
        </div>

    </div>


</body>

</html>
