﻿@model NVIDev.Models.QuotingViewModel

@{
    ViewBag.Title = "Quoting";
    string c = ViewBag.Currency;
}
@section Submenu{


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="margin-top:20px">
                <li>@Html.ActionLink("PROPOSAL INFO", "EditDetails", new { id = Model.id })</li>
                <li>@Html.ActionLink("ENERGY COSTS", "EditCosting", new { id = Model.id })</li>
                <li>@Html.ActionLink("EQUIPMENT & DESIGN", "EditEquipment", new { id = Model.id })</li>
                <li class="active"><b>@Html.ActionLink("QUOTING", "Quoting", new { id = Model.id })</b></li>
                <li>@Html.ActionLink("FINANCE", "Finance", new { id = Model.id })</li>
                <li>@Html.ActionLink("PROPOSAL", "ProposalGeneration", new { id = Model.id })</li>

            </ol>
        </div>

        <div class="col-lg-2"></div>
    </div>

}
<div class="ibox-title">

    <h4><b>Project Code : @Model.Code</b></h4>


</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="ibox-title font-bold">Project Quoting:  @Ajax.ActionLink("Settings", "ShowQuotePartial", null, new AjaxOptions { AllowCache = false, HttpMethod = "GET", UpdateTargetId = "popup", InsertionMode = InsertionMode.Replace, OnSuccess = "createEVERYTHING()" }, new { @class = "btn btn-xs btn-primary", title = "Margin Settings" })  </div>


        <div class="ibox-content">

            <div title="Debug Only" class="font-bold">Project Size (MW): <span id="MW">@Model.MW</span></div>

            <table class="table" id="CostTable">
                <tr>
                    <th>Item</th>
                    <th>Supplier</th>
                    <th>Costs</th>
                    <th>Markup (%)</th>
                    <th>Fixed</th>
                    <th>Selling Price</th>
                </tr>

                <tr>
                    <td colspan="6"><b>Major Equipment Items</b></td>
                </tr>
                @{
                    Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", Model.Costs.Where(m => m.Name == "Solar Modules").First());
                    Model.Costs.Where(m => m.Name == "Solar Modules").First().Assigned = true;

                    Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", Model.Costs.Where(m => m.Name == "Inverters").First());

                    Model.Costs.Where(m => m.Name == "Inverters").First().Assigned = true;

                    Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", Model.Costs.Where(m => m.Name == "Framing").First());
                    Model.Costs.Where(m => m.Name == "Framing").First().Assigned = true;

                    Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", Model.Costs.Where(m => m.Name == "Balance of System").First());
                    Model.Costs.Where(m => m.Name == "Balance of System").First().Assigned = true;
                }

                <tr>
                    <td colspan="6"><b>Indirect Costs</b></td>
                </tr>

                <tr>
                    <td colspan="6"><b>Energy Storage</b></td>
                </tr>

                @{

                    Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", Model.Costs.Where(m => m.Name == "Bi-Directional Inverters").First());
                    Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", Model.Costs.Where(m => m.Name == "Batteries").First());
                    Model.Costs.Where(m => m.Name == "Bi-Directional Inverters").First().Assigned = true;
                    Model.Costs.Where(m => m.Name == "Batteries").First().Assigned = true;


                }


                <tr id="addhere">
                    <td colspan="6"><b>Indirect Costs</b>   @Ajax.ActionLink("+ Cost", "ShowCostPartial", new { }, new AjaxOptions { AllowCache = false, HttpMethod = "GET", UpdateTargetId = "popup", InsertionMode = InsertionMode.Replace, OnSuccess = "createEVERYTHING()" }, new { @class = "btn btn-xs btn-primary", title = "Add Item" })</td>
                </tr>


                @{
                    foreach (var item in Model.Costs.Where(m => m.Assigned == false)) //all the left over costs i.e additional
                    {
                        Html.RenderPartial("~/Views/Project/_QuoteCost.cshtml", item);

                    }
                }

                <tr>
                    <td>Installation Costs</td>
                    <td></td>
                    <td></td>
                    <td>@Html.HiddenFor(m => m.InstallationCosts, new { @class = "form-control", @oninput = "OtherUpdate(this,'IN')" }) @Html.ValidationMessageFor(m => m.InstallationCosts)</td>
                    <td></td>
                    <td  id="IN">@ViewBag.Currency @Model.InstallationCosts</td>
                    <td>
                </tr>

                <tr>
                    <td>Design Costs</td>
                    <td></td>
                    <td></td>
                    <td>@Html.HiddenFor(m => m.DesignCosts, new { @class = "form-control", @oninput = "OtherUpdate(this,'DE')" }) @Html.ValidationMessageFor(m => m.DesignCosts)</td>
                    <td></td>
                    <td  id="DE">@ViewBag.Currency @Model.DesignCosts</td>
                    <td>
                </tr>
                <tr>
                    <td>OM Costs</td>
                    <td></td>
                    <td></td>
                    <td>@Html.HiddenFor(m => m.OMWorks, new { @class = "form-control", @oninput = "OtherUpdate(this,'OM')" }) @Html.ValidationMessageFor(m => m.OMWorks)</td>
                    <td></td>
                    <td  id="OM">@ViewBag.Currency @Model.OMWorks</td>
                    <td>
                </tr>
                <tr>
                    <td colspan="6"><b>Total Installation Costs</b></td>
                </tr>


                <tr>
                    <td colspan="5">Duties &amp; Taxes</td>
                    <td>@ViewBag.Currency @Model.Duties.ToString("#,##0.00") </td>
                </tr>
                <tr>
                    <td colspan="5">Transport &amp; Logistics</td>
                    <td>@ViewBag.Currency @Model.TransportCosts.ToString("#,##0.00") </td>
                </tr>
                <tr>
                    <td colspan="5"><b>Total Solar Capex Price</b></td>
                    <td><b id="currentSystemPrice">@Model.CurrentTotalSystemCosts().ToString("#,##0.00") @ViewBag.Currency</b></td>
                </tr>

                <tr>
                    <td colspan="5"><b>Total System @ViewBag.Currency / Wp</b></td>
                    <td><b id="CurrentWP">@Model.CurrentWP.ToString("#,##0.00") @ViewBag.Currency / Wp</b></td>
                </tr>

                <tr>
                    <td colspan="5"><b>Target System @ViewBag.Currency / Wp</b></td>
                    <td><b id="TargetWP">@Model.TargetWP.ToString("#,##0.00") @ViewBag.Currency / Wp</b></td>
                </tr>

            </table>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @{ if (Model.isQuotingDone)
                        {
                            @Html.ActionLink("Next", "Finance", new { id = Model.id }, new { @class = "btn btn-success" })
                        }
                    }
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

    </div>




                        }

<div id="curr" class="hidden">
    @ViewBag.Currency
</div>
<div id="popup">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/Quoting.js")
    @Scripts.Render("~/Scripts/Thousands.js")
    @Scripts.Render("~/Scripts/Deleter.js")
    @Scripts.Render("~/Scripts/Popup.js")
    @Scripts.Render("~/Scripts/CostLineItem.js")
    @Scripts.Render("~/Scripts/QuotePartial.js")


}




@*<script type="text/javascript">

        $(document).ready(function () {

            EPCCHECK(1);

        }

        );


        function EPCCHECK(int) {
            var box;
            var elem;
            switch (int) {
                case 1: box = document.getElementById("Costing_UseEPC");
                    elem = document.getElementById("Costing_EPCPrice");
                    break;

                default: break;
            }

            if (box.checked == true) {
                elem.disabled = false;

            }


            else {

                elem.disabled = true;
                elem.innerHTML = "0.00";


            }
        }
    </script>*@

