﻿@model NVIDev.Models.QuoteModel
@{
    Layout = null;

}


@{
    string Currency = ViewBag.Currency;
    string proj = " ";
    string t = " ";

    int n = 0;

    decimal eq = 0;
    var om = Model.OMWork / 12;

    decimal tfs = 0;
    try
    {
        switch (Model.ProjectType)
        {
            case "Pay-By-Solar": proj = "PAY-BY-SOLAR (PBS)"; t = "PBS"; break;
            case "Power Purchase Agreement": proj = "POWER PURCHASE AGREEMENT (PPA)"; t = "PPA"; break;
            case "Solar Development Services": proj = "SOLAR DEVELOPMENT SERVICES (SDS)"; t = "SDS"; break;
        }


        n = Model.Term * 12;

        eq = Model.UpfrontPay / Model.SystemSize / 1000000;

        tfs = Model.Tariff + Model.TPRebate + Model.OMRate;
    }

    catch (Exception)
    {
        n = 0;

        eq = 0;

        tfs = 0;
    }

}
@{
    string source = ViewBag.Image;
}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuoteASPDF</title>

    <style>
        body {
            margin: 0px;
            color: #363c7c;
            font-family: Arial;
        }

        h1 {
            font-size: 40px;
        }

        .Heading {
            width: 100%;
            color: white;
            background-color: #363c7c;
            height: 30px;
            padding-left: 20px;
            font-weight: bold;
        }

        .Table-Left {
            margin-top: 10px;
            font-size: small;
            font-weight: bold;
            empty-cells: show;
        }

        .myFeet {
            background: #d8dbfa;
            text-align: center;
            font-size: 11px;
            padding-top: 10px;
            height: 40px;
        }

        .myList {
            list-style: none;
            padding: 0px;
            margin: 0px;
            font-size: 11px;
        }

        .First {
            width: 220px !important;
        }

        .Answer {
            background-color: #d8dbfa;
            padding: 1px;
            text-align: center;
            width: 90px !important;
        }

        .Heading2 {
            width: 100%;
            background-color: #d8dbfa;
            height: 30px;
            padding-left: 20px;
            font-weight: bold;
            margin-top: 10px;
            font-size: medium;
        }

        .SmallerHead {
            font-weight: normal;
        }

        .Empty {
            width: 65px;
        }

        .Empty2 {
            width: 60px;
        }

        .block {
            height: 250px !important; /* Overwrite any previous rules */
            width: 100%;
            background-color: #FFFFFF;
            color: #ffffff;
        }

        .blank_row {
            height: 7px !important; /* Overwrite any previous rules */
            background-color: #FFFFFF;
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="PBody">
        <h1> @proj</h1>
        <h4> PRE-PROPOSAL QUOTE </h4>
        <div class="Heading">
            QUOTED TARIFF &amp; OTHER CHARGES
        </div>


        <img src="@source" width="100" height="100" alt="Image here please" />

        <table class="Table-Left">
            <tr>
                <td class="First">Plan</td>
                <td class="Answer">@t</td>
                <td>&nbsp;</td>
                <td class="Empty">&nbsp;</td>

                <td>Upfront Payment</td>
                <td class="Answer">@Model.UpfrontPay.ToString("0.##")</td>
                <td>@Currency</td>
            </tr>

            <tr class="blank_row"><td colspan="6"></td></tr>
            <tr>
                <td>Tarrif</td>
                <td class="Answer">@tfs.ToString("0.##")</td>
                <td>US/ kWh</td>
                <td>&nbsp;</td>
                <td>Equivilent To</td>
                <td class="Answer">@eq.ToString("0.##")</td>
                <td> /Wp</td>
            </tr>
            <tr>
                <td class="SmallerHead">Base Rate</td>
                <td class="Answer">@Model.Tariff.ToString("0.###")</td>
            </tr>
            <tr>
                <td class="SmallerHead">Technical Partner Costs</td>
                <td class="Answer">0.1</td>
                <td>A</td>
            </tr>

            <tr>
                <td class="SmallerHead">O &amp; M Rate</td>
                <td class="Answer">@Model.OMRate.ToString("0.###")</td>
                <td>B</td>
            </tr>
            <tr>
                <td class="SmallerHead">Technical Partner Rebate</td>
                <td class="Answer">@Model.TPRebate.ToString("0.##")</td>

            </tr>
            <tr class="blank_row"><td colspan="6"></td></tr>
            <tr>
                <td>Fixed Charges</td>
                <td class="Answer">-</td>
                <td>@Currency / Mnth</td>

            </tr>

            <tr class="blank_row"><td colspan="6"></td></tr>
            <tr>
                <td>Energy Storage Charge</td>
                <td class="Answer">@Model.StorageCharge.ToString("0.##")</td>
                <td>@Currency / Mnth</td>

            </tr>

            <tr class="blank_row"><td colspan="6"></td></tr>

            @{

                if (Model.inclOM)
                {
                    <tr>
                        <td>Monthly O &amp; M Charge</td>
                        <td class="Answer">Incl. In Tarrif</td>

                    </tr>
                }

                else
                {

                }
                <tr class="blank_row"><td colspan="6"></td></tr>
                if (Model.inIn)
                {
                    <tr>
                        <td>Estimated Insurance Charge</td>
                        <td class="Answer">Incl. In Tarrif</td>
                    </tr>
                }

                else
                {
                    <tr>
                        <td>Estimated Insurance Charge</td>
                        <td class="Answer">@Model.EstInsurance.ToString("0.##")</td>
                        <td>@Currency / Mnth</td>

                    </tr>
                }
            }


            <tr class="blank_row"><td colspan="6"></td></tr>
            <tr class="blank_row"><td colspan="6"></td></tr>

        </table>

        <div class="Heading2">YOUR PROJECT INDICATORS</div>

        <table class="Table-Left">
            <tr>
                <td class="First">System Size</td>
                <td class="Answer">@Model.SystemSize.ToString("0.##")</td>
                <td>kWp</td>


                <td class="Empty2">&nbsp;</td>

                <td>Installation Quote</td>
                <td class="Answer">@Model.InstallationQuote</td>
                <td>@Currency</td>
            </tr>
            <tr class="blank_row"><td colspan="5"></td></tr>

            <tr>
                <td>Installation Type</td>
                <td class="Answer">@Model.InstallType</td>


                <td class="Empty2">&nbsp;</td>

                <td>&nbsp;</td>

                <td>Design Quote</td>
                <td class="Answer">@Model.DesignQuote</td>
                <td>@Currency</td>
            </tr>


            <tr class="blank_row"><td colspan="5"></td></tr>

            <tr>
                <td>Expected Energy Yield</td>
                <td class="Answer">@Model.ExpEnergyYield.ToString("0.##")</td>

                <td>kWh/kWp</td>
                <td class="Empty2">&nbsp;</td>



                <td>Battery Size</td>
                <td class="Answer">-</td>
                <td>kWh</td>
            </tr>

            <tr class="blank_row"><td colspan="5"></td></tr>

            <tr>
                <td>Term (Agreement Length)</td>
                <td class="Answer">@n</td>

                <td>Months</td>
                <td class="Empty2">&nbsp;</td>



                <td>Sunny Island Capacity</td>
                <td class="Answer">@Model.SunnyIslandCap</td>
                <td>kWp</td>
            </tr>
            <tr class="blank_row"><td colspan="5"></td></tr>
            <tr>
                <td>Exchange Rate (@Currency)</td>
                <td class="Answer">@Model.ExchangeRate</td>

                <td>@Currency / @Currency</td>
                <td class="Empty2">&nbsp;</td>



                <td>Project Country</td>
                <td class="Answer">@Model.Country</td>

            </tr>
            <tr class="blank_row"><td colspan="5"></td></tr>
            <tr class="blank_row"><td colspan="5"></td></tr>

        </table>

        <div class="Heading2" style="height:20px; font-size:smaller;">Specific Terms &amp; Conditions</div>
        <ul class="myList">
            <li>All project quotes are subject to our standard terms and project conditions.</li>
            <li>Pricing is valid for current exchange rate only.</li>
            <li>Pricing is based on standard equipment sizing.</li>

        </ul>
        <hr />
        <img src="@Server.MapPath("~/Project/ChartTest")" alt="Drawing chart with HTML Helper" />

        <div class="block">empty</div>

        <div class="myFeet">
            This is a non-binding indicative quotation based on information provided.
        </div>
    </div>





</body>
</html>
