﻿
<div class="popup cost-popup">

    <div class="form-horizontal">


        <h3>Project Margin Settings</h3>
        <hr />




        <div class="form-group">
            @Html.Label("Margin", new { @class = "control-label col-md-3" })  
            <div class="col-md-9">
                <input  name="UserMargin" value="true" type="radio" id="UseMargin" />     <input  id="myMargin" type="number" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Wp", new { @class = "control-label col-md-3" })           
            <div class="col-md-9">
                <input name="UserMargin" id="UseWP" value="false" type="radio" />         <input id="myWp" type="number" />

            </div>
        </div>


        <div class="col-md-2 col-md-offset-3">
            <input type="submit" value="Calculate" class="btn btn-primary" onclick="CalculateMargins()" />
        </div>
        <div class="col-md-7">
            <input type="button" value="Cancel" class="btn btn-warning" onclick="HidePopup()" />
        </div>
    </div>


</div>

<script>

    $(document).ready(function () {


        var a = parseFloat(removeCommas($("#TargetWP").text()));
        $("#myWp").val(a)

    }
    )
</script>
