﻿@model NVIDev.Models.FeeViewModel

@{
    ViewBag.Title = "Review";
}

<div class="ibox-title">
    <h2>Review</h2>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(model => model.Upfront, new { id = "Upfront" })
        @Html.HiddenFor(model => model.OnGoingFee_Admin, new { id = "OnGoingFee_Admin" })*@
    @Html.HiddenFor(model => model.project.Id)
    @Html.HiddenFor(model => model.project.Costing.UseEPC)

    <div class="ibox-content">


        <div id="MyUpfront">Upfront Costs : $ @Model.Upfront</div>
        <div id="MyOngoing">Ongoing Costs : $ @Model.OnGoingFee_Admin</div>
        <h4>Exchange Rate <span id="Curr">@ViewBag.Currency</span> / US $ : <span id="Exch">@ViewBag.Exch</span></h4>

        <div>Project Size : @Model.superPro.prosize MW</div>
        <div>Project Type : @Model.project.Costing.Plan</div>
        <table class="table">
            <tr>
                <th>Service</th>

                <th>Use</th>
                <th>Activity</th>
                <th>Fee Base</th>
                <th>Cost Driver</th>
                <th>Est. Cost</th>
                <th>D-Hybrid Factor</th>
                <th>Total Cost</th>
            </tr>
            <tr>
                <td>Preliminaries & General</td>

                <td>@Html.CheckBoxFor(model => model.project.UsePrelim, new { onclick = "Tally()" })</td>
                <td>Upfront</td>
                <td>@Model.Prelim_Gen_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Prelim_Gen_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Prelim_Gen_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Prelim_Gen_DHybrid.ToString("#,##0.##")</td>
                <td id="PrelimCost">@Model.Prelim_Gen_TotalC.ToString("#,##0.##")</td>
            </tr>

            @{
    if (Model.project.Costing.UseEPC)
    {
        <tr>
            <td>Procurement</td>
            <td>@Html.CheckBoxFor(model => model.project.UseProcurement, new { onclick = "Tally()" })</td>

            <td>Upfront</td>
            <td>@Model.Procurement_FeeBase.ToString("#,##0.##")</td>
            <td>@Model.Procurement_CostDrive.ToString("#,##0.##")</td>
            <td>@Model.Procurement_EstCCY.ToString("#,##0.##")</td>
            <td>@Model.fees.Procurement_DHybrid.ToString("#,##0.##")</td>
            <td id="ProcurementCost">@Model.Procurement_TotalC.ToString("#,##0.##")</td>
        </tr>
    }

    else
    {
        <tr>
            <td>Procurement</td>
            <td>@Html.CheckBoxFor(model => model.project.UseProcurement, new { onclick = "Tally()" })</td>

            <td>Upfront</td>
            <td>@Model.Procurement_FeeBase.ToString("#,##0.##")</td>
            <td>@Model.Procurement_CostDrive.ToString("#,##0.##")</td>
            <td>@Model.Procurement_EstCCY.ToString("#,##0.##")</td>
            <td>@Model.fees.Procurement_DHybrid.ToString("#,##0.##")</td>
            <td id="ProcurementCost">@Model.Procurement_TotalC.ToString("#,##0.##")</td>
        </tr>
    }
            }

            <tr>
                <td>Working Capital</td>

                <td>@Html.CheckBoxFor(model => model.project.UseWorkingCap, new { onclick = "Tally()" })</td>

                <td>Upfront</td>
                <td>@Model.Work_Cap_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Work_Cap_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Work_Cap_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Work_Cap_DHybrid.ToString("#,##0.##")</td>
                <td id="WorkingCost">@Model.Work_Cap_TotalC.ToString("#,##0.##")</td>
            </tr>
            <tr>
                <td>Prepare Vetting Docs</td>

                <td>@Html.CheckBoxFor(model => model.project.UsePrepVet, new { onclick = "Tally()" })</td>

                <td>Upfront</td>
                <td>@Model.Prep_Vet_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Prep_Vet_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Prep_Vet_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Prep_Vet_DHybrid.ToString("#,##0.##")</td>
                <td id="PrepareCost">@Model.Prep_Vet_TotalC.ToString("#,##0.##")</td>
            </tr>

            <tr>
                <td>Technical Vetting</td>

                <td>@Html.CheckBoxFor(model => model.project.UseTechVet, new { onclick = "Tally()" })</td>

                <td>Upfront</td>
                <td>@Model.Tech_Vet_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Tech_Vet_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Tech_Vet_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Tech_Vet_DHybrid.ToString("#,##0.##")</td>
                <td id="TechnicalCost">@Model.Tech_Vet_TotalC.ToString("#,##0.##")</td>
            </tr>

            @{if (Model.project.Costing.UseEPC)
            {

                <tr>
                    <td>Performance Guarantee</td>
                    <td>@Html.CheckBoxFor(model => model.project.UsePerformanceG, new { onclick = "Tally()" })</td>
                    <td>Upfront</td>
                    <td>@Model.Performance_GaranT_FeeBase.ToString("#,##0.##")</td>
                    <td>@Model.Performance_GaranT_CostDrive.ToString("#,##0.##")</td>
                    <td>@Model.Performance_GaranT_EstCCY.ToString("#,##0.##")</td>
                    <td>@Model.fees.Performance_GaranT_DHybrid.ToString("#,##0.##")</td>
                    <td id="PerformCost">@Model.Performance_GaranT_TotalC.ToString("#,##0.##")</td>
                </tr>
                <tr>
                    <td>Project Management</td>
                    <td>@Html.CheckBoxFor(model => model.project.UseProjectManage, new { onclick = "Tally()" })</td>
                    <td>Upfront</td>
                    <td>@Model.Project_Manage_FeeBase.ToString("#,##0.##")</td>
                    <td>@Model.Project_Manage_CostDrive.ToString("#,##0.##")</td>
                    <td>@Model.Project_Manage_EstCCY.ToString("#,##0.##")</td>
                    <td>@Model.fees.Procurement_DHybrid.ToString("#,##0.##")</td>
                    <td id="ProjectCost">@Model.Project_Manage_TotalC.ToString("#,##0.##")</td>
                </tr>
            }

            else
            {
                <tr>
                    <td>Performanc Guarantee</td>
                    <td>@Html.CheckBoxFor(model => model.project.UsePerformanceG, new { onclick = "Tally()" })</td>
                    <td>Upfront</td>
                    <td>@Model.Performance_GaranT_FeeBase.ToString("#,##0.##")</td>
                    <td>@Model.Performance_GaranT_CostDrive.ToString("#,##0.##")</td>
                    <td>@Model.Performance_GaranT_EstCCY.ToString("#,##0.##")</td>
                    <td>@Model.fees.Performance_GaranT_DHybrid.ToString("#,##0.##")</td>
                    <td id="PerformCost">@Model.Performance_GaranT_TotalC.ToString("#,##0.##")</td>
                </tr>
                <tr>
                    <td>Project Management</td>
                    <td>@Html.CheckBoxFor(model => model.project.UseProjectManage, new { onclick = "Tally()" })</td>
                    <td>Upfront</td>
                    <td>@Model.Project_Manage_FeeBase.ToString("#,##0.##")</td>
                    <td>@Model.Project_Manage_CostDrive.ToString("#,##0.##")</td>
                    <td>@Model.Project_Manage_EstCCY.ToString("#,##0.##")</td>
                    <td>@Model.fees.Procurement_DHybrid.ToString("#,##0.##")</td>
                    <td id="ProjectCost">@Model.Project_Manage_TotalC.ToString("#,##0.##")</td>
                </tr>
            }
            }



            <tr>
                <td>Comissioning</td>

                <td>@Html.CheckBoxFor(model => model.project.UseCommisioning, new { onclick = "Tally()" })</td>
                <td>Upfront</td>
                <td>@Model.Commissioning_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Commissioning_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Commissioning_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Commissioning_DHybrid.ToString("#,##0.##")</td>
                <td id="ComissioningCost">@Model.Commissioning_TotalC.ToString("#,##0.##")</td>
            </tr>

            <tr>
                <td>Margin / Contingencies</td>
                <td></td>
                <td>Upfront</td>
                <td></td>
                <td id="MarginDriver">@Model.Margin_Contin_CostDrive.ToString("#,##0.##")</td>
                <td></td>
                <td></td>
                <td id="MarginCost">@Model.Margin_Contin_realC.ToString("#,##0.##")</td>
            </tr>
            <tr>
                <td>Monitoring Software</td>

                <td>@Html.CheckBoxFor(model => model.project.UseMonitorSoftware, new { onclick = "Tally()" })</td>
                <td>Ongoing</td>
                <td>@Model.Monitor_Software_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Monitor_Software_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Monitor_Software_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Monitor_Software_DHybrid.ToString("#,##0.##")</td>
                <td id="MonitoringCost">@Model.Monitor_Software_TotalC.ToString("#,##0.##")</td>
            </tr>
            <tr>
                <td>Administration</td>

                <td>@Html.CheckBoxFor(model => model.project.UseAdmin, new { onclick = "Tally()" })</td>
                <td>Ongoing</td>
                <td>@Model.Admin_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Admin_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Admin_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Admin_DHybrid.ToString("#,##0.##")</td>
                <td id="AdminCost">@Model.Admin_TotalC.ToString("#,##0.##")</td>
            </tr>
            <tr>
                <td>Asset Management</td>

                <td>@Html.CheckBoxFor(model => model.project.UseAssetManagement, new { onclick = "Tally()" })</td>
                <td>Ongoing</td>
                <td>@Model.Asset_Manage_FeeBase.ToString("#,##0.##")</td>
                <td>@Model.Asset_Manage_CostDrive.ToString("#,##0.##")</td>
                <td>@Model.Asset_Manage_EstCCY.ToString("#,##0.##")</td>
                <td>@Model.fees.Asset_Manage_DHybrid.ToString("#,##0.##")</td>
                <td id="AssetCost">@Model.Asset_Manage_TotalC.ToString("#,##0.##")</td>
            </tr>
            <tr>
                <td>Project Duration</td>
                <td></td>
                <td></td>
                <td></td>
                <td>@Model.Duration_FEECOSTB</td>
                <td>@Model.Duration_FEECOSTB</td>
                <td>@Model.Duration_Est</td>
                <td></td>
                <td></td>
            </tr>
        </table>


        <div class="form-group">
            <div class=" col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <div class="row bottom" style="margin-top:5px;">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/AdminFee.js")
}
