﻿@model NVIDev.Models.SuperProject
@{
    ViewBag.Title = "Test2";
}

<h2>Test</h2>

<h4>Project Code : @Model.Project.Code</h4>
<h4>Project Num  : @Model.Project.Id</h4>
<h4>Project Ctr  : @Model.Country.Id</h4>
<h4>Project Exch : @Model.Exch / USD</h4>
<div>
    <h4>All Project Variables</h4>
    <hr />

    <div class="row">
        <h4 class="col-md-4">Row 1</h4>
        <h4 class="col-md-4">Row 2</h4>
        <h4 class="col-md-4">Row 3</h4>

    </div>
    <div class="row">
        <dl class="dl-horizontal col-md-4"> 


            @{
                var total = Model.TotalEq_A + Model.TotalEq_BA;
            }

            <dt>Super Total </dt>
            <dd>@total.ToString("#,##0.##")</dd>
            <dt>Total COST A</dt>
            <dd>@Model.TotalEq_A.ToString("#,##0.##")</dd>


            <dt>Total COST BA</dt>
            <dd>@Model.TotalEq_BA.ToString("#,##0.##")</dd>
            <dt>Total FOB</dt>
            <dd>@Model.TotalFOB.ToString("#,##0.##")</dd>

            <dt>Total CIF + VAT</dt>
            <dd>@Model.TotalCIFVAT.ToString("#,##0.##")</dd>

            <dt> VAT</dt>
            <dd>@Model.Country.VATRate %</dd>

            <dt>Total Freight</dt>
            <dd>@Model.TotalFrt.ToString("#,##0.##")</dd>


            <dt>Total Transport</dt>
            <dd>@Model.TotalTrans.ToString("#,##0.##")</dd>

            <dt>Total Duties A</dt>
            <dd>@Model.TotalDutiesA.ToString("#,##0.##")</dd>

            <dt>Total Duties BA</dt>
            <dd>@Model.TotalDutiesBa.ToString("#,##0.##")</dd>

            <dt>Total Insurance </dt>
            <dd>@Model.TotalInsr.ToString("#,##0.##")</dd>

            @* Column 1 *@
        </dl>







        <dl class="dl-horizontal col-md-4">
            @* Column 2 *@
            <dt>Transport Distance </dt>
            <dd>@Model.Project.Details.Distance km</dd>

            <dt>Tarrif </dt>
            <dd>@Model.TFR.ToString("#,##0.###") @Model.Country.Currency / kWp </dd>


            <dt>Tarrif USD</dt>

            @{
                var tfr = Model.TFR * Model.Exch;
            }
            <dd>@tfr.ToString("#,##0.###") USD / kWp </dd>

            <dt>Project Size </dt>
            <dd>@Model.prosize MW </dd>

            <dt>20 fts  </dt>
            <dd>@Model.number_20fts </dd>

            <dt>40 fts  </dt>
            <dd>@Model.number_40fts : </dd>
        </dl>
















        <dl class="dl-horizontal col-md-4">
            @* Column 3 *@

            @{
                foreach(var item in Model.AppliedDuties)
                {
                    <dt>Duty</dt>
                <dd>@item.Text : @item.Amount</dd>
                }
            }

        </dl>

    </div>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
