﻿@model NVIDev.Models.SuperProject

@{
    ViewBag.Title = "Test";
}

@section Submenu{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Details", "EditDetails", new { id = Model.Project.Id })</li>
            <li>@Html.ActionLink("Proposal Inputs", "EditCosting", new { id = Model.Project.Id })</li>
            <li >@Html.ActionLink("Equipment", "EditEquipment", new { id = Model.Project.Id })</li>
            <li>@Html.ActionLink("Summary", "Details", new { id = Model.Project.Id })</li>
            <li class ="table-bordered success">@Html.ActionLink("Test", "Test", new { id = Model.Project.Id })</li>
        </ul>
    </div>

}
<h2>Test</h2>

<h4>Project Code : @Model.Project.Code</h4>
<h4>Project Num  : @Model.Project.Id</h4>
<div>
    <h4>All Project Variables</h4>
	<hr />

    <div class="row">
        <h4 class="col-md-4">Formulae</h4>
        <h4 class="col-md-4">Costing</h4>
        <h4 class="col-md-4">Details</h4>

    </div>
    <div class="row">
        <dl class="dl-horizontal col-md-4"> 

           
            <dt>
                @Html.DisplayNameFor(model => model.Ni)
            </dt>

            <dd>
               @Model.Ni.ToString("0.##") %
            </dd>

          

            <dt>
                @Html.DisplayNameFor(model => model.Admin)
            </dt>

            <dd>
               @Model.Admin.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TPF)
            </dt>

            <dd>
              @Model.TPF.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.A)
            </dt>

            <dd>
              @Model.A.ToString("#,##0.00")
            </dd>

           

            <dt>
                @Html.DisplayNameFor(model => model.XI)
            </dt>

            <dd>
              @Model.XI.ToString("#,##0.00")
            </dd>

          

            <dt>
                @Html.DisplayNameFor(model => model.BA)
            </dt>

            <dd>
               @Model.BA.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.C)
            </dt>

            <dd>
               @Model.C.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TS)
            </dt>

            <dd>
              @Model.TS.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MV)
            </dt>

            <dd>
               @Model.MV.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TxV)
            </dt>

            <dd>
               @Model.TxV.ToString("#,##0.00")
            </dd>

          

            <dt>
                @Html.DisplayNameFor(model => model.FPMT)
            </dt>

            <dd>
             @Model.FPMT.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inv)
            </dt>

            <dd>
                @Model.Inv.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Insure)
            </dt>

            <dd>
             @Model.Insure.ToString("#,##0.00")
            </dd>
            <dt>
              OM
            </dt>

            <dd>
                @Model.OM.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TF)
            </dt>

            <dd>
               @Model.TF.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Up)
            </dt>

            <dd>
                @Model.Up.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Df)
            </dt>

            <dd>
               @Model.Df.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DRF)
            </dt>

            <dd>
               @Model.DRF.ToString("0.##")
            </dd>

          

            <dt>
                @Html.DisplayNameFor(model => model.R)
            </dt>

            <dd>
               @Model.R.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TFR)
            </dt>

            <dd>
               @Model.TFR.ToString("0.###")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TFRDev)
            </dt>

            <dd>
                @Model.TFRDev.ToString("0.###")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Margin)
            </dt>

            <dd>
               @Model.Margin.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Insure)
            </dt>

            <dd>
                @Model.Insure.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rrev)
            </dt>

            <dd>
               @Model.Rrev.ToString("#,##0.00")
            </dd>

            <dt>
               Fixed Annual Charge
            </dt>

            <dd>
               @Model.Project.real_FixedAnualCharge.ToString("#,##0.00")
            </dd>

         
            <dt>
                @Html.DisplayNameFor(model => model.RR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Exch)
            </dt>

            <dd>
               @Model.Exch.ToString("0.##")
            </dd>

        
            <dt>
                @Html.DisplayNameFor(model => model.Invest)
            </dt>

            <dd>
              @Model.Invest.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExistingPower)
            </dt>

            <dd>
               @Model.ExistingPower.ToString("#,##0.00")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.t)
            </dt>

            <dd>
               @Model.t.ToString("0.##")
            </dd>
          
        </dl>


        <dl class="dl-horizontal col-md-4">

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Plan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.Plan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Term)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.Term)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.Country)
            </dd>

         

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Source)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.Source)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Tarrif)
            </dt>

            <dd>
             @Model.Project.Costing.Tarrif.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.UseEPC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.UseEPC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.EPCPrice)
            </dt>

            <dd>
              @Model.Project.Costing.EPCPrice.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.InstallFee)
            </dt>

            <dd>
              @Model.Project.Costing.InstallFee.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.DesignFee)
            </dt>

            <dd>
             @Model.Project.Costing.DesignFee.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.StorageCost)
            </dt>

            <dd>
               @Model.Project.Costing.StorageCost.ToString("#,##0.00")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Yield)
            </dt>

            <dd>
               @Model.Project.Costing.Yield.ToString("#,##")
            </dd>

      

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.DieselConsumer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Costing.DieselConsumer)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.Project.Costing.DieselPrice)
            </dt>

            <dd>
                @Model.Project.Costing.DieselPrice.ToString("0.##")


            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.DieselPercent)

            </dt>

            <dd>
                @Model.Project.Costing.DieselPercent.ToString("0.##")%

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.ElectricUsagePYear)
            </dt>

            <dd>
             @Model.Project.Costing.ElectricUsagePYear.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.BaseRate)
            </dt>

            <dd>
               @Model.Project.Costing.BaseRate.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.ExchangeRate)
            </dt>

            <dd>
              @Model.Project.Costing.ExchangeRate.ToString("0.##")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.GeneratorEfficiency)
            </dt>

            <dd>
              @Model.Project.Costing.GeneratorEfficiency.ToString("0.##") %
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.Demand)
            </dt>

            <dd>
              @Model.Project.Costing.Demand.ToString("0.##")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Costing.OMRate)
            </dt>

            <dd>
              @Model.Project.Costing.OMRate.ToString("0.##")
            </dd>




        </dl>

        <dl class="dl-horizontal col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.ProjectName)
            </dd>
          

            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.Abbreviation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.Abbreviation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.CompanyName)
            </dd>
          

            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.Surname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.Telephone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.P_Site)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.P_Site)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.P_Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.P_Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.P_City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.P_City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Project.Details.P_Road)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Details.P_Road)
            </dd>

        

        </dl>

    </div>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
