﻿@model NVIDev.Models.TransferViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="Currency-form" class="Currency">

        <script>
    function toggleThis() {
        $("#Currency-form").toggle();
    }
        </script>

        <div class="form-horizontal">
            <h4>Transfer Project:</h4>
     
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

           
            <div class="form-group">
                
                <div class="col-md-10 col-md-offset-2">
            Transfer <u>@Model.ProjectName</u> To: @Html.DropDownListFor(m => m.NewUserName, new SelectList(Model.AllCompanyUsers))
                </div>
            </div>
           @Html.HiddenFor( m => m.ProjectID)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Transfer" class="btn btn-default" /> <input type="button" value="Cancel" class="btn btn-warning" onclick="toggleThis()" />
                </div>
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}


