﻿@model NVIDev.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="ibox-title">
    <h2>@ViewBag.Title.</h2>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="ibox-content" id="divAccAdmReg">

        <h4>Account Administrator Details <sup><a id="lnkAccAdmDetail">(?)</a></sup></h4>
        <hr />

        <div class="row" id="divAccAdmReg">
            <div class="col-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Confirm Password", new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="form-group">
                    @Html.Label("Country", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        <div id="example-content" class="tab-content">
                            <div class="tab-pane fade in active" id="example4">
                                <select data-country="ZA" class="form-control bfh-countries" id="countries_phone1">
                                    <option value=""></option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="VG">British Virgin Islands</option>
                                    <option value="BN">Brunei</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="CD">Democratic Republic of the Congo</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="TP">East Timor</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FO">Faeroe Islands</option>
                                    <option value="FK">Falkland Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="MK">Former Yugoslav Republic of Macedonia</option>
                                    <option value="FR">France</option>
                                    <option value="FX">France, Metropolitan</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard and Mc Donald Islands</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Laos</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macau</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia</option>
                                    <option value="MD">Moldova</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="AN">Netherlands Antilles</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="KP">North Korea</option>
                                    <option value="MP">Northern Marianas</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestine</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn Islands</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Reunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russia</option>
                                    <option value="ST">São Tomé and Príncipe</option>
                                    <option value="SH">Saint Helena</option>
                                    <option value="PM">St. Pierre and Miquelon</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                    <option value="KR">South Korea</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syria</option>
                                    <option value="TW">Taiwan</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania</option>
                                    <option value="TH">Thailand</option>
                                    <option value="BS">The Bahamas</option>
                                    <option value="GM">The Gambia</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="VI">US Virgin Islands</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VA">Vatican City</option>
                                    <option value="VE">Venezuela</option>
                                    <option value="VN">Vietnam</option>
                                    <option value="WF">Wallis and Futuna Islands</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                                @Html.HiddenFor(model => model.Country, new { id = "CountryID", @Value = "0" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Email", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.MobileNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        <div id="example4" class="tab-pane fade active in">
                            <input type="text" id="userMobileNo" data-country="countries_phone1" class="form-control bfh-phone">
                            @Html.HiddenFor(model => model.MobileNumber, new { id = "MobileNumberID", @Value = "0" })

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Profile Picture", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", @class = "form-control", @accept = ".jpg,.jpeg,.gif,.png,.bmp,.PNG,.JPG,.JPEG,.GIF,.BMP" })
                        @Html.ValidationMessageFor(model => model.ImageUpload, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="divAccAdminDetails" style="display: none">
                    <p>Please complete details of the acount administrator. Administrators have access to all functions and can add other users, delete or modify their access rights.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" class="btn btn-success" value="Continue" />*@
                <input type="button" class="btn btn-success" value="Continue" onclick="hideAccAdmReg('divAccAdmReg', 'divOrganizationReg');" />&nbsp;Admin will then review your application.
            </div>
        </div>
    </div>

    <div id="divOrganizationReg" class="ibox-content" style="display:none;">
        <h4>Organizational Details</h4>
        <div class="form-horizontal">
            <hr />
            @{
    if (TempData["Msg"] != null)
    {
        <span class="alert alert-success">@TempData["Msg"]</span>
                <script>
                    setTimeout(function () {
                        parent.$('#CompanyName').val($('#CompanyName').val());
                        parent.$('#CompanyName').addClass('alert-info');
                        parent.jQuery.fancybox.close();
                    },
                        1000)
                </script>
    }
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="raw">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyCountry, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.CompanyCountry, (IEnumerable<SelectListItem>)ViewData["Countries"], new { id = "ddlCompanyCountryId", @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.CompanyCountry, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyCity, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CompanyCity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyCity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-md-4">Enter Captcha <sup ><a id="lnkCaptcha">(?)</a></sup></span>
                        <div class="col-md-8">
                            <input type="text" id="txtInput" class="form-control" title="Enter code shown below" />
                            <input type="text" id="txtCaptcha" style="background-image:url(1.jpg); text-align:center; border:none;font-weight:bold; font-family:Modern" />
                            <input type="button" class="btn btn-primary btn-xs" value="Refresh" onclick="DrawCaptcha();" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyTel, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CompanyTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyTel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyWebSiteName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <span class="control-label col-md-2" style="color:blue; text-decoration:underline;">WWW.</span>                                                    
                            @Html.EditorFor(model => model.CompanyWebSiteName, new { htmlAttributes = new { @class = "form-control col-md-2", @style = "width:135px;" } })                          
                            @Html.ValidationMessageFor(model => model.CompanyWebSiteName, "", new { @class = "text-danger" })
                            <span class="control-label col-md-1">.</span>
                            @Html.EditorFor(model => model.CompanyWebSiteDomain, new { htmlAttributes = new { @class = "form-control col-md-2", @style = "width:55px;" } })
                            @Html.ValidationMessageFor(model => model.CompanyWebSiteDomain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyLogo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.CompanyLogo, new { type = "file", @class = "form-control", @accept = ".jpg,.jpeg,.gif,.png,.bmp,.PNG,.JPG,.JPEG,.GIF,.BMP" })
                            @Html.ValidationMessageFor(model => model.CompanyLogo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsAcceptTerm, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.IsAcceptTerm, new { @checked = true, @class = "control-label" })
                                <a id="lnkTandC" class="btn btn-primary btn-xs">T&C</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Submit" class="btn btn-default" onclick="return ValidCaptcha();" />
                    <input type="button" value="Cancel" class="btn btn-info" onclick="hideAccAdmReg('divOrganizationReg', 'divAccAdmReg');" />
                </div>
            </div>
            <div id="divQtipTandC" style="display: none; height:150px; overflow:scroll;">
                <p style="height:220px; overflow:scroll;">
                    Welcome, and thank you for joining the SolarAfrica network.<br />
                    By proceeding with registration the user (the "User") agrees to the following terms and conditions (the "Terms") governing the use of the services offered through SolarAfrica® (including software, hardware, products, processes, algorithms, user interfaces, know-how, techniques, designs and other tangible or intangible technical material or information), SolarAfrica® website, financing products and all related outputs either off-line or on-line (collectively, the “Service”). If the User is registering on behalf of a company or other legal entity, the User represents that it has the authority to bind such entity to these Terms.<br />
                    <b>DEFINITIONS</b><br />
                    1.1 The words and expressions used in this document, unless inconsistent with the context, shall bear the following meanings:<br />
                    "Accredited User" means a User that has been granted access to Financed Offers, offered as part of the Service.<br />
                    <b>"Confidential Information"</b> includes any information or other data which is intended or by its nature could reasonably be expected to be confidential, which was disclosed or communicated, by whatever means, before or after the Effective Date and includes all information specifically related to the business of either Party which is not readily available in the ordinary course of business. But does not include any information to the extent that, at the time of it’s disclosure, such information was lawfully in the public domain; or it can be shown by a Party receiving the information to have been lawfully in their possession prior to disclosure by the other Party; or is acquired or developed by the receiving Party independently of the disclosing Party from a source other than the disclosing Party which source is lawfully entitled without any restriction on disclosure to disclose such Confidential Information to the Party and in circumstances which do not amount to a breach of the provisions of these Terms; or is disclosed pursuant to a requirement or request by operation of law, regulation or court order.<br />
                    <b>"Contract"</b> means an agreement entered into between SolarAfrica (or a nominee) and Customer in relation to a User generated Financed Offer.<br />
                    <b>"Customer Data"</b> means any data, information or material provided or submitted by the User in the course of using the Service that relates to a prospective Customer.<br />
                    <b>
                        "Customer"
                    </b> means a prospective customer of a User.
                    <br /> <b>
                        "Effective Date"
                    </b> means the date these Terms are accepted (through the action of indicating such during the SolarAfrica online registration process).
                    <br /> <b>
                        "Installation Agreement"
                    </b> means the master installation and/or design agreement between User and Customer for design, installation and/or commissioning of the Facilities under a Contract.
                    <br /> <b>
                        "Intellectual Property Rights"
                    </b> means unpatented inventions, patent applications, patents, design rights, copyrights, trademarks, service marks, trade names, domain name rights, mask work rights, know-how and other trade secret rights, and all other intellectual property rights, derivatives thereof, and forms of protection of a similar nature anywhere in the world.
                    <br /> <b>
                        "Maintenance Agreement"
                    </b> means the master maintenance and operations agreement between User and SolarAfrica for the maintenance services provided by User to SolarAfrica in respect of a Solar Facility financed by SolarAfrica.
                    <br />  <b>
                        "Project Agreements"
                    </b> means the Installation Agreement, Maintenance Agreement and any other agreement reduced to writing between the User and SolarAfrica with regards to each of their obligations in respect to a Contract (including all addendums and future amendments thereto).
                    <br /> <b>
                        "Project Country"
                    </b> means the proposed country in which the Solar Facilities are to be installed (specified in the Customer Data).
                    <br /> <b>
                        "Proposal"
                    </b> means the SolarAfrica offer letter to a Customer, evidencing the agreed proposal for installation of a Solar Facility (to be completed by User) on residential, commercial, industrial or retail property in the countries serviced by SolarAfrica.
                    <br /> <b>
                        "Prudent Electrical Practices"
                    </b> means standards of practice obtained by exercising the degree of skill, diligence, prudence and foresight which can reasonably expected from a skilled and experienced User or operator engaged in solar electrical generation industry and operation and maintenance of solar photovoltaic electric generating, transmission and distribution facilities, including the engineering, operating and safety practices generally followed by the industry and in the management of such facilities.
                    <br />  <b>
                        "Solar Facility or Facilities"
                    </b> means a solar photovoltaic electric system used for the production of solar electric power (“Solar Facility” or “Facilities”).
                    <br />  <b>
                        "SolarAfrica"
                    </b> means Solar4Africa (Mauritius) Ltd, a company incorporated in the Republic of Mauritius.
                    <br />  <b>
                        "User"
                    </b> means an employee, representative, consultant, User or agent that is authorised to to use the Services and have been provided a user identification and password
                    The User chooses its physical address provided in the online registration data fields, where notices or processes arising out of or concerning these Terms may validly be delivered to and served on them.  Either party may, at any time, by notice to the other change, its physical address provided that it is in the same country as that initially stated.
                    <br />
                    1.2 The User chooses its physical address provided in the online registration data fields, where notices or processes arising out of or concerning these Terms may validly be delivered to and served on them.  Either party may, at any time, by notice to the other change, its physical address provided that it is in the same country as that initially stated.
                    <br />
                    1.3 The headings and paragraph numbering are for convenience only and shall be ignored in construing these Terms <br />
                    1.4 Words importing the singular shall include the plural and vice versa;<br />
                    1.5 Words importing one gender shall include other genders; <br />
                    1.6 Words indicating natural persons shall include and import artificial persons; <br />
                    1.7 Any reference to a Party in these Terms shall be deemed to include its cessionaries or assignees. <br />
                    1.8 These Terms include all terms agreed between the parties regarding the matters addressed herein.  No representations, terms, conditions or warranties not contained in this agreement shall be binding on the parties.  No agreement or addendum varying, adding to, deleting or terminating this agreement including this clause shall be effective unless reduced to writing and signed by the Parties. <br />
                    1.9 The termination shall not affect such of the provisions herein as expressly provide that they will operate after any such expiration or termination or which of necessity must continue to have effect after such expiration or termination, notwithstanding that the clauses themselves do not expressly provide for this.<br />
                    1.10 Acceptance of these Terms will supersede any prior terms and conditions pertaining to the use of SolarAfrica® Service to the User.<br />
                    RIGHT OF USE<br />
                    1.11 SolarAfrica hereby grants a non-exclusive, non-transferable, right to use the Service, solely for the User’s own internal business purposes, subject to the terms and conditions of these Terms. SolarAfrica and its licensors reserve all rights not expressly granted to you.<br />
                    1.12 The User may not access the Service if it is in the business that directly competes with SolarAfrica. <br />
                    1.13 The User’s right to use the Services expressly prohibits the (i) licensing, sublicensing, selling, transferring, assigning, distributing or otherwise commercially exploiting or making available to any third party in any way. <br />
                    1.14 The User is responsible for all activity occurring under the User accounts and will abide by all applicable laws and regulations in connection with your use of the Service.<br />
                    1.15 Each User is responsible for ensuring the accuracy, quality, integrity, legality, reliability, appropriateness, and ownership or right to use all data, information or material that is submitted during the use of the Services. SolarAfrica will not be responsible or liable for the deletion, correction, destruction, damage, loss or failure to store any Customer Data.<br />
                    SERVICE Charges and Payment<br />
                    1.16 The initial applicant is designated as the primary User (the “Primary User”) for each legal entity or organisation applying to use the Service. A Primary User shall be responsible for and will be required to pay all fees or charges to the entity account in accordance with the fees, charges, and billing terms in effect at the time a fee or charge is due and payable. Payments must be made in advance unless otherwise mutually agreed upon. All payment obligations are noncancelable and all amounts paid are non-refundable.<br />
                    FINANCed Proposals <br />
                    1.17 Financing offers are available only to Accredited Users. To become an Accredited User, the User must complete and submit the required information specified by SolarAfrica. The designation of a User as an Accredited User is at the absolute and sole discretion of SolarAfrica. <br />
                    1.18 Accredited Users may generate Proposals that include financed offers, based on the Customer Data entered by the User (“Financed Proposals”). The terms of installation for each Financed Proposals shall be binding on the User once accepted by a Customer, subject only to conditions and exclusions stated in the Proposal and agreed with the Customer and SolarAfrica. SolarAfrica shall under no circumstances be responsible for any costs not included in the Solar Facilities costs not included in the Financed Proposal.<br />
                    1.19 The User shall provide such information required to approve any Customer, which shall include information pertaining to the Customer’s financing standing. A Financed Proposal shall be subject to credit approval and is preconditioned on fulfilment by User of the terms and conditions of the Project Agreements between User and SolarAfrica (or nominee) and SolarAfrica (or nominee) and Customer.<br />
                    1.20 Provided all information indicated in the online application has been uploaded, SolarAfrica shall respond to a User in relation to the prospective Customer no later than 15 days after the last supporting document has been uploaded.<br />
                    Intellectual Property Ownership <br />
                    1.21 SolarAfrica (and its licensors, where applicable) will own all right, title and interest, including all related Intellectual Property Rights, in and to the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any other party relating to the Service. Use of the Service does not convey to a User any rights of ownership in or related to the Intellectual Property Rights. The SolarAfrica name, the SolarAfrica logo, and the product names associated with the Service are trademarks of SolarAfrica or third parties, and no right or license is granted to use them.<br />
                    CONFIDENTIAL INFORMATION <br />
                    1.22 SolarAfrica will keep confidential and not disclose to any person or entity (except employees, officers, agents, or directors of SolarAfrica, its subsidiaries or affiliates or as otherwise required by law), any Confidential Information that SolarAfrica receives from User, which is designated confidential by User. In the event SolarAfrica sells or assigns any Contract, SolarAfrica may disclose any information under this provision reasonably necessary or required to effectuate such sale or assignment.<br />
                    Termination for Cause<br />
                    1.23 Any breach of your responsibilities or unauthorized use of Services will be deemed a material breach of these Terms. SolarAfrica, in its sole discretion, may terminate your password, account or use of the Service if you breach or otherwise fail to comply with these Terms. In addition, SolarAfrica may terminate a non-billing (free) account at any time in its sole discretion and may withdraw a User’s status as an Accredited User at any time without notice. The User agrees and acknowledges that SolarAfrica has no obligation to retain Customer Data, and may delete such Customer Data if, in the opinion of SolarAfrica, there has been a material breach of these Terms.<br />
                    Internet Delays; Accuracy of Information<br />
                    1.24 The Services may be subject to the limitations, delays, and other problems inherent in the use of the Internet and electronic communications. SolarAfrica is not responsible for any delays, delivery failures, or other damage resulting from such problems. Further, while SolarAfrica makes reasonable efforts to ensure the accuracy of the information provided through the service, inaccuracies may arise. Therefore, SolarAfrica is not responsible for any problems or losses resulting from or arising out of any inaccuracy of information provided or made available through the service.<br />
                    Modification to Terms <br />
                    1.25 SolarAfrica reserves the right to modify the terms and conditions of this Agreement or its policies relating to the Service at any time, effective upon posting of an updated version of these Terms on the Service. The User is responsible for regularly reviewing these Terms. Continued use of the Service after any such changes will constitute your consent to such changes.<br />
                    GENERAL REPRESENTATIONS AND WARRANTIES. <br />
                    1.26 The User represents and warrants that it is a legal entity duly incorporated or organized, validly existing, and in good standing under the laws of the jurisdiction in which it is incorporated or organized and has the corporate power to own its assets and transact the businesses in which it is currently engaged.<br />
                    1.27 User represents and warrants to SolarAfrica that the User and User’s representatives have, had and will have at all material times, all requisite permits, licenses, authorizations, registrations, and approvals from all governmental or administrative authorities necessary for the conduct of User’s business.<br />
                    Indemnification. <br />
                    1.28 The User will indemnify and hold SolarAfrica, its licensors and each such party's parent organizations, subsidiaries, affiliates, officers, directors, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys' fees and costs) arising out of or in connection with a claim alleging that use of Customer Data infringes the rights of, or has caused harm to, a third party or other claim in relation to the use of the Services by the User.<br />
                    DISCLAIMER OF WARRENTY <br />
                    1.29 SolarAfrica and its licensors make no representation, warranty, or guaranty as to the reliability, timeliness, quality, suitability, truth, availability, accuracy or completeness of the Service. SolarAfrica and its licensors do not represent or warrant that (a) the use of the Service will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (b) the Service will meet your requirements or expectations, (c) any stored data will be accurate or reliable, (d) the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your requirements or expectations, (e) errors or defects will be corrected, or (f) the service or the server(s) that make the service available are free of viruses or other harmful components. The Service and all content is provided to you strictly on an "as is" basis. All conditions, representations and warranties, whether express, implied, statutory or otherwise, including, without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third party rights, are hereby disclaimed to the maximum extent permitted by applicable law by SolarAfrica and its licensors.<br />
                    Notice <br />
                    1.30 SolarAfrica may give notice by means of a general notice on the Service, electronic mail to your e-mail address on record in SolarAfrica’s account information, or by written communication sent by registered main to the address on record in SolarAfrica’s account information. Such notice will be deemed to have been given upon the expiration of 48 hours after mailing or posting (if sent by registered mail or pre-paid post) or 12 hours after sending (if sent by email). <br />
                    1.31 The User may give notice to SolarAfrica (such notice will be deemed given when received by SolarAfrica) at any time by letter delivered by registered mail to SolarAfrica at the following addresses: Solar4Africa (Mauritius) Ltd, C1-203, Level 2, Office Block C, La Croisette, 30517, Grand Baie, Mauritius.<br />
                    MISCELLANEOUS <br />
                    1.32 Law. The laws of Mauritius shall govern these Terms.<br />
                    1.33 Independent User. User and SolarAfrica agree and understand that under no circumstances should one Party be considered as, or represent itself as, an agent, employee, or representative of the other. User will at no time represent to any person or entity that it has any relationship with SolarAfrica other than one of independent User. User agrees not to take any action on behalf of SolarAfrica that is not authorised herein. SolarAfrica and User specifically intend and agree that neither these Terms nor the frequency, length, or closeness of dealings between SolarAfrica and User will create any fiduciary duties between them nor shall it be considered or shall be deemed to, establish any partnership or joint venture between any of the Parties, constitute any Party the agent of another Party, or authorise any Party to make or enter into any commitments for or on behalf of any other Party.<br />
                    1.34 Succession and Assignment. These Terms will be binding upon and inure to the benefit of the Parties named herein and their respective successors and permitted assignees. User may not assign its rights, interests or obligations hereunder without the prior written approval of the SolarAfrica. SolarAfrica may assign any or all of its rights and interests hereunder. SolarAfrica may designate one or more of its agents, affiliates or subsidiaries to perform its obligations hereunder (in any or all of which cases the SolarAfrica and the User nonetheless will remain responsible for the performance of all of their respective obligations hereunder).<br />
                    1.35 Off-Set: SolarAfrica may offset or recoup from amounts owed by SolarAfrica by a User any amounts, fees, or charges which are owed by User to SolarAfrica under the provisions of these Terms or and of the Project Agreements. Any amounts owed by User to SolarAfrica that cannot be paid by the aforesaid means will be due and payable by User to SolarAfrica on demand.<br />
                    1.36 Non-Exclusive. Notwithstanding the provisions relating to Confidential Information shared between the Parties, these Terms do not preclude either Party from working with other parties on a similar basis.<br />
                    1.37 No Trademark License. Agreeing to be bound by these Terms does not create any right or license for either Party to use any of the other Party’s trademarks, service marks, symbols, logotypes, emblems, or commercial signatures in any manner, whether in connection with the financing programs provided by SolarAfrica or otherwise unless prior written consent is obtained. User agrees to the use of its logotype, emblems or commercial signatures if such is provided to the SolarAfrica for use on any branded proposal originated from the Tool.<br />
                    <b />
                </p>
            </div>

            <div id="divCaptcha" style="display:none;">
                <p>A CAPTCHA (an acronym for "Completely Automated Public Turing test to tell Computers and Humans Apart") is a type of challenge-response test used in computing to determine whether or not the user is human.</p>
            </div>
        </div>
    </div>   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Register")
    <link href="~/Content/plugins/Qtip/jquery.qtip.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Qtip/jquery.qtip.min.js"></script>
    <link href="~/Scripts/CountryWisePhonePlugins/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
    <script src="~/Scripts/CountryWisePhonePlugins/js/bootstrap-formhelpers.min.js"></script>
    <script>
        $(document).ready(function () {
            DrawCaptcha();
        });
        $('#txtCaptcha').bind("cut copy paste", function (e) {
            e.preventDefault();
        });
    </script>
    <script>
        function hideAccAdmReg(idhide, idShow) {
            document.getElementById(idhide).style.display = "none";
            document.getElementById(idShow).style.display = "block";
            var mNo = $("#userMobileNo").val();
            $('#MobileNumberID').val(mNo);
        }

        $(function () {
            $('#countries_phone1').change(function () {
                var x = $("#countries_phone1 option:selected").text();
                var mNo = $("#userMobileNo").val();
                $('#CountryID').val(x);
                $('#MobileNumberID').val(mNo);
            });
        });

        //function validateEmail() {
        //    email = document.getElementById('Email').value;
        //    var reg = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        //    if (reg.test(email)) {                

        //        if (email.indexOf("@@") < 1 || email.indexOf(".") < 1) {
        //            alert("Not a valid email-id");
        //            document.getElementById('txtEmail').focus();
        //        }
        //        return true;
        //    }
        //    else {
        //        alert("invalid email");
        //        document.getElementById('txtEmail').focus();
        //    }
        //}
    </script>
    <script>
        var myContent = jQuery('#divAccAdminDetails').html();
        $('#lnkAccAdmDetail').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: myContent,
                title: {
                    text: '',
                    button: true
                }
            },
            hide: 'unfocus',
            show: {
                event: 'click',
                delay: 100,
                solo: true,
                ready: false
            },
            position: {
                my: 'top left',  // Position my top left...
                at: 'bottom right' // at the bottom right of...
            },
            style: {
                classes: 'qtip-light',
                width: 1000
            }
        });


        var myContent = jQuery('#divCaptcha').html();
        $('#lnkCaptcha').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: myContent,
                title: {
                    text: '',
                    button: true
                }
            },
            hide: 'unfocus',
            show: {
                event: 'click',
                delay: 100,
                solo: true,
                ready: false
            },
            position: {
                my: 'top left',  // Position my top left...
                at: 'bottom right' // at the bottom right of...
            },
            style: {
                classes: 'qtip-light',
                width: 1000
            }
        })
    </script>
    <script>
        var myContent = jQuery('#divQtipTandC').html();
        $('#lnkTandC').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: myContent,
                title: {
                    text: 'Terms & Conditions',
                    button: true
                }
            },
            hide: 'unfocus',
            show: {
                event: 'click',
                delay: 100,
                solo: true,
                ready: false
            },
            position: {
                my: 'top left',  // Position my top left...
                at: 'bottom right', // at the bottom right of..                
                adjust: {
                    screen: false
                }
            },
            style: {
                classes: 'ui-tooltip-light',
                width: 1000,
                height : 200
            }
        });
    </script>
    <script>
        function DrawCaptcha() {
            var a = Math.ceil(Math.random() * 10) + '';
            var b = Math.ceil(Math.random() * 10) + '';
            var c = Math.ceil(Math.random() * 10) + '';
            var d = Math.ceil(Math.random() * 10) + '';
            var e = Math.ceil(Math.random() * 10) + '';
            var f = Math.ceil(Math.random() * 10) + '';
            var g = Math.ceil(Math.random() * 10) + '';
            var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g;
            document.getElementById("txtCaptcha").value = code
        }

        // Validate the Entered input aganist the generated security code function
        function ValidCaptcha() {
            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtInput').value);
            if (str1 == str2) {
                return true;
            }
            else {
                alert("Incorrect captcha entered");
                return false;
               
            }
        }

        // Remove the spaces from the entered and generated code
        function removeSpaces(string) {
            return string.split(' ').join('');
        }
    </script>   
}
