﻿
@{
    ViewBag.Title = "Audits";

    List<NVIDev.Models.Audit> compAudits = (List<NVIDev.Models.Audit>)ViewBag.AdminAudits;
    List<NVIDev.Models.Audit> allAudits = (List<NVIDev.Models.Audit>)ViewBag.Audits;
    int count = 0;
}




@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Audits</h2>
</div>
<hr />

<div class="form-horizontal">



    <ul class="nav nav-tabs">
        <li class="active" id="link1"><a href="#" onclick="MoveTo(1)">Company Audits</a></li>
        <li id="link2"><a href="#" onclick="MoveTo(2)">All Audits</a></li>


    </ul>

    <div class="tab-content active" id="tab1">
        <div class="panel">
            <h4><span class="label label-primary">@compAudits.Count</span> Company Audits</h4>
            <h5>First 20 Audits</h5>

            <table class="table table-condensed">
                <tr>

                    <th>
                        #
                    </th>


                    <th>
                        Content
                    </th>
                    <th>
                        Date
                    </th>



                </tr>

                @foreach (var item in compAudits)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Content</td>
                        <td>@item.Time</td>



                    </tr>
                }
            </table>
        </div>
    </div>
 
    <div class="tab-content hidden" id="tab2">
        <div class="panel">
            <h4><span class="label label-warning">@allAudits.Count</span> All Audits</h4>
            <h5>First 20 Audits</h5>

            <table class="table table-condensed">
                <tr>

                    <th>
                        #
                    </th>


                    <th>
                        Content
                    </th>
                    <th>
                        Date
                    </th>



                </tr>
                @{
                    count = 0;
                }

                @foreach (var item in allAudits)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Content</td>
                        <td>@item.Time</td>



                    </tr>
                }
            </table>
        </div>
    </div>


</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/Tabs.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")




}