﻿@model IEnumerable<NVIDev.Models.Category>

@{
    ViewBag.Title = "Categories";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Categories</h2>
</div>

<div class="ibox-content">
    <p>
        @Html.ActionLink("Create New", "CreateCategory", null, new { @class ="btn btn-primary"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @{
            if (!string.IsNullOrEmpty(item.Taxes))
            {
                @item.Taxes.Replace("!", ", ")

            }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCategory", new { id = item.id }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.id }, new { onclick = "return confirm('Delete " + item.Name + " ?')" })
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to Admin", "Index")
    </div>
</div>