﻿@model IEnumerable<NVIDev.Models.CountryOfOrigin>

@{
    ViewBag.Title = "COO";
}
@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Countries of Origin</h2>
</div>

<div class="ibox-content">


    <p>
        @Ajax.ActionLink("Add Country +", "CreateCOO", null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCOO" }, new { @class="btn btn-primary"})
    </p>
    <table class="table table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCOO", new { id = item.id }, new { @onclick = "return confirm('Delete " + item.Name + "?')" })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Back To Admin", "Index")


</div>


<div id="AddCOO"></div>
@section Scripts
{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-1.10.2.js"></script>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/coo.js")
}
