﻿@model NVIDev.Models.Country2Port
@using (Html.BeginCollectionItem("Coo2Ports"))
{
    <tr>
        <td>@Model.Country @Html.HiddenFor(model => model.Country)</td>
        <td>
            <div class="input-group">
                @Html.HiddenFor(model => model.Amount20, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.Amount20) <span class="input-group-addon">$</span>
            </div>

        </td>
        <td>
            <div class="input-group">
                @Html.HiddenFor(model => model.Amount40, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.Amount40) <span class="input-group-addon">$</span>
            </div>
        </td>
    </tr>
}
