﻿@model NVIDev.Models.PVModules

@{
    ViewBag.Title = "Create PV Module";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Create PV Module</h2>
</div>


<div class="ibox-content">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.Label("Product Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Key", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Key, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Key)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Sub Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubCategory, new SelectList(ViewBag.Subs), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubCategory)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Manufacturer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Manufacturer)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Lead Time", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.LeadTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LeadTime)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dimensions", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Dimensions, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dimensions)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Unit Of Measure", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UOM, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UOM)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Country Of Origin", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CountryOfOrigin, new SelectList(ViewBag.COO), new { @class = "form-control" }) @Ajax.ActionLink("Add Country +", "CreateCOO", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCOO" })
                @Html.ValidationMessageFor(model => model.CountryOfOrigin)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Currency", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CCY, new SelectList(ViewBag.Currencies), new { @class = "form-control" }) @Ajax.ActionLink("Add Currency +", "CreateCurrency", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCurrency" })
                @Html.ValidationMessageFor(model => model.CCY)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Unit/WP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UnitWP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitWP)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Item Cost", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                    @Html.HiddenFor(model => model.ItemCost, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ItemCost)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Unit Cost/WP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UnitCost_WP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitCost_WP)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Modules Per Pallet", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ModulesPerPallet, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModulesPerPallet)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Pallets Per 20ft", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PalletsPer20ft, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PalletsPer20ft)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Inco Terms", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IncoTerms, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IncoTerms)
            </div>
        </div>

      
      
      





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }
    <div>
        @Html.ActionLink("Back to List", "EquipmentList")
    </div>

</div>
<div id="AddCOO"></div>
<div id="AddCurrency"></div>


@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/coo.js")

@Scripts.Render("~/Scripts/Thousands.js")






}
