﻿@model NVIDev.Models.CategoryViewModel

@{
    ViewBag.Title = "Create Category";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Create Category</h2>
</div>

<div class="ibox-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new {@class="form-control" } )
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Type, new SelectList(ViewBag.Types), new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <label class="col-md-2 control-label">Taxes  @Ajax.ActionLink("+", "AddTax", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "onSuccessAddCategory" }, new { @class = "btn btn-xs btn-primary" })</label>
            <table id="TaxTable" class="col-md-4 clearfix table-condensed">

                <tr>
                    <th>Name</th>
                    <th>Rate (%)</th>
                </tr>
            </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div>
    @Html.ActionLink("Back to List", "Categories")
</div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/Categories.js")
@Scripts.Render("~/Scripts/Deleter.js")





}