﻿@model NVIDev.Models.Currency


@using (Ajax.BeginForm("CreateCurrency", new AjaxOptions { HttpMethod = "POST", OnSuccess = "successCurrency" }))
{
    @Html.AntiForgeryToken()
    <div id="Currency-form" class="Currency">


        <div class="form-horizontal">
            <h4>Currency</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="myMessage1" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Id / Code", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Value In US $", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ValueInDollars, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.ValueInDollars, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" /> <input type="button" value="Cancel" class="btn btn-warning" onclick="HideCurrency()" />
                </div>
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
