﻿@model NVIDev.Models.CountryOfOrigin


@using (Ajax.BeginForm("CreateCOO", new AjaxOptions { HttpMethod = "POST", OnSuccess="successCOO" }))
{
    @Html.AntiForgeryToken()
    <div id="Coo-form" class="COO">


        <div class="form-horizontal">
            <h4>Country Of Origin</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="myMessage" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Country",  new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" /> <input type="button" value="Cancel" class="btn btn-warning" onclick="HideCOO()" />
                </div>
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
