﻿@model NVIDev.Models.Country

@{
    ViewBag.Title = "Create";
}
@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Create Country</h2>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="ibox-content">
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)


            <div class="form-group">
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Currency", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Currency, new SelectList(ViewBag.Currencies), new { @onchange = "getCurrency(this)", @class = "" }) @Ajax.ActionLink("Add Currency +", "CreateCurrency", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCurrency" })
                    @Html.ValidationMessageFor(model => model.Currency)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Currency Per Dollar", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.Currency_Per_Dollar, new { @id = "currentValue", @class = "form-control disabled", disabled = "disabled" }) <span class="input-group-addon">US $</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Currency_Per_Dollar)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("VAT Rate (Duties)", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.VATRate, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.VATRate)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("20ft Container Cost", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.CCY_Per_20ftKM, new { @class = "form-control" }) <span class="input-group-addon">CCY / Km</span>
                    </div>  @Html.ValidationMessageFor(model => model.CCY_Per_20ftKM)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("40ft Container Cost", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.CCY_Per_40ftKM, new { @class = "form-control" })<span class="input-group-addon">CCY / Km</span>
                    </div>   @Html.ValidationMessageFor(model => model.CCY_Per_40ftKM)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Carbon Factor", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.CF, new { @class = "form-control" }) <span class="input-group-addon">CF</span>
                    </div>   @Html.ValidationMessageFor(model => model.CF)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("CPI", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.CPI, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>    @Html.ValidationMessageFor(model => model.CPI)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("CPIn", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.CPIn, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>   @Html.ValidationMessageFor(model => model.CPIn)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Grid-Tied Ri", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.Grid_Tied_Ri, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>   @Html.ValidationMessageFor(model => model.Grid_Tied_Ri)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Diesel-Hybrid Ri", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.DieselH_Ri, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>  @Html.ValidationMessageFor(model => model.DieselH_Ri)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Battery-Hybrid Ri", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.BatteryH_Ri, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>  @Html.ValidationMessageFor(model => model.BatteryH_Ri)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("DivTX", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.DivTX, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div> @Html.ValidationMessageFor(model => model.DivTX)
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Tax PBS", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.TaxPBS, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>  @Html.ValidationMessageFor(model => model.TaxPBS)
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Tax PPA", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.TaxPPA, new { @class = "form-control" })<span class="input-group-addon">%</span>
                    </div>  @Html.ValidationMessageFor(model => model.TaxPPA)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("S4AD", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.S4AD, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>  @Html.ValidationMessageFor(model => model.S4AD)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Utility Inflation", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.UtilityInflation, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>   @Html.ValidationMessageFor(model => model.UtilityInflation)
                </div>
            </div>




            <div class="form-group">
                @Html.Label("Diesel Price", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.DieselPrice, new { @class = "form-control" })<span class="input-group-addon">CCY</span>
                    </div>   @Html.ValidationMessageFor(model => model.DieselPrice)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("MU", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.MU, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>   @Html.ValidationMessageFor(model => model.MU)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("CMU", new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.CMU, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>  @Html.ValidationMessageFor(model => model.CMU)
                </div>
            </div>
            <table class="table">
                <thead>Wear &amp; Tear (%)</thead>
                <tr>
                    <th>Year 1</th>
                    <th>Year 2</th>
                    <th>Year 3</th>
                    <th>Year 4</th>
                    <th>Year 5</th>

                </tr>
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.WearTear1, new { @class = "Table-Input" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.WearTear2, new { @class = "Table-Input" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.WearTear3, new { @class = "Table-Input" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.WearTear4, new { @class = "Table-Input" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.WearTear5, new { @class = "Table-Input" })
                    </td>
                </tr>
            </table>

            <table class="table">
                <thead>Utility Inflation (%)</thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>20</th>
                </tr>
                <tr>


                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation1, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation2, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation3, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation4, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation5, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation6, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation7, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation8, new { @class = "Table-Input2" })
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation9, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation10, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation11, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation12, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation13, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation14, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation15, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation16, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation17, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation18, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation19, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation20, new { @class = "Table-Input2" })
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div id="AddCurrency"></div>
@section Scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/coo.js")
    @Scripts.Render("~/Scripts/Currency.js")
    @Scripts.Render("~/Scripts/Thousands.js")




}
