﻿@model IEnumerable< NVIDev.Models.Currency>

@{
    ViewBag.Title = "Currencies";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Currencies</h2>
    <p>
        @Ajax.ActionLink("Add Currency", "CreateCurrency", null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCurrency" }, new { @class = "btn btn-primary btn-xs" })
    </p>
</div>


<div class="ibox-content">
    <table class="table">
        <tr>
            <th>
                Code
            </th>
            <th>Value in USD $</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>@Html.DisplayFor(modelItem => item.ValueInDollars)</td>
                <td>
                    @Html.ActionLink("Edit", "EditCurrency", new { id = item.id }) |


                    @Html.ActionLink("Delete", "DeleteCurrency", new { id = item.id }, new { @onclick = "return confirm('Delete " + item.id + "?')" })
                </td>
            </tr>
    }
    </table>
    @Html.ActionLink("Back To Admin", "Index")


    <div id="AddCurrency"></div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/coo.js")
}
