﻿@model NVIDev.Models.NVIStatic

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NVIStatic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RevisionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPAF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPAF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPIu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPIu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPIg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPIg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatNi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatNi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBSPerc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBSPerc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
