﻿@model IEnumerable<NVIDev.Models.Duty>

@{
    ViewBag.Title = "Duties";
}

@section Submenu{
    @Html.Partial("_AdminNav")
}

<div class="ibox-title">
    <h2>Duties</h2>
</div>

<div class="ibox-content">
    <p>
        @Html.ActionLink("Create New", "CreateDuty", null, new {@class="btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Countries
            </th>
            <th>
                All Countries ?
            </th>
            <th>
                Rate
            </th>

            <th>
                Customs
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Countries.Replace("!", ", ")
                </td>
                <td>
                    @{
            if (item.AllCountries)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
                    }
                </td>
                <td>
                    @item.Rate.ToString("0.##") %
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CustomsValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDuty", new { id = item.id }) |
                    @Html.ActionLink("Delete", "DeleteDuty", new { id = item.id }, new { @onclick = "return confirm('Delete " + item.Name + "?')" })
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>