﻿@model NVIDev.Models.Project

@{
    ViewBag.Title = "Input Adjustment";

    string c = ViewBag.Currency;
}
@section Submenu{
    @Html.Partial("_AdminNav")


}


<div class="ibox-title">
    <h3>Adjust Inputs</h3>

    <h4>Project Code : @Model.Code</h4>
    <h4>Project Num  : @Model.Id</h4>
    @*@using (Ajax.BeginForm("EditCosting", new AjaxOptions() { OnSuccess = "UpdateTarrif(data)" }))*@

</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="ibox-content" style="overflow-x:scroll">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <table class="table-condensed table  col-md-12 clearfix">
                <tr>
                    <th>Adjustments:</th>
                    <th>Initial (@c)</th>
                    <th>Adjustment</th>
                    <th>Adjusted (@c)</th>
                </tr>
                <tr>
                    <td>Solar Capex</td>
                    <td id="OldSolarCap">@Model.in_SolarCapexFee.ToString("#,##0.00")</td>
                    <td class="col-md-2 clearfix">
                        <div class="input-group">
                        @Html.HiddenFor(m => m.adj_SolarCapexFee, new { oninput = "ChangeSolarCap(this)", @class = "form-control" })
                        <span class="input-group-addon">%</span></div>
                    </td>
                    <td id="NewSolarCap">@Model.real_SolarCapexFee.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td>Our Upfront Fee</td>
                    <td id="OldUpfrontFee">@Model.in_UpfrontFee.ToString("#,##0.00")</td>
                    <td class="col-md-2 clearfix">
                        <div class="input-group">
                        @Html.HiddenFor(m => m.UpAdj, new { oninput = "ChangeUpfront(this)", @class = "form-control" })
                        <span class="input-group-addon">%</span></div>
                    </td>
                    <td id="NewUpfrontFee">@Model.real_UpfrontFee.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td>Admin Fee</td>
                    <td id="OldAdminFee">@Model.in_AdminFee.ToString("#,##0.00")</td>
                    <td class="col-md-2 clearfix">
                        <div class="input-group">
                        @Html.HiddenFor(m => m.FAdmin, new { oninput = "ChangeAdmin(this)", @class = "form-control" })
                        <span class="input-group-addon">%</span></div>
                    </td>
                    <td id="NewAdminFee">@Model.real_AdminFee.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td>Real Return (Ri)</td>
                    <td id="OldRI">@Model.In_Ri.ToString("#,##0.00")</td>
                    <td class="col-md-2 clearfix">
                        <div class="input-group">
                        @Html.HiddenFor(m => m.RIAdjustment, new { oninput = "ChangeRI(this)", @class = "form-control" })
                        <span class="input-group-addon">%</span></div>
                    </td>
                    <td id="NewRI">@Model.real_RI.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td>Upfront Client</td>
                    <td id="OldUpfrontClient">@Model.in_UpfrontClient.ToString("#,##0.00")</td>
                    <td class="col-md-2 clearfix">
                        <div class="input-group">
                        @Html.HiddenFor(m => m.in_UpfrontClient, new { oninput = "ChangeUpfrontClient(this)", @class = "form-control" })
                        <span class="input-group-addon">@c</span></div>
                    </td>
                    <td id="NewUpfrontClient">@Model.real_UpfrontClient.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td>Fixed Annual Charge</td>
                    <td></td>
                    <td class="col-md-2 clearfix">
                        <div class="input-group">
                        @Html.HiddenFor(m => m.real_FixedAnualCharge, new { oninput = "ChangeFixedAnnual(this)", @class = "form-control" })    
                        <span class="input-group-addon">@c</span></div>

                    </td>
                    <td id="NewFixedAnnual">@Model.real_FixedAnualCharge.ToString("#,##0.00") </td>
                </tr>
                @Html.HiddenFor(model => model.Id)
            </table>
            <table class="table">
                <tr>
                    <th></th>
                    <th>X1</th>
                    <th>X2</th>
                    <th>X3</th>
                    <th>X4</th>
                    <th>X5</th>
                    <th>X6</th>
                    <th>X7</th>
                    <th>X8</th>
                    <th>Validation</th>

                </tr>
                <tr>
                    <td>Tax PPA</td>
                    <td>@Html.HiddenFor(model => model.xn1, new { id = "xn1", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn2, new { id = "xn2", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn3, new { id = "xn3", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn4, new { id = "xn4", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn5, new { id = "xn5", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn6, new { id = "xn6", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn7, new { id = "xn7", onfocus = "PPACheck()", @class = "Table-Input2" })</td>
                    <td>@Html.HiddenFor(model => model.xn8, new { id = "xn8", onfocus = "PPACheck()", @class = "Table-Input2" })</td>

                    <td id="PPAResult">100%</td>
                </tr>
            </table>
            <table class="table table-condensed">
                <thead>Utility Inflation (%) </thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>20</th>
                </tr>
                <tr>


                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation1, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation2, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation3, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation4, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation5, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation6, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation7, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation8, new { @class = "Table-Input2" })
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation9, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation10, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation11, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation12, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation13, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation14, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation15, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation16, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation17, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation18, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation19, new { @class = "Table-Input2" })
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.UtilityInflation20, new { @class = "Table-Input2" })
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Projects")
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/Scripts/PPACheck.js")
    @Scripts.Render("~/Scripts/AdminInputs.js")
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/Thousands.js")
}
