@model NVIDev.Models.NVIStatic

@{
    ViewBag.Title = "Edit";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Edit</h2>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="ibox-content">


            <h4>NVI Static Data</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Revision Date", new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    <u>  @Html.DisplayFor(model => model.RevisionDate)</u>

                </div>
            </div>


            <div class="form-group">
                @Html.Label("Batt P", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.BattP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BattP)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("TPAF", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.TPAF, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TPAF)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Bat C", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.BatC, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BatC)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("CPIu", new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    <div class="input-group">
                        @Html.HiddenFor(model => model.CPIu, new { @class = "form-control" })  %
                    </div>
                    @Html.ValidationMessageFor(model => model.CPIu)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Degredation", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Deg, new { @class = "form-control" }) %
                    @Html.ValidationMessageFor(model => model.Deg)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("CPIg", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.CPIg, new { @class = "form-control" }) %
                    @Html.ValidationMessageFor(model => model.CPIg)
                </div>
            </div>


            <div class="form-group">
                @Html.Label("BatNi", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.BatNi, new { @class = "form-control" }) %
                    @Html.ValidationMessageFor(model => model.BatNi)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("PBS Perc", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.PBSPerc, new { @class = "form-control" }) %
                    @Html.ValidationMessageFor(model => model.PBSPerc)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Sic", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Sic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sic)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Insurance Rate", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.InsR, new { @class = "form-control" }) %
                    @Html.ValidationMessageFor(model => model.InsR)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Marine Insurance Rate", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.MarineInsure, new { @class = "form-control" }) %
                    @Html.ValidationMessageFor(model => model.MarineInsure)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Variables")
        </div>
    </div>
}

@section Scripts{

    @Scripts.Render("~/Scripts/Thousands.js")
}