﻿@model NVIDev.Models.PortViewModel

@{
    ViewBag.Title = "Create Port";
}


@section Submenu{
    @Html.Partial("_AdminNav")
}

<div class="ibox-title">
    <h2>Port Of Entry</h2>
</div>

<div class="ibox-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        <div class="form-horizontal">
            <h4>Port Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GPS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.GPS, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GPS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Parent Country", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.Countries), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Countries of Origin", htmlAttributes: new { @class = "control-label col-md-2" }) @*@Ajax.ActionLink("Add Country +", "CreateCOO",null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCOO" },new { @class ="col-md-2" })*@


                <div class="col-md-10">
                    <table class="table-condensed">
                        <tr>
                            <th>Country</th>
                            <th>20 ft</th>
                            <th>40 ft</th>

                        </tr>
                        @{
        foreach (var countryOfOrigin in Model.Coo2Ports)
        {
            @Html.Partial("COOPort", countryOfOrigin)
        }

                        }
                    </table>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>




@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/Thousands.js")

}
