﻿@model NVIDev.Models.InverterViewModel

@{
    ViewBag.Title = "Edit Inverter";
}
@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Edit Inverter</h2>
</div>


<div class="ibox-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Model.Inverter.Id</h4>
            <hr />
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Inverter.Id)


            <div class="form-group">
                @Html.Label("Key", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.Key, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.Key)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Sub Category", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Inverter.SubCategory, new SelectList(ViewBag.Subs), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.SubCategory)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Manufacturer", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.Manufacturer, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.Manufacturer)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Lead Time", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Inverter.LeadTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.LeadTime)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Inverter.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Dimensions", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.Dimensions, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.Dimensions)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Unit Of Measure", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.UOM, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.UOM)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Country Of Origin", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Inverter.CountryOfOrigin, new SelectList(ViewBag.COO), new { @class = "form-control" }) @Ajax.ActionLink("Add Country +", "CreateCOO", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCOO" })
                    @Html.ValidationMessageFor(model => model.Inverter.CountryOfOrigin)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Currency", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Inverter.CCY, new SelectList(ViewBag.Currencies), new { @class = "form-control" }) @Ajax.ActionLink("Add Currency +", "CreateCurrency", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCurrency" })
                    @Html.ValidationMessageFor(model => model.Inverter.CCY)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Unit/WP", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Inverter.UnitWP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.UnitWP)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Item Cost", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Inverter.ItemCost, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Inverter.ItemCost)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Unit Cost/WP", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Inverter.UnitCost_WP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.UnitCost_WP)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modules Per Pallet", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.ModulesPerPallet, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.ModulesPerPallet)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Pallets Per 20ft", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.PalletsPer20ft, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.PalletsPer20ft)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Inco Terms", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Inverter.IncoTerms, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inverter.IncoTerms)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Configurations", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="configList">
                        @{
                            foreach (var item in Model.Configurations)
                            {
                                item.ParentList = "Configurations";

                                Html.RenderPartial("Filler", item);
                            }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "Configurations" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "configList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("DC Over Voltage List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="dicovList">
                        @{
                            foreach (var item in Model.DCOverVoltageList)
                            {
                                item.ParentList = "DCOverVoltageList";

                                Html.RenderPartial("Filler", item);
                            }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "DCOverVoltageList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "dicovList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("DC Load Disconnect List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="dcloadfigList">
                        @{
                            foreach (var item in Model.DCLoadDisconnectList)
                            {
                                item.ParentList = "DCLoadDisconnectList";

                                Html.RenderPartial("Filler", item);
                            }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "DCLoadDisconnectList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "dcloadfigList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("IO Port Modules List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="IOPortList">
                        @{
                            foreach (var item in Model.IOPortModulesList)
                            {
                                item.ParentList = "IOPortModulesList";
                                Html.RenderPartial("Filler", item);
                            }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "IOPortModulesList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "IOPortList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("Country Specific Grid List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="CountryList">
                        @{
                            foreach (var item in Model.CountrySpecificGridList)
                            {
                                item.ParentList = "CountrySpecificGridList";
                                Html.RenderPartial("Filler", item);
                            }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "CountrySpecificGridList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "CountryList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
                            }
    <div>
        @Html.ActionLink("Back to List", "EquipmentList")
    </div>
</div>

<div id="AddCOO"></div>
<div id="AddCurrency"></div>


@section Scripts {
    @Scripts.Render("~/Scripts/Deleter.js")


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/coo.js")



    @Scripts.Render("~/Scripts/Thousands.js")




}