﻿@model NVIDev.Models.ProSpec

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Project Type</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.Id</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("FPT", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FPT)
                @Html.ValidationMessageFor(model => model.FPT)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("BOQ Asset 101", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BOQ_Asset_101)
                @Html.ValidationMessageFor(model => model.BOQ_Asset_101)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("BOQ Asset 390", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BOQ_Asset_390)
                @Html.ValidationMessageFor(model => model.BOQ_Asset_390)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("BOQ Asset 500", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BOQ_Asset_500)
                @Html.ValidationMessageFor(model => model.BOQ_Asset_500)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
