﻿@model NVIDev.Models.BiInverterViewModel

@{
    ViewBag.Title = "Edit Bi-Inverter";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}


<div class="ibox-title">
    <h2>Edit Inverter</h2>
</div>

<div class="ibox-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Model.BiInverter.Id</h4>

            <hr />
            @Html.ValidationSummary(true)


            @Html.HiddenFor(model => model.BiInverter.Id)


            <div class="form-group">
                @Html.Label("Key", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.Key, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.Key)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Sub Category", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BiInverter.SubCategory, new SelectList(ViewBag.Subs), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.SubCategory)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Manufacturer", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.Manufacturer, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.Manufacturer)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Lead Time", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.LeadTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.LeadTime)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.BiInverter.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Dimensions", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.Dimensions, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.Dimensions)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Unit Of Measure", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.UOM, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.UOM)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Country Of Origin", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BiInverter.CountryOfOrigin, new SelectList(ViewBag.COO), new { @class = "form-control" }) @Ajax.ActionLink("Add Country +", "CreateCOO", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCOO" })
                    @Html.ValidationMessageFor(model => model.BiInverter.CountryOfOrigin)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Currency", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BiInverter.CCY, new SelectList(ViewBag.Currencies), new { @class = "form-control" }) @Ajax.ActionLink("Add Currency +", "CreateCurrency", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddCurrency" })
                    @Html.ValidationMessageFor(model => model.BiInverter.CCY)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Unit/WP", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.BiInverter.UnitWP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.UnitWP)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Item Cost", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                        @Html.HiddenFor(model => model.BiInverter.ItemCost, new { @class = "form-control" }) 

                    @Html.ValidationMessageFor(model => model.BiInverter.ItemCost)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Unit Cost/WP", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.BiInverter.UnitCost_WP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.UnitCost_WP)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Modules Per Pallet", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.ModulesPerPallet, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.ModulesPerPallet)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Pallets Per 20ft", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.PalletsPer20ft, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.PalletsPer20ft)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Inco Terms", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BiInverter.IncoTerms, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BiInverter.IncoTerms)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Communication List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="comList">
                        @{
        foreach (var item in Model.CommunicationList)
        {
            Html.RenderPartial("Filler", item);
        }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "CommunicationList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "comList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Application List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="AppList">
                        @{
        foreach (var item in Model.ApplicationList)
        {
            Html.RenderPartial("Filler", item);
        }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "ApplicationList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "AppList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("Interface List", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="intList">
                        @{
        foreach (var item in Model.InterfaceList)
        {
            Html.RenderPartial("Filler", item);
        }
                        }

                    </div>

                    @Ajax.ActionLink("+", "AddFiller", new { id = "InterfaceList" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "intList", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-sm btn-success" })
                </div>

            </div>










            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "EquipmentList")
            </div>
        </div>
    }
    </div>


    <div id="AddCOO"></div>
    <div id="AddCurrency"></div>


    @section Scripts {
        @Scripts.Render("~/Scripts/Deleter.js")


        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/Scripts/coo.js")


@Scripts.Render("~/Scripts/Thousands.js")




    }
