﻿@model NVIDev.Models.DutyViewModel

@{
    ViewBag.Title = "Edit Duty";
}
@section Submenu{
    @Html.Partial("_AdminNav")
}

<div class="ibox-title">
    <h2>Edit  Duty</h2>
</div>

<div class="ibox-content">
    @using (Html.BeginForm())
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name,  new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Countries",  new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="duties-droplist form-control">
                        Select Countries
                        <ul class=" duties-droplist-list">
                            @{
    foreach (var country in Model.PossibleCountries)
    {


        if (Model.UseCountries.Select(m => m.Name).ToList().Contains(country.Name))
        {
            country.UseMe = true;
        }
        @Html.Partial("UseCountry", country)

    }
                            }

                        </ul>
                    </div>

                </div>
                @Html.Label("Equipment", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <div class="duties-droplist form-control">
                        Select Equipment
                        <ul class=" duties-droplist-list">
                            @{
    foreach (var item in Model.PossibleEquipment)
    {

        if (Model.UseEquipment.Select(m => m.Name).ToList().Contains(item.Name))
        {
            item.UseMe = true;
        }

        @Html.Partial("UseEquipment", item)

    }
                            }

                        </ul>
                    </div>

                </div>
                <div class="col-md-3"></div>
            </div>



            <div class="form-group">
                @Html.Label("All Countries", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div>
                        @Html.CheckBoxFor(model => model.AllCountries, new { @class = "checkbox" })
                        @Html.ValidationMessageFor(model => model.AllCountries, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>



            <div class="form-group">
                @Html.Label("Rate", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3 clearfix">
                    <div class="input-group">


                        @Html.HiddenFor(model => model.Rate, new { @class = "form-control" }) <span class="input-group-addon">%</span>
                    </div>

                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Customs Value", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CustomsValue, new SelectList(ViewBag.Customs), new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.CustomsValue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
}

    <div>
        @Html.ActionLink("Back to List", "Duties")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/duties.js")
@Scripts.Render("~/Scripts/Thousands.js")


}
