﻿@model NVIDev.Models.Currency

@{
    ViewBag.Title = "EditCurrency";
}


<div class="ibox-title">
    <h2>Edit Currency</h2>

</div>
<div class="ibox-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Currency : @Model.id</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.Label("Value In Dollars", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ValueInDollars, new { htmlAttributes = new { @class = "form-control" } }) /USD
                    @Html.ValidationMessageFor(model => model.ValueInDollars, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Currencies")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
