﻿@model NVIDev.Models.RoleViewModel
    @{
        ViewBag.Title = "Edit";
    }

    @{
        var deets = (NVIDev.Models.ApplicationUser)ViewBag.User;
    }
    <h2>Change Role</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <div class="form-horizontal">
            <h4>Project</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                <dl class="col-md-12 dl-horizontal ">

                    <dt>
                        @Html.Label(" User Name:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.UserName)
                    </dd>

                    <dt>@Html.Label("Roles:", new { @class = "control-label" })</dt>
                    <dd>
                    <div class=" duties-droplist form-control ">
                        Select Roles
                        <ul class=" duties-droplist-list">
                            @{
        foreach (var role in Model.Roles)
        {

            @Html.Partial("UseRole", role)

        }
                            }

                        </ul>
                    </div></dd>
                   
                    </dl>
                    </div>
            @Html.HiddenFor( m => m.UserID)

            <div class="form-group">
              
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>


    }

@section Scripts {
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/duties.js")
}
