﻿@model NVIDev.Models.EquipmentListviewModel

@{
    ViewBag.Title = "Equipment List";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Equipment List</h2>
    <h5 class="text-danger">@ViewBag.Message</h5>
</div>

<div class="ibox-content">



    @Html.Partial("~/Views/Admin/ImportExcel.cshtml")
    <h4>Current Equipment</h4>@Html.ActionLink("Clear All", "ClearAllEquipment", null, new { @class = "btn btn-warning btn-sm" , @onclick ="return confirm('Delete all equipment?')"})
	<hr />
    
    <h4 class="mtab" onclick="toggleTable('InverterRows')"><span class="glyphicon glyphicon-plus-sign"></span> Inverters</h4>

    <table class="table table-bordered hidden" id="InverterRows">
        <tr><td>@Html.ActionLink("+ Create", "CreateInverter", null, new { @class = "btn btn-primary btn-sm" })</td></tr>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Item Cost </th>
        </tr>
        @{
            foreach (var item in Model.Inverters)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.ItemCost @item.CCY </td>
                    <td>@Html.ActionLink("Edit", "EditInverter", new { id = item.Id }) || @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id + "!Inverter" }, new { @onclick = "return confirm('Delete " + item.Id + "?')" })</td>
                </tr>
            }
        }


    </table><hr />

    <h4 class="mtab" onclick="toggleTable('BiInverterRows')"><span class="glyphicon glyphicon-plus-sign"></span> Bi-Inverters</h4>

    <table class="table table-bordered hidden" id="BiInverterRows">
        <tr><td>@Html.ActionLink("+ Create", "CreateBiInverter", null, new { @class = "btn btn-sm btn-primary" })</td></tr>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Item Cost </th>
        </tr>
        @{
            foreach (var item in Model.BiInverters)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.ItemCost @item.CCY</td>
                    <td>@Html.ActionLink("Edit", "EditBiInverter", new { id = item.Id }) || @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id + "!BiInverter" }, new { @onclick = "return confirm('Delete " + item.Id + "?')" })</td>

                </tr>
            }
        }
    </table><hr />


    <h4 onclick="toggleTable('MountRows')" class="mtab"><span class="glyphicon glyphicon-plus-sign"></span> Mounting Structures</h4>

    <table class="table table-bordered hidden" id="MountRows">
        <tr><td>@Html.ActionLink("+ Create", "CreateMountingStructure", null, new { @class = "btn btn-sm btn-primary" })</td></tr>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Item Cost </th>
            <td>Type</td>
        </tr>
        @{
            var alistical = from g in Model.MountingStructures orderby g.Type select g;
            foreach (var item in alistical)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.ItemCost @item.CCY</td>
                    <td>@item.Type</td>
                    <td>@Html.ActionLink("Edit", "EditMountingStructure", new { id = item.Id }) || @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id + "!Mountingstructure" }, new { @onclick = "return confirm('Delete " + item.Id + "?')" })</td>

                </tr>
            }
        }
    </table><hr />

    <h4 onclick="toggleTable('PVMods')" class="mtab"><span class="glyphicon glyphicon-plus-sign"></span> PV Modules</h4>

    <table class="table table-bordered hidden" id="PVMods">
        <tr><td>@Html.ActionLink("+ Create", "CreatePVModule", null, new { @class = "btn btn-sm btn-primary" })</td></tr>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Item Cost </th>
        </tr>
        @{
            foreach (var item in Model.PVModules)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.ItemCost @item.CCY</td>
                    <td>@Html.ActionLink("Edit", "EditPVModule", new { id = item.Id }) || @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id + "!PVModule" }, new { @onclick = "return confirm('Delete " + item.Id + "?')" })</td>
                </tr>
            }
        }
    </table><hr />
    <h4 class="mtab" onclick="toggleTable('BattRows')"><span class="glyphicon glyphicon-plus-sign"></span> Batteries</h4>

    <table class="table table-bordered hidden" id="BattRows">
        <tr><td>@Html.ActionLink("+ Create", "CreateBattery", null, new { @class = "btn btn-sm btn-primary" })</td></tr>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Item Cost </th>

        </tr>
        @{
            foreach (var item in Model.Batteries)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.ItemCost @item.CCY</td>
                    <td>@Html.ActionLink("Edit", "EditBattery", new { id = item.Id }) || @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id + "!Battery" }, new { @onclick = "return confirm('Delete " + item.Id + "?')" })</td>

                </tr>
            }
        }
    </table><hr />

    <h4 class="mtab" onclick="toggleTable('balance')"><span class="glyphicon glyphicon-plus-sign"></span> Balance of System</h4>

    <table class="table table-bordered hidden" id="balance">
        <tr><td>@Html.ActionLink("+ Create", "CreateBalanceSystem", null, new { @class = "btn btn-sm btn-primary" })</td></tr>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Item Cost </th>
        </tr>
        @{
            var sortedList = from a in Model.BalanceSystems orderby a.Type select a;
            foreach (var item in sortedList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.Type</td>
                    <td>@item.ItemCost @item.CCY</td>
                    <td>@Html.ActionLink("Edit", "EditBalanceSystem", new { id = item.Id }) || @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id + "!BalanceSystem" }, new { @onclick = "return confirm('Delete " + item.Id + "?')" })</td>

                </tr>
            }
        }
    </table>
    <p>

        @Html.ActionLink("Back to Admin", "Index")
    </p>
</div>


@section Scripts{
<script type="text/javascript">

    function toggleTable(tab) {

        var id = '#' + tab;
        var hasclass = $(id).hasClass("active")
        if (hasclass) {
            $(id).addClass("hidden").removeClass("active")
        }

        else {
            $(id).addClass("active").removeClass("hidden")

        }

    }

    </script>
}
