﻿@model NVIDev.Models.Fees

@{
    ViewBag.Title = "Fees";
}
@section Submenu{
    @Html.Partial("_AdminNav")
}

<div class="ibox-title">
    <h2>Fees</h2>
</div>

<div class="ibox-content">
    <h3>All Static Values</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        <table class="table">
            <tr>
                <th>Service</th>
                <th>Activity</th>
                <th>0,2</th>
                <th>0,5</th>
                <th>1,0</th>
                <th>5,0</th>
                <th>5+</th>
                <th>Fee Base</th>
                <th>PBS</th>
                <th>PPA</th>
                <th>SDS</th>
                <th>Min ($)</th>


                <th>Diesel Hybrid</th>




            </tr>
            <tr>
                <td>Preliminaries & General</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Prelim_Gen_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prelim_Gen_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prelim_Gen_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Prelim_Gen_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prelim_Gen_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Prelim_Gen_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Prelim_Gen_DHybrid,new { @class="form-control"}) @Html.ValidationMessageFor(model => model.Prelim_Gen_DHybrid)</td>

            </tr>
            <tr>
                <td>Procurement</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Procurement_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Procurement_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Procurement_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Procurement_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Procurement_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Procurement_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Procurement_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Working Capital</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Work_Cap_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Work_Cap_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Work_Cap_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Work_Cap_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Work_Cap_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Work_Cap_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Work_Cap_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Prepare Vetting Docs</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Prep_Vet_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prep_Vet_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prep_Vet_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Prep_Vet_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prep_Vet_51,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Prep_Vet_FeeBase,new { @class="form-control"})</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>

                <td>@Html.HiddenFor(model => model.Prep_Vet_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Prep_Vet_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Technical Vetting</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Tech_Vet_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Tech_Vet_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Tech_Vet_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Tech_Vet_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Tech_Vet_51,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Tech_Vet_FeeBase,new { @class="form-control"})</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Tech_Vet_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Tech_Vet_DHybrid,new { @class="form-control"})</td>

            </tr>


            <tr>
                <td>Performance Guarantee</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Performance_GaranT_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Performance_GaranT_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Performance_GaranT_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Performance_GaranT_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Performance_GaranT_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Performance_GaranT_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Performance_GaranT_DHybrid,new { @class="form-control"})</td>

            </tr>


            <tr>
                <td>Project Management</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Project_Manage_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Project_Manage_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Project_Manage_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Project_Manage_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Project_Manage_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Project_Manage_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Project_Manage_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Commissioning</td>
                <td>Upfront Cost</td>
                <td>@Html.HiddenFor(model => model.Commissioning_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Commissioning_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Commissioning_1,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Commissioning_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Commissioning_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Commissioning_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Commissioning_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Margin/Contingency</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Margin_Contin_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Margin_Contin_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Margin_Contin_1,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Margin_Contin_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Margin_Contin_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Margin_Contin_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Margin_Contin_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Monotoring Software</td>
                <td>Ongoing Cost</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_1,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>@Html.HiddenFor(model => model.Monitor_Software_PBS,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_PPA,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_SDS,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Monitor_Software_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Monitor_Software_DHybrid,new { @class="form-control"})</td>

            </tr>

            <tr>
                <td>Administration</td>
                <td>Ongoing Cost</td>
                <td>@Html.HiddenFor(model => model.Admin_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_1,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_51,new { @class="form-control"})</td>
                <td>-</td>

                <td>@Html.HiddenFor(model => model.Admin_PBS,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_PPA,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_SDS,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Admin_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Admin_DHybrid,new { @class="form-control"})</td>

            </tr>
            <tr>
                <td>Asset Managemet</td>
                <td>Ongoing Cost</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_1,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_51,new { @class="form-control"})</td>
                <td>-</td>
                l
                <td>@Html.HiddenFor(model => model.Asset_Manage_PBS,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_PPA,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_SDS,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Asset_Manage_Min,new { @class="form-control"})</td>

                <td>@Html.HiddenFor(model => model.Asset_Manage_DHybrid,new { @class="form-control"})</td>

            </tr>
            <tr>
                <td>Project Duration</td>
                <td>-</td>
                <td>@Html.HiddenFor(model => model.Duration_02,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Duration_05,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Duration_1,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Duration_5,new { @class="form-control"})</td>
                <td>@Html.HiddenFor(model => model.Duration_51,new { @class="form-control"})</td>
            </tr>
        </table>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Thousands.js")

}
