﻿@model NVIDev.Models.Filler
<div class="Inverter-Config">
    @using (Html.BeginCollectionItem(Model.ParentList))
    {
        <div class="input-group col-md-3 clearfix" style="margin:1px">
            <div class="text-primary">@Html.TextBoxFor(model => model.Value, new { @class = "form-control" })</div><span class="input-group-btn"><a class="btn btn-danger" onclick="deleteContainer(this)">-</a></span>
           
        </div>
    }
</div>
