﻿

@using (Html.BeginForm("ImportExcel", "Admin", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    <p>Click "Choose File"  to select the correctly formatted excel file to populate equipment. Once done, click "Import" to begin the importing process.</p>
    <input type="file" name="file" style="margin-bottom:10px" />
    <input type="submit" value="Import" class="btn btn-success" />
}
