﻿@model IEnumerable<NVIDev.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

@section Submenu{

    @Html.Partial("_AdminNav")
  
}

@*<h3>Variable Manager</h3>

    @Html.ActionLink(" Review Variables ", "Variables", null, new { @class = "btn btn-primary" })  @Html.ActionLink("Manage Currencies ", "Currencies", null, new { @class = "btn btn-primary" })


    <h3>Project Manager</h3>

    @Html.ActionLink(" Review Projects ", "Projects", null, new { @class = " btn btn-primary" })

    <h3>Equipment Manager</h3>

    @Html.ActionLink(" Review Equipment ", "EquipmentList", null, new { @class = " btn btn-primary" }) @Html.ActionLink(" Manage Categories ", "Categories", null, new { @class = " btn btn-primary" }) @Html.ActionLink(" Countries of Origin ", "COO", null, new { @class = " btn btn-primary" }) @Html.ActionLink(" Manage Ports ", "Ports", null, new { @class = " btn btn-primary" })


    <h3>Fee Manager</h3>

    @Html.ActionLink(" Review Fees ", "Fees", null, new { @class = " btn btn-primary" }) @Html.ActionLink(" Manage Duties ", "Duties", null, new { @class = " btn btn-primary" })*@


<div class="ibox-title">
    <h3>Application Users</h3>
</div>

<div class="ibox-content">
    <table class="table">
        <tr>


            <th>
                Username
            </th>
            <th>
                Roles
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @{
            foreach (var role in item.Roles)
            {


                switch (role.RoleId)
                {
                    case "NVIAdmin":<span>| NVI Admin</span> break;
                    case "NVIUser": <span>| NVI User</span>break;
                    case "TPAdmin":<span>| TP Admin</span> break;
                    case "TPUser":<span>| TP User</span> break;

                }
            }

                    }

                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @{
            if (item.Roles.Count <= 0 || item.Roles.First().RoleId == "Basic")
            {
                <span>
                    @Html.ActionLink("Allow", "Allow", new { id = item.Id })
                </span>
            }

            else
            {
                <span>@Html.ActionLink("Suspend", "Suspend", new { id = item.Id })</span>
            }
                    }
                </td>
            </tr>
        }

    </table>
</div>