﻿@model IEnumerable<NVIDev.Models.Port>

@{
    ViewBag.Title = "Ports";
}

@section Submenu{
    @Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Ports</h2>
</div>

<div class="ibox-content">
    <p>
        @Html.ActionLink("Create New", "CreatePort", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditPort", new { id = item.id }) |
                    @Html.ActionLink("Delete", "DeletePort", new { id = item.id }, new { @onclick = "return confirm('Delete " + item.Name + "?')" })
                </td>
            </tr>
        }

    </table>

    @Html.ActionLink("Back To Admin", "Index")
</div>