﻿    @model IEnumerable<NVIDev.Models.Project>

@{
    ViewBag.Title = "Projects";
}
@section Submenu{
    @Html.Partial("_AdminNav")


}
<div class="ibox-title">
    <h2>Projects</h2>
    <p>      
     @Html.ActionLink("Create New", "Create", "Project",null, new { @class ="btn btn-primary" })


    </p>
</div>

<div class="ibox-content">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>

            <th>
                @Html.Display("Full Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revision)
            </th>
            <th>Flagged</th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                   @Html.Action("GetFullname","Admin", new { id = item.CurrentUserID })
                </td>
                <td>
                    @item.Revision.ToString("0.##")
                </td>
                @{
    bool ready = false;
                }
                @{

    if (!string.IsNullOrWhiteSpace(item.PVModuleIDS) && item.Valid)
    {
        if (item.UpfrontXI > 0)
        {
            <td class="text-success">Reviewed</td>

        }

        else
        {
            <td class="text-warning">Needs Review</td>
        }

        ready = true;
    }

    else
    {
        <td class="text-danger">Not Ready</td>
    }

                }
                <td>
                    @{
                if(ready)
                {
                    <span>@Html.ActionLink("Input", "EditVars", "Admin", new { id = item.Id }, null) |</span>
                        <span>@Html.ActionLink("Review", "Review", "Admin", new { id = item.Id }, null) |</span>
                        @*<span>@Html.ActionLink("Shipping ", "TestOrders", "Admin", new { id = item.Id }, null) |</span>*@

                }

                else
                {
                    <span>Input |</span>
                        <span>Review |</span>
                }
                    }

                    @Html.ActionLink("Details", "Details", "Project", new { id = item.Id }, null)

                </td>
            </tr>
}

    </table>
</div>