﻿@model NVIDev.Models.Order

@{
    ViewBag.Title = "TestOrders";
}

<h2>Test Orders</h2>
<h3>Containers : @Model.Containers.Count</h3>
<hr />
@{
    foreach(var container in Model.Containers)
    {
        <h4>@container.CountryOfOrigin : @container.Size Container   : @container.Pallets.Count pallets</h4>
    
 
      var filled = "";
      filled = (container.PercentageFilled * 100).ToString("0.##");

    
    <h4>@filled % filled</h4>
  
   
        
   
        foreach (var item in container.Pallets)
        {

            var percentageFull = "";
            if(container.Size == NVIDev.Models.ContainerType.ft40)
            {
                percentageFull = (item.PercentageFilled * 100.00).ToString("0.##");
            }
            else
            {
                percentageFull = (item.PercentageFilled * 100.00).ToString("0.##"); 

            }
         
          
            int palletNum = container.Pallets.IndexOf(item) + 1;
            var containerSpace = (item.ContainerSpaceUsed * 100.00).ToString("0.##");
         
    
    <h5>@palletNum ) @item.Name    </h5>
 <h5>@item.Equipment.Count x units : @percentageFull % Pallet Space </h5>
    <h5>@containerSpace % Container Space</h5>
    <hr />

        }
        


    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")

}
