﻿@model NVIDev.Models.DutyItem
@using (Html.BeginCollectionItem("UseCountries"))
{  
    <li>
        
        <label>@Html.CheckBoxFor(model => model.UseMe) @Model.Name</label>
        @Html.HiddenFor(model => model.Name)
    </li>

}