﻿@model NVIDev.Models.DutyItem
@using (Html.BeginCollectionItem("UseEquipment"))
{
    <li>

        <label>@Html.CheckBoxFor(model => model.UseMe) @Model.Name</label>
        @Html.HiddenFor(model => model.Name)
    </li>

}
