﻿@model NVIDev.Models.RoleModel
@using (Html.BeginCollectionItem("Roles"))
{
    <li>

        <label>@Html.CheckBoxFor(model => model.includeMe) @Model.Role</label>
        @Html.HiddenFor(model => model.Role)
    </li>

}
