﻿@model NVIDev.Models.DutyItem

@using (Html.BeginCollectionItem("UseTaxes"))
{
    <tr id="RandomID_@(Guid.NewGuid())">

        <td>
        
            @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.PossibleTaxes), new { onchange ="populateTax(this)", @class="form-control" })
        </td>
        <td id="RandomID_@(Guid.NewGuid()) Rate">@Model.Extra</td>
        <td><a class="btn btn-danger btn-xs" onclick="deleteContainer(this)">-</a></td>
    </tr>

}

