﻿
@{
    ViewBag.Title = "Variables";
    var Countries = ViewBag.Countries;
    var ProTypes = ViewBag.ProTypes;
}

@section Submenu{
@Html.Partial("_AdminNav")


}

<div class="ibox-title">
    <h2>Variables</h2>

</div>

<div class="ibox-content">

    <table class="table">
        <tr>

            <th>
                NVI Static Inputs
            </th>

            <th>Revision Date</th>
        </tr>

        <tr>
            <td>
                Main
            </td>

            @{
                    if (ViewBag.Rev == null)
                    {
                        <td>@ViewBag.Rev  @Html.ActionLink("Create", "CreateNVIStatic") || @Html.ActionLink("Edit", "EditNVIStatic", new { id = 1 })</td>
                    }

                    else
                    {
                        <td> @ViewBag.Rev @Html.ActionLink("Edit NVI Static", "EditNVIStatic", new { id = 1 })</td>
                    }
            }

        </tr>


    </table>



    <table class="table">
        <tr>


            <th class="col-md-2">
                Country
            </th>
            <th class="col-md-2">Action</th>


        </tr>

        @foreach (NVIDev.Models.Country item in Countries)
    {
            <tr>
                <td class="col-md-2">
                    @item.Id
                </td>



                <td class="col-md-2">

                    @Html.ActionLink("Edit", "EditCountry", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCountry", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete " +item.Id + "?')" })
                </td>
            </tr>
    }

    </table>


    @*<table class="table">
        <tr>


            <th class="col-md-2">
                Project Types
            </th>


            <th class="col-md-2">Action</th>
        </tr>

        @foreach (NVIDev.Models.ProSpec item in ProTypes)
    {
            <tr>
                <td class="col-md-2">
                    @item.Id
                </td>



                <td class="col-md-2">

                    @Html.ActionLink("Edit", "EditProspecs", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteProSpecs", new { id = item.Id })
                </td>
            </tr>
    }

    </table>*@
    @*@Html.ActionLink("Add Project Type +", "CreateProSpecs", null, new { @class = "btn btn-primary col-md-2" })*@


    @Html.ActionLink("Add Country +", "CreateCountry", null, new { @class = "btn btn-primary clearfix" })
    <div class="clearfix"></div>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


}
