﻿@model NVIDev.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="ibox-title">
    <h2>Create  Duty</h2>
</div>


<div class="ibox-content">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>User Info:</dt>
            <dd>[@Html.ActionLink(" Manage Your Details ", "ManageDetails")]</dd>
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>

        </dl>
    </div>
</div>